.page-banner-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.page-banner-preview__status {
  color: var(--seed-color-fg-neutral-subtle);
  font-size: var(--seed-font-size-t3);
  line-height: var(--seed-line-height-t3);
}
