.docs-lynx-content-placeholder-root {
  padding: 20px;
  gap: 20px;
  align-items: center;
  background-color: var(--seed-color-bg-layer-default);
}

.docs-lynx-content-placeholder-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding: 16px;
  background-color: var(--seed-color-bg-layer-default);
}
