/* biome-ignore lint/correctness/noUnknownTypeSelector: Lynx의 page 요소입니다. */
page {
  height: 100%;
  background-color: var(--seed-color-bg-layer-default);
}

.tabs-preview {
  height: 100%;
  padding: 24px 0;
}

.tabs-preview__carousel {
  height: 300px;
}

.tabs-preview__content {
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: var(--seed-color-bg-layer-default);
}

.tabs-preview__content-text {
  color: var(--seed-color-fg-neutral);
  font-size: 16px;
}

.tabs-preview__scroll {
  height: 100%;
}

.tabs-preview__sticky-content {
  height: 1000px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, white, gray);
}

.tabs-preview__dynamic-content {
  align-items: center;
  justify-content: center;
  background-color: var(--seed-color-bg-layer-default);
}

.tabs-preview__dynamic-footer {
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.tabs-preview__scroll-top-carousel,
.tabs-preview__scroll-top {
  height: 200px;
}

.tabs-preview__scroll-top-content {
  height: 1000px;
  align-items: center;
  background-color: var(--seed-color-bg-layer-default);
}

.tabs-preview__scroll-top-item {
  height: 100px;
  align-items: center;
  justify-content: center;
}
