/* biome-ignore lint/correctness/noUnknownTypeSelector: Lynx의 page 요소입니다. */
page {
  height: 100%;
  background-color: var(--seed-color-bg-layer-default);
}

.action-button-preview {
  height: 100%;
  align-items: center;
  justify-content: center;
}
