.docs-lynx-action-button-root {
  height: 100%;
  background-color: var(--seed-color-bg-layer-default);
}

.action-button-preview {
  height: 100%;
  align-items: center;
  justify-content: center;
}
