:root {
  --seed-safe-area-top: 0px;
  --seed-safe-area-bottom: 0px;
}

@supports (left: constant(safe-area-inset-left)) {
  :root {
    --seed-safe-area-top: constant(safe-area-inset-top);
    --seed-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (left: env(safe-area-inset-left)) {
  :root {
    --seed-safe-area-top: env(safe-area-inset-top);
    --seed-safe-area-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  --seed-font-size-multiplier: 1;
  --seed-font-size-limit-min: .8;
  --seed-font-size-limit-max: 1.5;
  --seed-line-height-limit-min: .8;
  --seed-line-height-limit-max: 1.5;
}

[data-seed-platform="ios"] {
  --seed-font-size-limit-max: 1.35;
  --seed-line-height-limit-max: 1.35;
}

@supports (font: -apple-system-body) {
  html[data-seed-platform="ios"][data-seed-font-scaling="enabled"] {
    --seed-font-size-multiplier: .9412;
    font: -apple-system-body;
  }
}

.seed-loading-indicator {
  display: inline-flex;
  position: absolute;
}

.seed-icon, .seed-prefix-icon, .seed-suffix-icon {
  vertical-align: middle;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.seed-icon {
  width: var(--seed-icon-size);
  height: var(--seed-icon-size);
  color: var(--seed-icon-color, currentColor);
}

.seed-prefix-icon {
  width: var(--seed-prefix-icon-size);
  height: var(--seed-prefix-icon-size);
  color: var(--seed-prefix-icon-color, currentColor);
  margin-left: var(--seed-prefix-icon-margin-left, 0);
  margin-right: var(--seed-prefix-icon-margin-right, 0);
  margin-top: var(--seed-prefix-icon-margin-top, 0);
  margin-bottom: var(--seed-prefix-icon-margin-bottom, 0);
  align-self: var(--seed-prefix-icon-align-self);
  justify-self: var(--seed-prefix-icon-justify-self);
}

.seed-suffix-icon {
  width: var(--seed-suffix-icon-size);
  height: var(--seed-suffix-icon-size);
  color: var(--seed-suffix-icon-color, currentColor);
  margin-left: var(--seed-suffix-icon-margin-left, 0);
  margin-right: var(--seed-suffix-icon-margin-right, 0);
  margin-top: var(--seed-suffix-icon-margin-top, 0);
  margin-bottom: var(--seed-suffix-icon-margin-bottom, 0);
  align-self: var(--seed-suffix-icon-align-self);
  justify-self: var(--seed-suffix-icon-justify-self);
}

.seed-count {
  font-size: var(--seed-count-font-size);
  line-height: var(--seed-count-line-height);
  font-weight: var(--seed-count-font-weight);
  color: var(--seed-count-color);
}

.seed-box {
  --seed-box-background: initial;
  --seed-box-color: initial;
  background: var(--seed-box-background);
  color: var(--seed-box-color);
  --seed-box-border-style: solid;
  --seed-box-border-color: initial;
  border-style: var(--seed-box-border-style);
  border-color: var(--seed-box-border-color);
  --seed-box-border-width: 0;
  --seed-box-border-top-width: var(--seed-box-border-width);
  --seed-box-border-bottom-width: var(--seed-box-border-width);
  --seed-box-border-left-width: var(--seed-box-border-width);
  --seed-box-border-right-width: var(--seed-box-border-width);
  border-top-width: var(--seed-box-border-top-width);
  border-bottom-width: var(--seed-box-border-bottom-width);
  border-left-width: var(--seed-box-border-left-width);
  border-right-width: var(--seed-box-border-right-width);
  --seed-box-padding: 0;
  --seed-box-padding-y: var(--seed-box-padding);
  --seed-box-padding-x: var(--seed-box-padding);
  --seed-box-padding-bottom: var(--seed-box-padding-y);
  --seed-box-padding-top: var(--seed-box-padding-y);
  --seed-box-padding-left: var(--seed-box-padding-x);
  --seed-box-padding-right: var(--seed-box-padding-x);
  padding-top: var(--seed-box-padding-top);
  padding-bottom: var(--seed-box-padding-bottom);
  padding-left: var(--seed-box-padding-left);
  padding-right: var(--seed-box-padding-right);
  --seed-box-bleed-bottom: 0px;
  --seed-box-bleed-top: 0px;
  --seed-box-bleed-left: 0px;
  --seed-box-bleed-right: 0px;
  margin-top: calc(var(--seed-box-bleed-top) * -1);
  margin-bottom: calc(var(--seed-box-bleed-bottom) * -1);
  margin-left: calc(var(--seed-box-bleed-left) * -1);
  margin-right: calc(var(--seed-box-bleed-right) * -1);
  --seed-box-min-height: initial;
  --seed-box-max-height: initial;
  --seed-box-height: initial;
  --seed-box-min-width: initial;
  --seed-box-max-width: initial;
  --seed-box-width: initial;
  min-height: var(--seed-box-min-height);
  max-height: var(--seed-box-max-height);
  height: var(--seed-box-height);
  min-width: var(--seed-box-min-width);
  max-width: var(--seed-box-max-width);
  width: var(--seed-box-width);
  --seed-box-top: initial;
  --seed-box-bottom: initial;
  --seed-box-left: initial;
  --seed-box-right: initial;
  top: var(--seed-box-top);
  bottom: var(--seed-box-bottom);
  left: var(--seed-box-left);
  right: var(--seed-box-right);
  --seed-box-border-radius: initial;
  --seed-box-border-bottom-left-radius: var(--seed-box-border-radius);
  --seed-box-border-bottom-right-radius: var(--seed-box-border-radius);
  --seed-box-border-top-left-radius: var(--seed-box-border-radius);
  --seed-box-border-top-right-radius: var(--seed-box-border-radius);
  border-bottom-left-radius: var(--seed-box-border-bottom-left-radius);
  border-bottom-right-radius: var(--seed-box-border-bottom-right-radius);
  border-top-left-radius: var(--seed-box-border-top-left-radius);
  border-top-right-radius: var(--seed-box-border-top-right-radius);
  --seed-box-box-shadow: initial;
  box-shadow: var(--seed-box-box-shadow);
  --seed-box-display: block;
  --seed-box-position: initial;
  display: var(--seed-box-display);
  position: var(--seed-box-position);
  --seed-box-unstable-transform: initial;
  transform: var(--seed-box-unstable-transform);
  --seed-box-z-index: initial;
  z-index: var(--seed-box-z-index);
  --seed-box-overflow-x: initial;
  --seed-box-overflow-y: initial;
  overflow-x: var(--seed-box-overflow-x);
  overflow-y: var(--seed-box-overflow-y);
  --seed-box-flex-grow: initial;
  --seed-box-flex-shrink: initial;
  flex-grow: var(--seed-box-flex-grow);
  flex-shrink: var(--seed-box-flex-shrink);
  --seed-box-flex-direction: initial;
  --seed-box-flex-wrap: initial;
  --seed-box-justify-content: initial;
  --seed-box-justify-self: auto;
  --seed-box-align-items: stretch;
  --seed-box-align-content: stretch;
  --seed-box-align-self: auto;
  --seed-box-gap: initial;
  flex-direction: var(--seed-box-flex-direction);
  flex-wrap: var(--seed-box-flex-wrap);
  justify-content: var(--seed-box-justify-content);
  justify-self: var(--seed-box-justify-self);
  align-items: var(--seed-box-align-items);
  align-content: var(--seed-box-align-content);
  align-self: var(--seed-box-align-self);
  gap: var(--seed-box-gap);
  --seed-box-grid-column: initial;
  grid-column: var(--seed-box-grid-column);
  --seed-box-grid-row: initial;
  grid-row: var(--seed-box-grid-row);
}

.seed-box:is(:active, [data-active]) {
  --seed-box-background--active: var(--seed-box-background);
  background: var(--seed-box-background--active);
}

.seed-grid {
  --seed-grid-columns: initial;
  grid-template-columns: var(--seed-grid-columns);
  --seed-grid-rows: initial;
  grid-template-rows: var(--seed-grid-rows);
  --seed-grid-auto-flow: initial;
  grid-auto-flow: var(--seed-grid-auto-flow);
  --seed-grid-auto-columns: initial;
  grid-auto-columns: var(--seed-grid-auto-columns);
  --seed-grid-auto-rows: initial;
  grid-auto-rows: var(--seed-grid-auto-rows);
  --seed-grid-justify-items: stretch;
  justify-items: var(--seed-grid-justify-items);
  display: grid;
}

.seed-consistent-width:before {
  content: attr(data-text);
  visibility: hidden;
  height: 0;
  font-weight: var(--seed-font-weight-regular);
  display: block;
}

.seed-consistent-width:after {
  content: attr(data-text);
  visibility: hidden;
  height: 0;
  font-weight: var(--seed-font-weight-bold);
  display: block;
}

:root, [data-seed-color-mode="system"] {
  color-scheme: light dark;
}

[data-seed-color-mode="light-only"] {
  color-scheme: light;
  color-scheme: light only;
}

[data-seed-color-mode="dark-only"] {
  color-scheme: dark;
  color-scheme: dark only;
}

:root {
  --seed-dimension-x0_5: 2px;
  --seed-dimension-x1: 4px;
  --seed-dimension-x1_5: 6px;
  --seed-dimension-x2: 8px;
  --seed-dimension-x2_5: 10px;
  --seed-dimension-x3: 12px;
  --seed-dimension-x3_5: 14px;
  --seed-dimension-x4: 16px;
  --seed-dimension-x4_5: 18px;
  --seed-dimension-x5: 20px;
  --seed-dimension-x6: 24px;
  --seed-dimension-x7: 28px;
  --seed-dimension-x8: 32px;
  --seed-dimension-x9: 36px;
  --seed-dimension-x10: 40px;
  --seed-dimension-x12: 48px;
  --seed-dimension-x13: 52px;
  --seed-dimension-x14: 56px;
  --seed-dimension-x16: 64px;
  --seed-dimension-spacing-x-between-chips: var(--seed-dimension-x2);
  --seed-dimension-spacing-x-global-gutter: var(--seed-dimension-x4);
  --seed-dimension-spacing-y-component-default: var(--seed-dimension-x3);
  --seed-dimension-spacing-y-nav-to-title: var(--seed-dimension-x5);
  --seed-dimension-spacing-y-screen-bottom: var(--seed-dimension-x14);
  --seed-dimension-spacing-y-between-text: var(--seed-dimension-x1_5);
  --seed-duration-d1: 50ms;
  --seed-duration-d2: .1s;
  --seed-duration-d3: .15s;
  --seed-duration-d4: .2s;
  --seed-duration-d5: .25s;
  --seed-duration-d6: .3s;
  --seed-duration-color-transition: var(--seed-duration-d3);
  --seed-font-size-t1: clamp(calc(var(--seed-font-size-t1-static) * var(--seed-font-size-limit-min, .8)), calc(.6875rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t1-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t2: clamp(calc(var(--seed-font-size-t2-static) * var(--seed-font-size-limit-min, .8)), calc(.75rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t2-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t3: clamp(calc(var(--seed-font-size-t3-static) * var(--seed-font-size-limit-min, .8)), calc(.8125rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t3-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t4: clamp(calc(var(--seed-font-size-t4-static) * var(--seed-font-size-limit-min, .8)), calc(.875rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t4-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t5: clamp(calc(var(--seed-font-size-t5-static) * var(--seed-font-size-limit-min, .8)), calc(1rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t5-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t6: clamp(calc(var(--seed-font-size-t6-static) * var(--seed-font-size-limit-min, .8)), calc(1.125rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t6-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t7: clamp(calc(var(--seed-font-size-t7-static) * var(--seed-font-size-limit-min, .8)), calc(1.25rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t7-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t8: clamp(calc(var(--seed-font-size-t8-static) * var(--seed-font-size-limit-min, .8)), calc(1.375rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t8-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t9: clamp(calc(var(--seed-font-size-t9-static) * var(--seed-font-size-limit-min, .8)), calc(1.5rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t9-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t10: clamp(calc(var(--seed-font-size-t10-static) * var(--seed-font-size-limit-min, .8)), calc(1.625rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-font-size-t10-static) * var(--seed-font-size-limit-max, 1.5)));
  --seed-font-size-t1-static: 11px;
  --seed-font-size-t2-static: 12px;
  --seed-font-size-t3-static: 13px;
  --seed-font-size-t4-static: 14px;
  --seed-font-size-t5-static: 16px;
  --seed-font-size-t6-static: 18px;
  --seed-font-size-t7-static: 20px;
  --seed-font-size-t8-static: 22px;
  --seed-font-size-t9-static: 24px;
  --seed-font-size-t10-static: 26px;
  --seed-font-weight-regular: 400;
  --seed-font-weight-medium: 500;
  --seed-font-weight-bold: 700;
  --seed-line-height-t1: clamp(calc(var(--seed-line-height-t1-static) * var(--seed-line-height-limit-min, .8)), calc(.9375rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t1-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t2: clamp(calc(var(--seed-line-height-t2-static) * var(--seed-line-height-limit-min, .8)), calc(1rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t2-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t3: clamp(calc(var(--seed-line-height-t3-static) * var(--seed-line-height-limit-min, .8)), calc(1.125rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t3-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t4: clamp(calc(var(--seed-line-height-t4-static) * var(--seed-line-height-limit-min, .8)), calc(1.1875rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t4-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t5: clamp(calc(var(--seed-line-height-t5-static) * var(--seed-line-height-limit-min, .8)), calc(1.375rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t5-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t6: clamp(calc(var(--seed-line-height-t6-static) * var(--seed-line-height-limit-min, .8)), calc(1.5rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t6-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t7: clamp(calc(var(--seed-line-height-t7-static) * var(--seed-line-height-limit-min, .8)), calc(1.6875rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t7-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t8: clamp(calc(var(--seed-line-height-t8-static) * var(--seed-line-height-limit-min, .8)), calc(1.875rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t8-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t9: clamp(calc(var(--seed-line-height-t9-static) * var(--seed-line-height-limit-min, .8)), calc(2rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t9-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t10: clamp(calc(var(--seed-line-height-t10-static) * var(--seed-line-height-limit-min, .8)), calc(2.1875rem * var(--seed-font-size-multiplier, 1)), calc(var(--seed-line-height-t10-static) * var(--seed-line-height-limit-max, 1.5)));
  --seed-line-height-t1-static: 15px;
  --seed-line-height-t2-static: 16px;
  --seed-line-height-t3-static: 18px;
  --seed-line-height-t4-static: 19px;
  --seed-line-height-t5-static: 22px;
  --seed-line-height-t6-static: 24px;
  --seed-line-height-t7-static: 27px;
  --seed-line-height-t8-static: 30px;
  --seed-line-height-t9-static: 32px;
  --seed-line-height-t10-static: 35px;
  --seed-radius-r0_5: 2px;
  --seed-radius-r1: 4px;
  --seed-radius-r1_5: 6px;
  --seed-radius-r2: 8px;
  --seed-radius-r2_5: 10px;
  --seed-radius-r3: 12px;
  --seed-radius-r3_5: 14px;
  --seed-radius-r4: 16px;
  --seed-radius-r5: 20px;
  --seed-radius-r6: 24px;
  --seed-radius-full: 9999px;
  --seed-timing-function-linear: cubic-bezier(0, 0, 1, 1);
  --seed-timing-function-easing: cubic-bezier(.35, 0, .35, 1);
  --seed-timing-function-enter: cubic-bezier(0, 0, .15, 1);
  --seed-timing-function-exit: cubic-bezier(.35, 0, 1, 1);
  --seed-timing-function-enter-expressive: cubic-bezier(.03, .4, .1, 1);
  --seed-timing-function-exit-expressive: cubic-bezier(.35, 0, .95, .55);
}

:root, :root[data-seed-color-mode="system"][data-seed-user-color-scheme="light"], :root[data-seed-color-mode="light-only"], :root [data-seed-color-mode="light-only"] {
  --seed-color-palette-gray-00: #fff;
  --seed-color-palette-gray-100: #f7f8f9;
  --seed-color-palette-gray-200: #f3f4f5;
  --seed-color-palette-gray-300: #eeeff1;
  --seed-color-palette-gray-400: #dcdee3;
  --seed-color-palette-gray-500: #d1d3d8;
  --seed-color-palette-gray-600: #b0b3ba;
  --seed-color-palette-gray-700: #868b94;
  --seed-color-palette-gray-800: #555d6d;
  --seed-color-palette-gray-900: #2a3038;
  --seed-color-palette-gray-1000: #1a1c20;
  --seed-color-palette-carrot-100: #fff2ec;
  --seed-color-palette-carrot-200: #ffe8db;
  --seed-color-palette-carrot-300: #ffd5c0;
  --seed-color-palette-carrot-400: #ffb999;
  --seed-color-palette-carrot-500: #ff9364;
  --seed-color-palette-carrot-600: #f60;
  --seed-color-palette-carrot-700: #e14d00;
  --seed-color-palette-carrot-800: #b93901;
  --seed-color-palette-carrot-900: #862b00;
  --seed-color-palette-carrot-1000: #471601;
  --seed-color-palette-blue-100: #eff6ff;
  --seed-color-palette-blue-200: #e2edfc;
  --seed-color-palette-blue-300: #cbdffa;
  --seed-color-palette-blue-400: #aacefd;
  --seed-color-palette-blue-500: #85b8fd;
  --seed-color-palette-blue-600: #5e98fe;
  --seed-color-palette-blue-700: #217cf9;
  --seed-color-palette-blue-800: #135fcd;
  --seed-color-palette-blue-900: #0b4596;
  --seed-color-palette-blue-1000: #032451;
  --seed-color-palette-red-100: #fdf0f0;
  --seed-color-palette-red-200: #fde7e7;
  --seed-color-palette-red-300: #fed4d2;
  --seed-color-palette-red-400: #feb7b3;
  --seed-color-palette-red-500: #fe928d;
  --seed-color-palette-red-600: #fc6a66;
  --seed-color-palette-red-700: #fa342c;
  --seed-color-palette-red-800: #ca1d13;
  --seed-color-palette-red-900: #921708;
  --seed-color-palette-red-1000: #4a1209;
  --seed-color-palette-green-100: #edfaf6;
  --seed-color-palette-green-200: #d9f6e9;
  --seed-color-palette-green-300: #b9e9d2;
  --seed-color-palette-green-400: #7ddcb3;
  --seed-color-palette-green-500: #42c593;
  --seed-color-palette-green-600: #10ab7d;
  --seed-color-palette-green-700: #079171;
  --seed-color-palette-green-800: #00745f;
  --seed-color-palette-green-900: #075445;
  --seed-color-palette-green-1000: #0a2b24;
  --seed-color-palette-yellow-100: #fff7de;
  --seed-color-palette-yellow-200: #fdefb9;
  --seed-color-palette-yellow-300: #fbdc65;
  --seed-color-palette-yellow-400: #e9c647;
  --seed-color-palette-yellow-500: #d4ab28;
  --seed-color-palette-yellow-600: #c49725;
  --seed-color-palette-yellow-700: #9b7821;
  --seed-color-palette-yellow-800: #755b22;
  --seed-color-palette-yellow-900: #4f3e1f;
  --seed-color-palette-yellow-1000: #2c2512;
  --seed-color-palette-purple-100: #f5f3fe;
  --seed-color-palette-purple-200: #efeafe;
  --seed-color-palette-purple-300: #e1d8ff;
  --seed-color-palette-purple-400: #d0c0ff;
  --seed-color-palette-purple-500: #b8a1ff;
  --seed-color-palette-purple-600: #9f84fb;
  --seed-color-palette-purple-700: #8969ea;
  --seed-color-palette-purple-800: #6d50cb;
  --seed-color-palette-purple-900: #50379b;
  --seed-color-palette-purple-1000: #29175d;
  --seed-color-palette-static-black: #000;
  --seed-color-palette-static-black-alpha-100: #00000007;
  --seed-color-palette-static-black-alpha-200: #0000000c;
  --seed-color-palette-static-black-alpha-300: #00000010;
  --seed-color-palette-static-black-alpha-400: #00000021;
  --seed-color-palette-static-black-alpha-500: #0000002c;
  --seed-color-palette-static-black-alpha-600: #0000004c;
  --seed-color-palette-static-black-alpha-700: #00000074;
  --seed-color-palette-static-black-alpha-800: #000000a2;
  --seed-color-palette-static-black-alpha-900: #000000d0;
  --seed-color-palette-static-black-alpha-1000: #000000e3;
  --seed-color-palette-static-white: #fff;
  --seed-color-palette-static-white-alpha-50: #ffffff0d;
  --seed-color-palette-static-white-alpha-100: #ffffff17;
  --seed-color-palette-static-white-alpha-200: #ffffff20;
  --seed-color-palette-static-white-alpha-300: #ffffff2e;
  --seed-color-palette-static-white-alpha-400: #ffffff3d;
  --seed-color-palette-static-white-alpha-500: #ffffff60;
  --seed-color-palette-static-white-alpha-600: #ffffff8b;
  --seed-color-palette-static-white-alpha-700: #ffffffb3;
  --seed-color-palette-static-white-alpha-800: #ffffffde;
  --seed-color-palette-static-white-alpha-900: #ffffffea;
  --seed-color-palette-static-white-alpha-1000: #fffffff4;
  --seed-color-fg-brand: var(--seed-color-palette-carrot-600);
  --seed-color-fg-brand-contrast: var(--seed-color-palette-carrot-700);
  --seed-color-fg-critical: var(--seed-color-palette-red-700);
  --seed-color-fg-critical-contrast: var(--seed-color-palette-red-900);
  --seed-color-fg-disabled: var(--seed-color-palette-gray-500);
  --seed-color-fg-informative: var(--seed-color-palette-blue-700);
  --seed-color-fg-informative-contrast: var(--seed-color-palette-blue-900);
  --seed-color-fg-neutral: var(--seed-color-palette-gray-1000);
  --seed-color-fg-neutral-inverted: var(--seed-color-palette-gray-00);
  --seed-color-fg-neutral-muted: var(--seed-color-palette-gray-800);
  --seed-color-fg-neutral-subtle: var(--seed-color-palette-gray-700);
  --seed-color-fg-placeholder: var(--seed-color-palette-gray-600);
  --seed-color-fg-positive: var(--seed-color-palette-green-700);
  --seed-color-fg-positive-contrast: var(--seed-color-palette-green-900);
  --seed-color-fg-warning: var(--seed-color-palette-yellow-700);
  --seed-color-fg-warning-contrast: var(--seed-color-palette-yellow-900);
  --seed-color-bg-brand-solid: var(--seed-color-palette-carrot-600);
  --seed-color-bg-brand-solid-pressed: var(--seed-color-palette-carrot-700);
  --seed-color-bg-brand-weak: var(--seed-color-palette-carrot-100);
  --seed-color-bg-brand-weak-pressed: var(--seed-color-palette-carrot-200);
  --seed-color-bg-critical-solid: var(--seed-color-palette-red-700);
  --seed-color-bg-critical-solid-pressed: var(--seed-color-palette-red-800);
  --seed-color-bg-critical-weak: var(--seed-color-palette-red-100);
  --seed-color-bg-critical-weak-pressed: var(--seed-color-palette-red-200);
  --seed-color-bg-disabled: var(--seed-color-palette-gray-200);
  --seed-color-bg-informative-solid: var(--seed-color-palette-blue-700);
  --seed-color-bg-informative-solid-pressed: var(--seed-color-palette-blue-800);
  --seed-color-bg-informative-weak: var(--seed-color-palette-blue-100);
  --seed-color-bg-informative-weak-pressed: var(--seed-color-palette-blue-200);
  --seed-color-bg-layer-basement: var(--seed-color-palette-gray-200);
  --seed-color-bg-layer-default: var(--seed-color-palette-gray-00);
  --seed-color-bg-layer-default-pressed: var(--seed-color-palette-gray-100);
  --seed-color-bg-layer-fill: var(--seed-color-palette-gray-100);
  --seed-color-bg-layer-floating: var(--seed-color-palette-gray-00);
  --seed-color-bg-layer-floating-pressed: var(--seed-color-palette-gray-100);
  --seed-color-bg-magic-weak: #f9f2ee;
  --seed-color-bg-neutral-inverted: var(--seed-color-palette-gray-900);
  --seed-color-bg-neutral-inverted-pressed: var(--seed-color-palette-gray-800);
  --seed-color-bg-neutral-solid: var(--seed-color-palette-gray-1000);
  --seed-color-bg-neutral-solid-muted: var(--seed-color-palette-gray-800);
  --seed-color-bg-neutral-solid-muted-pressed: var(--seed-color-palette-gray-900);
  --seed-color-bg-neutral-weak: var(--seed-color-palette-gray-200);
  --seed-color-bg-neutral-weak-alpha: var(--seed-color-palette-static-black-alpha-200);
  --seed-color-bg-neutral-weak-alpha-pressed: var(--seed-color-palette-static-black-alpha-300);
  --seed-color-bg-neutral-weak-pressed: var(--seed-color-palette-gray-300);
  --seed-color-bg-overlay: var(--seed-color-palette-static-black-alpha-700);
  --seed-color-bg-overlay-muted: var(--seed-color-palette-static-black-alpha-500);
  --seed-color-bg-positive-solid: var(--seed-color-palette-green-700);
  --seed-color-bg-positive-solid-pressed: var(--seed-color-palette-green-800);
  --seed-color-bg-positive-weak: var(--seed-color-palette-green-100);
  --seed-color-bg-positive-weak-pressed: var(--seed-color-palette-green-200);
  --seed-color-bg-transparent: #0000;
  --seed-color-bg-transparent-pressed: var(--seed-color-palette-static-black-alpha-100);
  --seed-color-bg-warning-solid: var(--seed-color-palette-yellow-300);
  --seed-color-bg-warning-solid-pressed: var(--seed-color-palette-yellow-400);
  --seed-color-bg-warning-weak: var(--seed-color-palette-yellow-100);
  --seed-color-bg-warning-weak-pressed: var(--seed-color-palette-yellow-200);
  --seed-color-stroke-brand-solid: var(--seed-color-palette-carrot-700);
  --seed-color-stroke-brand-weak: var(--seed-color-palette-carrot-300);
  --seed-color-stroke-critical-solid: var(--seed-color-palette-red-700);
  --seed-color-stroke-critical-weak: var(--seed-color-palette-red-300);
  --seed-color-stroke-informative-solid: var(--seed-color-palette-blue-700);
  --seed-color-stroke-informative-weak: var(--seed-color-palette-blue-300);
  --seed-color-stroke-neutral-contrast: var(--seed-color-palette-gray-1000);
  --seed-color-stroke-neutral-muted: var(--seed-color-palette-static-black-alpha-300);
  --seed-color-stroke-neutral-solid: var(--seed-color-palette-gray-800);
  --seed-color-stroke-neutral-subtle: var(--seed-color-palette-static-black-alpha-200);
  --seed-color-stroke-neutral-weak: var(--seed-color-palette-gray-400);
  --seed-color-stroke-positive-solid: var(--seed-color-palette-green-700);
  --seed-color-stroke-positive-weak: var(--seed-color-palette-green-300);
  --seed-color-stroke-warning-solid: var(--seed-color-palette-yellow-700);
  --seed-color-stroke-warning-weak: var(--seed-color-palette-yellow-300);
  --seed-color-manner-temp-l1-bg: #f1f2f3;
  --seed-color-manner-temp-l1-text: #757b85;
  --seed-color-manner-temp-l10-bg: #ffebee;
  --seed-color-manner-temp-l10-text: #cb0123;
  --seed-color-manner-temp-l2-bg: #f8f4ec;
  --seed-color-manner-temp-l2-text: #ab863f;
  --seed-color-manner-temp-l3-bg: #fff5e5;
  --seed-color-manner-temp-l3-text: #e08a00;
  --seed-color-manner-temp-l4-bg: #fff3e5;
  --seed-color-manner-temp-l4-text: #f57e00;
  --seed-color-manner-temp-l5-bg: #fff1e5;
  --seed-color-manner-temp-l5-text: #ff7300;
  --seed-color-manner-temp-l6-bg: #fff0e5;
  --seed-color-manner-temp-l6-text: #f60;
  --seed-color-manner-temp-l7-bg: #ffefe5;
  --seed-color-manner-temp-l7-text: #ff5100;
  --seed-color-manner-temp-l8-bg: #ffeee5;
  --seed-color-manner-temp-l8-text: #f30;
  --seed-color-manner-temp-l9-bg: #fdeded;
  --seed-color-manner-temp-l9-text: #e82c45;
  --seed-color-banner-blue: #e1f7ff;
  --seed-color-banner-cool-gray: #ebf1f5;
  --seed-color-banner-green: #f0fbe5;
  --seed-color-banner-orange: #fff2e1;
  --seed-color-banner-pink: #ffebf1;
  --seed-color-banner-purple: #f5ecff;
  --seed-color-banner-red: #ffecee;
  --seed-color-banner-teal: #e6faf6;
  --seed-color-banner-warm-gray: #f2f0ee;
  --seed-color-banner-yellow: #fffae1;
  --seed-gradient-fade-layer-floating: #fff0 0%, #000 100%;
  --seed-gradient-fade-layer-default: #000 0%, #fff0 100%;
  --seed-gradient-glow-magic: #fef6f7 0%, #fef0e7 80%, #f9f7f5 100%;
  --seed-gradient-glow-magic-pressed: #fbf0f2 0%, #ffe8db 80%, #f5f2ef 100%;
  --seed-gradient-highlight-magic: #f60 20%, #d25aca 100%;
  --seed-gradient-highlight-magic-pressed: #e14f00 20%, #ae58bf 100%;
  --seed-gradient-shimmer-magic: #fff9f500 0%, #fff9f5cc 46%, #fff9f5cc 54%, #fff9f500 100%;
  --seed-gradient-shimmer-neutral: #fff0 0%, #ffffffab 46%, #ffffffab 54%, #fff0 100%;
  --seed-shadow-s1: 0px 1px 4px 0px #00000014;
  --seed-shadow-s2: 0px 2px 10px 0px #0000001a;
  --seed-shadow-s3: 0px 4px 16px 0px #0000001f;
}

:root[data-seed-color-mode="system"][data-seed-user-color-scheme="dark"], :root[data-seed-color-mode="dark-only"], :root [data-seed-color-mode="dark-only"] {
  --seed-color-palette-gray-00: #000;
  --seed-color-palette-gray-100: #16171b;
  --seed-color-palette-gray-200: #1d2025;
  --seed-color-palette-gray-300: #2b2e35;
  --seed-color-palette-gray-400: #393d46;
  --seed-color-palette-gray-500: #5b606a;
  --seed-color-palette-gray-600: #868b94;
  --seed-color-palette-gray-700: #b0b3ba;
  --seed-color-palette-gray-800: #dcdee3;
  --seed-color-palette-gray-900: #e9eaec;
  --seed-color-palette-gray-1000: #f3f4f5;
  --seed-color-palette-carrot-100: #31241f;
  --seed-color-palette-carrot-200: #4b291c;
  --seed-color-palette-carrot-300: #6b311c;
  --seed-color-palette-carrot-400: #923600;
  --seed-color-palette-carrot-500: #bd4201;
  --seed-color-palette-carrot-600: #e65200;
  --seed-color-palette-carrot-700: #f60;
  --seed-color-palette-carrot-800: #ff9e65;
  --seed-color-palette-carrot-900: #eecebc;
  --seed-color-palette-carrot-1000: #f4eeea;
  --seed-color-palette-blue-100: #202742;
  --seed-color-palette-blue-200: #1e3352;
  --seed-color-palette-blue-300: #1a4275;
  --seed-color-palette-blue-400: #0f559e;
  --seed-color-palette-blue-500: #1964d8;
  --seed-color-palette-blue-600: #1e82eb;
  --seed-color-palette-blue-700: #41a2f9;
  --seed-color-palette-blue-800: #83bcf9;
  --seed-color-palette-blue-900: #b9d7fb;
  --seed-color-palette-blue-1000: #e5f0fe;
  --seed-color-palette-red-100: #322323;
  --seed-color-palette-red-200: #4f2624;
  --seed-color-palette-red-300: #742826;
  --seed-color-palette-red-400: #a12621;
  --seed-color-palette-red-500: #ca2319;
  --seed-color-palette-red-600: #f73526;
  --seed-color-palette-red-700: #ff6e60;
  --seed-color-palette-red-800: #ffa299;
  --seed-color-palette-red-900: #f8c5c3;
  --seed-color-palette-red-1000: #fdf2f2;
  --seed-color-palette-green-100: #202926;
  --seed-color-palette-green-200: #20362e;
  --seed-color-palette-green-300: #20493b;
  --seed-color-palette-green-400: #19604c;
  --seed-color-palette-green-500: #117956;
  --seed-color-palette-green-600: #1b946d;
  --seed-color-palette-green-700: #22b27f;
  --seed-color-palette-green-800: #35ce9a;
  --seed-color-palette-green-900: #93e5c0;
  --seed-color-palette-green-1000: #d4f6ef;
  --seed-color-palette-yellow-100: #302819;
  --seed-color-palette-yellow-200: #413218;
  --seed-color-palette-yellow-300: #543e15;
  --seed-color-palette-yellow-400: #714e15;
  --seed-color-palette-yellow-500: #91601b;
  --seed-color-palette-yellow-600: #b6720d;
  --seed-color-palette-yellow-700: #ca901c;
  --seed-color-palette-yellow-800: #dab156;
  --seed-color-palette-yellow-900: #e5d49b;
  --seed-color-palette-yellow-1000: #f7f0cd;
  --seed-color-palette-purple-100: #28213b;
  --seed-color-palette-purple-200: #3b2873;
  --seed-color-palette-purple-300: #443081;
  --seed-color-palette-purple-400: #5a3bb1;
  --seed-color-palette-purple-500: #764fd9;
  --seed-color-palette-purple-600: #8e6bee;
  --seed-color-palette-purple-700: #a78df0;
  --seed-color-palette-purple-800: #beadf2;
  --seed-color-palette-purple-900: #d9cefa;
  --seed-color-palette-purple-1000: #f0edfc;
  --seed-color-palette-static-black: #000;
  --seed-color-palette-static-black-alpha-100: #00000007;
  --seed-color-palette-static-black-alpha-200: #0000000c;
  --seed-color-palette-static-black-alpha-300: #00000010;
  --seed-color-palette-static-black-alpha-400: #00000021;
  --seed-color-palette-static-black-alpha-500: #0000002c;
  --seed-color-palette-static-black-alpha-600: #0000004c;
  --seed-color-palette-static-black-alpha-700: #00000074;
  --seed-color-palette-static-black-alpha-800: #000000a2;
  --seed-color-palette-static-black-alpha-900: #000000d0;
  --seed-color-palette-static-black-alpha-1000: #000000e3;
  --seed-color-palette-static-white: #fff;
  --seed-color-palette-static-white-alpha-50: #ffffff0d;
  --seed-color-palette-static-white-alpha-100: #ffffff17;
  --seed-color-palette-static-white-alpha-200: #ffffff20;
  --seed-color-palette-static-white-alpha-300: #ffffff2e;
  --seed-color-palette-static-white-alpha-400: #ffffff3d;
  --seed-color-palette-static-white-alpha-500: #ffffff60;
  --seed-color-palette-static-white-alpha-600: #ffffff8b;
  --seed-color-palette-static-white-alpha-700: #ffffffb3;
  --seed-color-palette-static-white-alpha-800: #ffffffde;
  --seed-color-palette-static-white-alpha-900: #ffffffea;
  --seed-color-palette-static-white-alpha-1000: #fffffff4;
  --seed-color-fg-brand: var(--seed-color-palette-carrot-700);
  --seed-color-fg-brand-contrast: var(--seed-color-palette-carrot-700);
  --seed-color-fg-critical: var(--seed-color-palette-red-700);
  --seed-color-fg-critical-contrast: var(--seed-color-palette-red-900);
  --seed-color-fg-disabled: var(--seed-color-palette-gray-500);
  --seed-color-fg-informative: var(--seed-color-palette-blue-700);
  --seed-color-fg-informative-contrast: var(--seed-color-palette-blue-900);
  --seed-color-fg-neutral: var(--seed-color-palette-gray-1000);
  --seed-color-fg-neutral-inverted: var(--seed-color-palette-gray-100);
  --seed-color-fg-neutral-muted: var(--seed-color-palette-gray-800);
  --seed-color-fg-neutral-subtle: var(--seed-color-palette-gray-700);
  --seed-color-fg-placeholder: var(--seed-color-palette-gray-600);
  --seed-color-fg-positive: var(--seed-color-palette-green-700);
  --seed-color-fg-positive-contrast: var(--seed-color-palette-green-900);
  --seed-color-fg-warning: var(--seed-color-palette-yellow-700);
  --seed-color-fg-warning-contrast: var(--seed-color-palette-yellow-900);
  --seed-color-bg-brand-solid: var(--seed-color-palette-carrot-700);
  --seed-color-bg-brand-solid-pressed: var(--seed-color-palette-carrot-800);
  --seed-color-bg-brand-weak: var(--seed-color-palette-carrot-100);
  --seed-color-bg-brand-weak-pressed: var(--seed-color-palette-carrot-200);
  --seed-color-bg-critical-solid: var(--seed-color-palette-red-600);
  --seed-color-bg-critical-solid-pressed: var(--seed-color-palette-red-700);
  --seed-color-bg-critical-weak: var(--seed-color-palette-red-100);
  --seed-color-bg-critical-weak-pressed: var(--seed-color-palette-red-200);
  --seed-color-bg-disabled: var(--seed-color-palette-gray-300);
  --seed-color-bg-informative-solid: var(--seed-color-palette-blue-600);
  --seed-color-bg-informative-solid-pressed: var(--seed-color-palette-blue-700);
  --seed-color-bg-informative-weak: var(--seed-color-palette-blue-100);
  --seed-color-bg-informative-weak-pressed: var(--seed-color-palette-blue-200);
  --seed-color-bg-layer-basement: var(--seed-color-palette-gray-00);
  --seed-color-bg-layer-default: var(--seed-color-palette-gray-100);
  --seed-color-bg-layer-default-pressed: var(--seed-color-palette-gray-300);
  --seed-color-bg-layer-fill: var(--seed-color-palette-gray-200);
  --seed-color-bg-layer-floating: var(--seed-color-palette-gray-200);
  --seed-color-bg-layer-floating-pressed: var(--seed-color-palette-gray-300);
  --seed-color-bg-magic-weak: #201f1f;
  --seed-color-bg-neutral-inverted: var(--seed-color-palette-gray-1000);
  --seed-color-bg-neutral-inverted-pressed: var(--seed-color-palette-gray-800);
  --seed-color-bg-neutral-solid: var(--seed-color-palette-gray-300);
  --seed-color-bg-neutral-solid-muted: var(--seed-color-palette-gray-400);
  --seed-color-bg-neutral-solid-muted-pressed: var(--seed-color-palette-gray-500);
  --seed-color-bg-neutral-weak: var(--seed-color-palette-gray-300);
  --seed-color-bg-neutral-weak-alpha: var(--seed-color-palette-static-white-alpha-200);
  --seed-color-bg-neutral-weak-alpha-pressed: var(--seed-color-palette-static-white-alpha-300);
  --seed-color-bg-neutral-weak-pressed: var(--seed-color-palette-gray-400);
  --seed-color-bg-overlay: var(--seed-color-palette-static-black-alpha-700);
  --seed-color-bg-overlay-muted: var(--seed-color-palette-static-black-alpha-500);
  --seed-color-bg-positive-solid: var(--seed-color-palette-green-500);
  --seed-color-bg-positive-solid-pressed: var(--seed-color-palette-green-600);
  --seed-color-bg-positive-weak: var(--seed-color-palette-green-100);
  --seed-color-bg-positive-weak-pressed: var(--seed-color-palette-green-200);
  --seed-color-bg-transparent: #fff0;
  --seed-color-bg-transparent-pressed: var(--seed-color-palette-static-white-alpha-50);
  --seed-color-bg-warning-solid: var(--seed-color-palette-yellow-800);
  --seed-color-bg-warning-solid-pressed: var(--seed-color-palette-yellow-900);
  --seed-color-bg-warning-weak: var(--seed-color-palette-yellow-100);
  --seed-color-bg-warning-weak-pressed: var(--seed-color-palette-yellow-200);
  --seed-color-stroke-brand-solid: var(--seed-color-palette-carrot-700);
  --seed-color-stroke-brand-weak: var(--seed-color-palette-carrot-300);
  --seed-color-stroke-critical-solid: var(--seed-color-palette-red-700);
  --seed-color-stroke-critical-weak: var(--seed-color-palette-red-300);
  --seed-color-stroke-informative-solid: var(--seed-color-palette-blue-700);
  --seed-color-stroke-informative-weak: var(--seed-color-palette-blue-300);
  --seed-color-stroke-neutral-contrast: var(--seed-color-palette-gray-1000);
  --seed-color-stroke-neutral-muted: var(--seed-color-palette-static-white-alpha-100);
  --seed-color-stroke-neutral-solid: var(--seed-color-palette-gray-800);
  --seed-color-stroke-neutral-subtle: var(--seed-color-palette-static-white-alpha-50);
  --seed-color-stroke-neutral-weak: var(--seed-color-palette-gray-400);
  --seed-color-stroke-positive-solid: var(--seed-color-palette-green-700);
  --seed-color-stroke-positive-weak: var(--seed-color-palette-green-300);
  --seed-color-stroke-warning-solid: var(--seed-color-palette-yellow-700);
  --seed-color-stroke-warning-weak: var(--seed-color-palette-yellow-300);
  --seed-color-manner-temp-l1-bg: #292929;
  --seed-color-manner-temp-l1-text: #b8b8b9;
  --seed-color-manner-temp-l10-bg: #34040a;
  --seed-color-manner-temp-l10-text: #fb6f82;
  --seed-color-manner-temp-l2-bg: #332605;
  --seed-color-manner-temp-l2-text: #f5db97;
  --seed-color-manner-temp-l3-bg: #372b01;
  --seed-color-manner-temp-l3-text: #fdda65;
  --seed-color-manner-temp-l4-bg: #372301;
  --seed-color-manner-temp-l4-text: #fbbe55;
  --seed-color-manner-temp-l5-bg: #371f01;
  --seed-color-manner-temp-l5-text: #faac4b;
  --seed-color-manner-temp-l6-bg: #351b03;
  --seed-color-manner-temp-l6-text: #fc9855;
  --seed-color-manner-temp-l7-bg: #371701;
  --seed-color-manner-temp-l7-text: #f97a25;
  --seed-color-manner-temp-l8-bg: #380f00;
  --seed-color-manner-temp-l8-text: #fe6a34;
  --seed-color-manner-temp-l9-bg: #380500;
  --seed-color-manner-temp-l9-text: #fe6a5d;
  --seed-color-banner-blue: #0d2a3a;
  --seed-color-banner-cool-gray: #242c33;
  --seed-color-banner-green: #1e361c;
  --seed-color-banner-orange: #42230a;
  --seed-color-banner-pink: #3b172c;
  --seed-color-banner-purple: #2e1e45;
  --seed-color-banner-red: #3a0f15;
  --seed-color-banner-teal: #143633;
  --seed-color-banner-warm-gray: #2f2b27;
  --seed-color-banner-yellow: #3e2b00;
  --seed-gradient-fade-layer-floating: #1d202500 0%, #000 100%;
  --seed-gradient-fade-layer-default: #000 0%, #16171b00 100%;
  --seed-gradient-glow-magic: #2d252d 0%, #3a312b 80%, #333232 100%;
  --seed-gradient-glow-magic-pressed: #3e333e 0%, #51453e 80%, #434242 100%;
  --seed-gradient-highlight-magic: #f60 20%, #d25aca 100%;
  --seed-gradient-highlight-magic-pressed: #ff9e65 20%, #e89bee 100%;
  --seed-gradient-shimmer-magic: #fff9f500 0%, #fff9f51a 46%, #fff9f51a 54%, #fff9f500 100%;
  --seed-gradient-shimmer-neutral: #fff0 0%, #ffffff1a 46%, #ffffff1a 54%, #fff0 100%;
  --seed-shadow-s1: 0px 1px 4px 0px #00000080;
  --seed-shadow-s2: 0px 2px 10px 0px #000000ad;
  --seed-shadow-s3: 0px 4px 16px 0px #000c;
}

@keyframes seed-enter {
  from {
    opacity: var(--seed-enter-opacity, 1);
    transform: translate3d(var(--seed-enter-translate-x, 0), var(--seed-enter-translate-y, 0), 0) scale3d(var(--seed-enter-scale, 1), var(--seed-enter-scale, 1), var(--seed-enter-scale, 1)) rotate(var(--seed-enter-rotate, 0));
  }
}

@keyframes seed-exit {
  to {
    opacity: var(--seed-exit-opacity, 1);
    transform: translate3d(var(--seed-exit-translate-x, 0), var(--seed-exit-translate-y, 0), 0) scale3d(var(--seed-exit-scale, 1), var(--seed-exit-scale, 1), var(--seed-exit-scale, 1)) rotate(var(--seed-exit-rotate, 0));
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes slide-x {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes progress-circle-head {
  0% {
    stroke-dasharray: 0 1000%;
  }

  75% {
    stroke-dasharray: var(--circumference), 1000%;
  }

  100% {
    stroke-dasharray: var(--circumference), 1000%;
  }
}

@keyframes progress-circle-tail {
  0% {
    stroke-dashoffset: 0;
  }

  33.33% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: calc(var(--circumference) * -1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes drawer-slide-from-bottom {
  from {
    transform: translate3d(0, var(--initial-transform, 100%), 0);
  }

  to {
    transform: translate3d(0, var(--snap-point-height, 0), 0);
  }
}

@keyframes drawer-slide-to-bottom {
  to {
    transform: translate3d(0, var(--initial-transform, 100%), 0);
  }
}
