.seed-box {
    --seed-box-padding-bottom: initial;
    --seed-box-padding-top: initial;
    --seed-box-padding-left: initial;
    --seed-box-padding-right: initial;
    --seed-box-shadow: initial;
    --seed-box-background: initial;
    --seed-box-border-radius: initial;
    --seed-box-border-bottom-left-radius: var(--seed-box-border-radius);
    --seed-box-border-bottom-right-radius: var(--seed-box-border-radius);
    --seed-box-border-top-left-radius: var(--seed-box-border-radius);
    --seed-box-border-top-right-radius: var(--seed-box-border-radius);
    --seed-box-min-height: initial;
    --seed-box-max-height: initial;
    --seed-box-min-width: initial;
    --seed-box-max-width: initial;
    --seed-box-width: initial;
    --seed-box-height: initial;
    --seed-box-border-style: initial;
    --seed-box-border-color: initial;
    --seed-box-border-width: 0;
    --seed-box-border-top-width: var(--seed-box-border-width);
    --seed-box-border-bottom-width: var(--seed-box-border-width);
    --seed-box-border-left-width: var(--seed-box-border-width);
    --seed-box-border-right-width: var(--seed-box-border-width);
    padding-bottom: var(--seed-box-padding-bottom);
    padding-top: var(--seed-box-padding-top);
    padding-left: var(--seed-box-padding-left);
    padding-right: var(--seed-box-padding-right);
    box-shadow: var(--seed-box-shadow);
    background-color: var(--seed-box-background);
    border-bottom-left-radius: var(--seed-box-border-bottom-left-radius);
    border-bottom-right-radius: var(--seed-box-border-bottom-right-radius);
    border-top-left-radius: var(--seed-box-border-top-left-radius);
    border-top-right-radius: var(--seed-box-border-top-right-radius);
    border-color: var(--seed-box-border-color);
    border-style: var(--seed-box-border-style);
    border-top-width: var(--seed-box-border-top-width);
    border-bottom-width: var(--seed-box-border-bottom-width);
    border-left-width: var(--seed-box-border-left-width);
    border-right-width: var(--seed-box-border-right-width);
    min-height: var(--seed-box-min-height);
    max-height: var(--seed-box-max-height);
    min-width: var(--seed-box-min-width);
    max-width: var(--seed-box-max-width);
    overflow-x: var(--seed-box-overflow-x);
    overflow-y: var(--seed-box-overflow-y);
    width: var(--seed-box-width);
    height: var(--seed-box-height);
}