.callout__root {
    display: flex;
    box-sizing: border-box;
    border: none;
    text-transform: none;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: var(--seed-v3-unit-3\.5) var(--seed-v3-unit-4);
    border-radius: var(--seed-v3-radii-2\.5)
}
.callout__content {
    flex: 1 1 auto
}
.callout__title {
    font-size: var(--seed-v3-font-size-100);
    font-weight: var(--seed-v3-font-weight-bold)
}
.callout__description {
    font-size: var(--seed-v3-font-size-100);
    font-weight: var(--seed-v3-font-weight-regular)
}
.callout__icon {
    align-self: flex-start;
    height: var(--seed-v3-unit-4);
    width: auto;
    margin-right: var(--seed-v3-unit-1\.5)
}
.callout__actionIndicator {
    align-self: center;
    height: var(--seed-v3-unit-4\.5);
    width: auto;
    margin-left: var(--seed-v3-unit-2\.5)
}
.callout__closeButton {
    align-self: center;
    cursor: pointer;
    height: var(--seed-v3-unit-4\.5);
    width: auto;
    margin-left: var(--seed-v3-unit-2\.5)
}
.callout__root--variant_outline {
    box-shadow: 0 0 0 1px var(--seed-v3-color-stroke-decorative) inset;
    color: var(--seed-v3-color-fg-neutral)
}
.callout__root--variant_neutral {
    background-color: var(--seed-v3-color-bg-neutral);
    color: var(--seed-v3-color-fg-neutral)
}
.callout__root--variant_informative {
    background-color: var(--seed-v3-color-bg-informative);
    color: var(--seed-v3-color-fg-informative-banner)
}
.callout__root--variant_warning {
    background-color: var(--seed-v3-color-bg-warning);
    color: var(--seed-v3-color-fg-warning-banner)
}
.callout__root--variant_danger {
    background-color: var(--seed-v3-color-bg-danger);
    color: var(--seed-v3-color-fg-danger-banner)
}