.checkbox__root {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    max-inline-size: 100%;
    vertical-align: top;
    isolation: isolate;
    cursor: pointer;
}
.checkbox__control {
    position: relative;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: var(--seed-color-stroke-control);
}
.checkbox__control:is(:checked, [data-checked]) {
    background: var(--seed-color-bg-brand-emphasis);
    border-width: 0;
}
.checkbox__control:is(:active, [data-active]) {
    background: var(--seed-color-bg-layer-1-pressed);
}
.checkbox__control:is(:active, [data-active]):is(:checked, [data-checked]) {
    background: var(--seed-color-bg-brand-emphasis-pressed);
}
.checkbox__control:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
}
.checkbox__control:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    background: none;
}
.checkbox__icon {
    display: none;
    content: "";
    position: absolute;
    border-radius: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.checkbox__icon:is(:checked, [data-checked]) {
    display: block;
    color: var(--seed-color-fg-static-white);
}
.checkbox__icon:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    display: block;
    color: var(--seed-color-bg-disabled);
}
.checkbox__label {
    color: var(--seed-color-fg-neutral);
}
.checkbox__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.checkbox__root--size_large {
    min-height: var(--seed-unit-9);
    gap: var(--seed-unit-3);
}
.checkbox__control--size_large {
    border-radius: var(--seed-radii-1);
    width: var(--seed-unit-6);
    height: var(--seed-unit-6);
    margin: calc((var(--seed-unit-9) - var(--seed-unit-6)) / 2) 0;
}
.checkbox__label--size_large {
    font-size: var(--seed-font-size-200);
    margin-block-start: 7px;
}
.checkbox__icon--size_large {
    width: var(--seed-unit-6);
    height: var(--seed-unit-6);
}
.checkbox__root--size_medium {
    min-height: var(--seed-unit-8);
    gap: var(--seed-unit-2\.5);
}
.checkbox__control--size_medium {
    border-radius: var(--seed-radii-1);
    width: var(--seed-unit-5);
    height: var(--seed-unit-5);
    margin: calc((var(--seed-unit-8) - var(--seed-unit-5)) / 2) 0;
}
.checkbox__label--size_medium {
    font-size: var(--seed-font-size-100);
    margin-block-start: 6px;
}
.checkbox__icon--size_medium {
    width: var(--seed-unit-5);
    height: var(--seed-unit-5);
}
.checkbox__root--size_small {
    min-height: var(--seed-unit-7);
    gap: var(--seed-unit-2);
}
.checkbox__control--size_small {
    border-radius: var(--seed-radii-1);
    width: var(--seed-unit-4);
    height: var(--seed-unit-4);
    margin: calc((var(--seed-unit-7) - var(--seed-unit-4)) / 2) 0;
}
.checkbox__label--size_small {
    font-size: var(--seed-font-size-75);
    margin-block-start: 5px;
}
.checkbox__icon--size_small {
    width: var(--seed-unit-4);
    height: var(--seed-unit-4);
}