.dialog__backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.32)
}
.dialog__container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    width: 100vw;
    height: 100vh
}
.dialog__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    background: var(--seed-v3-color-bg-layer-default);
    max-width: 272px;
    margin: auto var(--seed-v3-unit-8);
    padding: var(--seed-v3-unit-5) var(--seed-v3-unit-5);
    border-radius: var(--seed-v3-radii-4)
}
.dialog__header {
    display: flex;
    flex-direction: column;
    gap: var(--seed-v3-unit-1\.5)
}
.dialog__title {
    color: var(--seed-v3-color-fg-neutral);
    font-size: var(--seed-v3-font-size-250);
    font-weight: var(--seed-v3-font-weight-bold);
    margin: 0
}
.dialog__description {
    color: var(--seed-v3-color-fg-neutral);
    font-size: var(--seed-v3-font-size-200);
    font-weight: var(--seed-v3-font-weight-regular);
    margin: 0;
    white-space: pre-wrap
}
.dialog__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: var(--seed-v3-unit-4)
}
.dialog__action {
    width: initial;
    min-width: calc(50% - var(--seed-v3-unit-2) / 2)
}
.dialog__footer--footerLayout_horizontal {
    flex-direction: row-reverse
}
.dialog__footer--footerLayout_vertical {
    flex-direction: column
}