:root[data-seed] {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root[data-seed] {
    color-scheme: dark light;
  }
}

:root[data-seed] {
  --seed-static-color-white: rgb(255, 255, 255);
  --seed-static-color-black: rgb(0, 0, 0);
  --seed-static-color-gray-900: rgb(33, 33, 36);
  --seed-static-color-carrot-50: rgb(255, 245, 240);
  --seed-static-color-carrot-800: rgb(204, 71, 0);
  --seed-static-color-green-50: rgb(232, 250, 246);
  --seed-static-color-green-800: rgb(0, 140, 114);
  --seed-static-color-yellow-50: rgb(255, 247, 230);
  --seed-static-color-yellow-800: rgb(186, 94, 2);
  --seed-static-color-red-50: rgb(255, 243, 242);
  --seed-static-color-red-800: rgb(232, 19, 0);
  --seed-static-color-blue-50: rgb(235, 247, 250);
  --seed-static-color-blue-800: rgb(10, 133, 181);
}

:root[data-seed] [data-theme-light] {
  --seed-scale-color-gray-00: rgb(255, 255, 255);
  --seed-scale-color-gray-50: rgb(247, 248, 250);
  --seed-scale-color-gray-100: rgb(242, 243, 246);
  --seed-scale-color-gray-200: rgb(234, 235, 238);
  --seed-scale-color-gray-300: rgb(220, 222, 227);
  --seed-scale-color-gray-400: rgb(209, 211, 216);
  --seed-scale-color-gray-500: rgb(173, 177, 186);
  --seed-scale-color-gray-600: rgb(134, 139, 148);
  --seed-scale-color-gray-700: rgb(77, 81, 89);
  --seed-scale-color-gray-900: rgb(33, 33, 36);
  --seed-scale-color-carrot-50: rgb(255, 245, 240);
  --seed-scale-color-carrot-100: rgb(255, 226, 210);
  --seed-scale-color-carrot-200: rgb(255, 210, 185);
  --seed-scale-color-carrot-300: rgb(255, 188, 151);
  --seed-scale-color-carrot-400: rgb(255, 158, 102);
  --seed-scale-color-carrot-500: rgb(255, 126, 54);
  --seed-scale-color-carrot-600: rgb(250, 102, 22);
  --seed-scale-color-carrot-700: rgb(240, 87, 5);
  --seed-scale-color-carrot-800: rgb(204, 71, 0);
  --seed-scale-color-carrot-900: rgb(180, 65, 4);
  --seed-scale-color-carrot-950: rgb(160, 58, 3);
  --seed-scale-color-blue-50: rgb(235, 247, 250);
  --seed-scale-color-blue-200: rgb(192, 225, 235);
  --seed-scale-color-blue-800: rgb(10, 133, 181);
  --seed-scale-color-blue-950: rgb(15, 105, 140);
  --seed-scale-color-green-50: rgb(232, 250, 246);
  --seed-scale-color-green-200: rgb(161, 235, 221);
  --seed-scale-color-green-500: rgb(0, 180, 147);
  --seed-scale-color-green-800: rgb(0, 140, 114);
  --seed-scale-color-green-950: rgb(8, 110, 91);
  --seed-scale-color-yellow-50: rgb(255, 247, 230);
  --seed-scale-color-yellow-200: rgb(250, 215, 140);
  --seed-scale-color-yellow-500: rgb(255, 197, 82);
  --seed-scale-color-yellow-800: rgb(186, 94, 2);
  --seed-scale-color-yellow-950: rgb(143, 74, 6);
  --seed-scale-color-red-50: rgb(255, 243, 242);
  --seed-scale-color-red-200: rgb(252, 210, 207);
  --seed-scale-color-red-800: rgb(232, 19, 0);
  --seed-scale-color-red-950: rgb(182, 23, 9);
  --seed-scale-color-gray-alpha-50: rgba(0, 0, 0, 0.05);
  --seed-scale-color-gray-alpha-100: rgba(0, 0, 0, 0.1);
  --seed-scale-color-gray-alpha-200: rgba(0, 0, 0, 0.2);
  --seed-scale-color-gray-alpha-500: rgba(0, 0, 0, 0.5);
  --seed-scale-color-carrot-alpha-50: rgba(255, 126, 54, 0.05);
  --seed-scale-color-carrot-alpha-100: rgba(255, 126, 54, 0.14);
  --seed-scale-color-carrot-alpha-200: rgba(255, 126, 54, 0.2);
  --seed-scale-color-blue-alpha-50: rgba(10, 134, 183, 0.05);
  --seed-scale-color-blue-alpha-100: rgba(10, 134, 183, 0.1);
  --seed-scale-color-blue-alpha-200: rgba(10, 134, 183, 0.2);
  --seed-scale-color-green-alpha-50: rgba(0, 180, 147, 0.05);
  --seed-scale-color-green-alpha-100: rgba(0, 180, 147, 0.14);
  --seed-scale-color-green-alpha-200: rgba(0, 180, 147, 0.2);
  --seed-scale-color-yellow-alpha-50: rgba(255, 197, 82, 0.08);
  --seed-scale-color-yellow-alpha-100: rgba(255, 197, 82, 0.14);
  --seed-scale-color-yellow-alpha-200: rgba(255, 197, 82, 0.24);
  --seed-scale-color-red-alpha-50: rgba(232, 19, 0, 0.05);
  --seed-scale-color-red-alpha-100: rgba(232, 19, 0, 0.1);
  --seed-scale-color-red-alpha-200: rgba(232, 19, 0, 0.2);
  --seed-scale-color-text-selection: rgba(255, 158, 102, 0.4);
  --seed-scale-color-primary-hover: rgba(250, 102, 22, 0.05);
  --seed-scale-color-primary-pressed: rgba(180, 65, 4, 0.2);
  --seed-scale-color-primary-low-hover: rgba(250, 102, 22, 0.12);
  --seed-scale-color-primary-low-active: rgba(250, 102, 22, 0.05);
  --seed-scale-color-primary-low-pressed: rgba(250, 102, 22, 0.2);
  --seed-scale-color-gray-hover: rgba(173, 177, 186, 0.12);
  --seed-scale-color-gray-pressed: rgba(134, 139, 148, 0.2);

  --seed-semantic-color-on-primary: var(--seed-scale-color-gray-00);
  --seed-semantic-color-primary: var(--seed-scale-color-carrot-500);
  --seed-semantic-color-primary-container: var(--seed-scale-color-carrot-50);
  --seed-semantic-color-secondary: var(--seed-scale-color-blue-800);
  --seed-semantic-color-secondary-container: var(--seed-scale-color-blue-50);
  --seed-semantic-color-success: var(--seed-scale-color-green-500);
  --seed-semantic-color-success-container: var(--seed-scale-color-green-50);
  --seed-semantic-color-warning: var(--seed-scale-color-yellow-500);
  --seed-semantic-color-warning-container: var(--seed-scale-color-yellow-50);
  --seed-semantic-color-danger: var(--seed-scale-color-red-800);
  --seed-semantic-color-danger-container: var(--seed-scale-color-red-50);
  --seed-semantic-color-divider1: var(--seed-scale-color-gray-alpha-50);
  --seed-semantic-color-divider2: var(--seed-scale-color-gray-200);
  --seed-semantic-color-divider3: var(--seed-scale-color-gray-300);
  --seed-semantic-color-overlay-low: var(--seed-scale-color-gray-alpha-200);
  --seed-semantic-color-overlay-dim: var(--seed-scale-color-gray-alpha-500);
  --seed-semantic-color-paper-background: var(--seed-scale-color-gray-100);
  --seed-semantic-color-paper-default: var(--seed-scale-color-gray-00);
  --seed-semantic-color-paper-contents: var(--seed-scale-color-gray-50);
  --seed-semantic-color-paper-floating: var(--seed-static-color-white);
  --seed-semantic-color-paper-dialog: var(--seed-static-color-white);
  --seed-semantic-color-paper-sheet: var(--seed-static-color-white);
  --seed-semantic-color-text-selection: var(--seed-scale-color-text-selection);
  --seed-semantic-color-primary-hover: var(--seed-scale-color-primary-hover);
  --seed-semantic-color-primary-pressed: var(--seed-scale-color-primary-pressed);
  --seed-semantic-color-primary-low-hover: var(--seed-scale-color-primary-low-hover);
  --seed-semantic-color-primary-low-active: var(--seed-scale-color-primary-low-active);
  --seed-semantic-color-primary-low-pressed: var(--seed-scale-color-primary-low-pressed);
  --seed-semantic-color-gray-hover: var(--seed-scale-color-gray-hover);
  --seed-semantic-color-gray-pressed: var(--seed-scale-color-gray-pressed);
}

:root[data-seed] [data-theme-dark] {
  --seed-scale-color-gray-00: rgb(23, 23, 26);
  --seed-scale-color-gray-50: rgb(33, 33, 36);
  --seed-scale-color-gray-100: rgb(43, 46, 51);
  --seed-scale-color-gray-200: rgb(52, 55, 61);
  --seed-scale-color-gray-300: rgb(67, 71, 79);
  --seed-scale-color-gray-400: rgb(80, 84, 92);
  --seed-scale-color-gray-500: rgb(109, 113, 122);
  --seed-scale-color-gray-600: rgb(134, 139, 148);
  --seed-scale-color-gray-700: rgb(173, 177, 186);
  --seed-scale-color-gray-900: rgb(234, 235, 238);
  --seed-scale-color-carrot-50: rgb(122, 56, 20);
  --seed-scale-color-carrot-100: rgb(151, 64, 17);
  --seed-scale-color-carrot-200: rgb(191, 76, 13);
  --seed-scale-color-carrot-300: rgb(209, 87, 21);
  --seed-scale-color-carrot-400: rgb(233, 96, 23);
  --seed-scale-color-carrot-500: rgb(237, 119, 53);
  --seed-scale-color-carrot-600: rgb(238, 149, 97);
  --seed-scale-color-carrot-700: rgb(237, 176, 142);
  --seed-scale-color-carrot-800: rgb(237, 196, 173);
  --seed-scale-color-carrot-900: rgb(237, 211, 196);
  --seed-scale-color-carrot-950: rgb(237, 228, 224);
  --seed-scale-color-blue-50: rgb(5, 85, 117);
  --seed-scale-color-blue-200: rgb(12, 126, 171);
  --seed-scale-color-blue-800: rgb(186, 210, 217);
  --seed-scale-color-blue-950: rgb(219, 230, 233);
  --seed-scale-color-green-50: rgb(3, 89, 75);
  --seed-scale-color-green-200: rgb(3, 131, 108);
  --seed-scale-color-green-500: rgb(3, 168, 138);
  --seed-scale-color-green-800: rgb(149, 219, 206);
  --seed-scale-color-green-950: rgb(216, 233, 229);
  --seed-scale-color-yellow-50: rgb(120, 60, 2);
  --seed-scale-color-yellow-200: rgb(192, 95, 3);
  --seed-scale-color-yellow-500: rgb(237, 184, 78);
  --seed-scale-color-yellow-800: rgb(229, 202, 142);
  --seed-scale-color-yellow-950: rgb(237, 230, 214);
  --seed-scale-color-red-50: rgb(148, 17, 6);
  --seed-scale-color-red-200: rgb(216, 20, 3);
  --seed-scale-color-red-800: rgb(233, 199, 198);
  --seed-scale-color-red-950: rgb(237, 226, 226);
  --seed-scale-color-gray-alpha-50: rgba(255, 255, 255, 0.05);
  --seed-scale-color-gray-alpha-100: rgba(255, 255, 255, 0.1);
  --seed-scale-color-gray-alpha-200: rgba(255, 255, 255, 0.2);
  --seed-scale-color-gray-alpha-500: rgba(255, 255, 255, 0.5);
  --seed-scale-color-carrot-alpha-50: rgba(233, 96, 23, 0.08);
  --seed-scale-color-carrot-alpha-100: rgba(233, 96, 23, 0.14);
  --seed-scale-color-carrot-alpha-200: rgba(233, 96, 23, 0.2);
  --seed-scale-color-blue-alpha-50: rgba(12, 126, 171, 0.05);
  --seed-scale-color-blue-alpha-100: rgba(12, 126, 171, 0.1);
  --seed-scale-color-blue-alpha-200: rgba(12, 126, 171, 0.2);
  --seed-scale-color-green-alpha-50: rgba(3, 168, 138, 0.05);
  --seed-scale-color-green-alpha-100: rgba(3, 168, 138, 0.14);
  --seed-scale-color-green-alpha-200: rgba(3, 168, 138, 0.2);
  --seed-scale-color-yellow-alpha-50: rgba(237, 184, 78, 0.08);
  --seed-scale-color-yellow-alpha-100: rgba(237, 184, 78, 0.14);
  --seed-scale-color-yellow-alpha-200: rgba(237, 184, 78, 0.24);
  --seed-scale-color-red-alpha-50: rgba(216, 20, 3, 0.05);
  --seed-scale-color-red-alpha-100: rgba(216, 20, 3, 0.1);
  --seed-scale-color-red-alpha-200: rgba(216, 20, 3, 0.2);
  --seed-scale-color-text-selection: rgba(237, 176, 142, 0.3);
  --seed-scale-color-primary-hover: rgba(237, 211, 196, 0.05);
  --seed-scale-color-primary-pressed: rgba(237, 211, 196, 0.2);
  --seed-scale-color-primary-low-hover: rgba(238, 149, 97, 0.05);
  --seed-scale-color-primary-low-active: rgba(134, 139, 148, 0.12);
  --seed-scale-color-primary-low-pressed: rgba(238, 149, 97, 0.2);
  --seed-scale-color-gray-hover: rgba(134, 139, 148, 0.12);
  --seed-scale-color-gray-pressed: rgba(134, 139, 148, 0.2);

  --seed-semantic-color-on-primary: var(--seed-static-color-white);
  --seed-semantic-color-primary: var(--seed-scale-color-carrot-500);
  --seed-semantic-color-primary-container: var(--seed-scale-color-carrot-50);
  --seed-semantic-color-secondary: var(--seed-scale-color-blue-200);
  --seed-semantic-color-secondary-container: var(--seed-scale-color-blue-50);
  --seed-semantic-color-success: var(--seed-scale-color-green-500);
  --seed-semantic-color-success-container: var(--seed-scale-color-green-50);
  --seed-semantic-color-warning: var(--seed-scale-color-yellow-500);
  --seed-semantic-color-warning-container: var(--seed-scale-color-yellow-500);
  --seed-semantic-color-danger: var(--seed-scale-color-red-200);
  --seed-semantic-color-danger-container: var(--seed-scale-color-red-50);
  --seed-semantic-color-divider1: var(--seed-scale-color-gray-alpha-50);
  --seed-semantic-color-divider2: var(--seed-scale-color-gray-300);
  --seed-semantic-color-divider3: var(--seed-scale-color-gray-alpha-200);
  --seed-semantic-color-paper-background: var(--seed-scale-color-gray-00);
  --seed-semantic-color-paper-default: var(--seed-scale-color-gray-50);
  --seed-semantic-color-paper-contents: var(--seed-scale-color-gray-00);
  --seed-semantic-color-paper-floating: var(--seed-scale-color-gray-100);
  --seed-semantic-color-paper-dialog: var(--seed-scale-color-gray-100);
  --seed-semantic-color-paper-sheet: var(--seed-scale-color-gray-50);
  --seed-semantic-color-text-selection: var(--seed-scale-color-text-selection);
  --seed-semantic-color-primary-hover: var(--seed-scale-color-primary-hover);
  --seed-semantic-color-primary-pressed: var(--seed-scale-color-primary-pressed);
  --seed-semantic-color-primary-low-hover: var(--seed-scale-color-primary-low-hover);
  --seed-semantic-color-primary-low-active: var(--seed-scale-color-primary-low-active);
  --seed-semantic-color-primary-low-pressed: var(--seed-scale-color-primary-low-pressed);
  --seed-semantic-color-gray-hover: var(--seed-scale-color-gray-hover);
  --seed-semantic-color-gray-pressed: var(--seed-scale-color-gray-pressed);
}
