.switch__root {
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    vertical-align: top;
    isolation: isolate;
    opacity: 1;
}
.switch__root:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    opacity: 0.38;
}
.switch__control {
    display: block;
    position: relative;
    border-radius: var(--seed-v3-radii-full);
    background: var(--seed-v3-color-palette-gray-600);
    transition: background-color 50ms cubic-bezier(0.35, 0, 0.35, 1) 20ms;
}
.switch__control:is(:checked, [data-checked]) {
    background: var(--seed-v3-color-bg-brand-solid);
}
.switch__control:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-v3-color-bg-disabled);
}
.switch__thumb {
    border-radius: var(--seed-v3-radii-full);
    background: var(--seed-v3-color-fg-static-white);
    transition: transform 150ms cubic-bezier(0.35, 0, 0.35, 1);
}
.switch__control--size_medium {
    min-inline-size: 51px;
    min-block-size: 31px;
    padding: 2px 2px;
}
.switch__thumb--size_medium {
    width: 27px;
    height: 27px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
}
.switch__thumb--size_medium:is(:checked, [data-checked]) {
    transform: translateX(calc(51px - 31px));
}
.switch__control--size_small {
    min-inline-size: 26px;
    min-block-size: 16px;
    padding: 2px 2px;
}
.switch__thumb--size_small {
    width: 12px;
    height: 12px;
}
.switch__thumb--size_small:is(:checked, [data-checked]) {
    transform: translateX(calc(26px - 16px));
}