:root[data-seed] {
  color-scheme: light dark;
}

:root[data-seed="light-only"] {
  color-scheme: light;
}

:root[data-seed="dark-only"] {
  color-scheme: dark;
}

:root[data-seed] {
  --seed-v3-color-fg-static-black: #000000;
  --seed-v3-color-fg-static-white: #ffffff;

  --seed-v3-font-weight-regular: 400;
  --seed-v3-font-weight-medium: 500;
  --seed-v3-font-weight-bold: 700;

  --seed-v3-unit-0\.5: 2px;
  --seed-v3-unit-1: 4px;
  --seed-v3-unit-1\.5: 6px;
  --seed-v3-unit-2: 8px;
  --seed-v3-unit-2\.5: 10px;
  --seed-v3-unit-3: 12px;
  --seed-v3-unit-3\.5: 14px;
  --seed-v3-unit-4: 16px;
  --seed-v3-unit-4\.5: 18px;
  --seed-v3-unit-5: 20px;
  --seed-v3-unit-6: 24px;
  --seed-v3-unit-7: 28px;
  --seed-v3-unit-8: 32px;
  --seed-v3-unit-9: 36px;
  --seed-v3-unit-10: 40px;
  --seed-v3-unit-12: 48px;
  --seed-v3-unit-13: 52px;
  --seed-v3-unit-16: 64px;
  --seed-v3-unit-20: 80px;
  --seed-v3-unit-24: 96px;

  --seed-v3-radii-0\.5: 2px;
  --seed-v3-radii-1: 4px;
  --seed-v3-radii-1\.5: 6px;
  --seed-v3-radii-2: 8px;
  --seed-v3-radii-2\.5: 10px;
  --seed-v3-radii-3: 12px;
  --seed-v3-radii-3\.5: 14px;
  --seed-v3-radii-4: 16px;
  --seed-v3-radii-full: 9999px;

  --seed-v3-font-size-25: 0.6875rem; /* 11px */
  --seed-v3-font-size-50: 0.75rem; /* 12px */
  --seed-v3-font-size-75: 0.8125rem; /* 13px */
  --seed-v3-font-size-100: 0.875rem; /* 14px */
  --seed-v3-font-size-200: 1rem; /* 16px */
}

/* Light Mode */
:root[data-seed][data-seed="light-only"][data-seed-scale-color="dark"],
:root[data-seed][data-seed-scale-color="light"]:not([data-seed="dark-only"]),
:root[data-seed]:not([data-seed="dark-only"]) [data-seed-scale-color="light"] {
  --seed-v3-color-bg-brand-solid-pressed: var(--seed-v3-color-palette-carrot-700);
  --seed-v3-color-bg-brand-solid: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-bg-brand-weak-pressed: var(--seed-v3-color-palette-carrot-200);
  --seed-v3-color-bg-brand-weak: var(--seed-v3-color-palette-carrot-100);
  --seed-v3-color-bg-danger-solid-pressed: var(--seed-v3-color-palette-red-800);
  --seed-v3-color-bg-danger-solid: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-bg-danger-weak-pressed: var(--seed-v3-color-palette-red-200);
  --seed-v3-color-bg-danger-weak: var(--seed-v3-color-palette-red-100);
  --seed-v3-color-bg-disabled: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-informative-solid-pressed: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-bg-informative-solid: var(--seed-v3-color-palette-blue-600);
  --seed-v3-color-bg-informative-weak-pressed: var(--seed-v3-color-palette-blue-200);
  --seed-v3-color-bg-informative-weak: var(--seed-v3-color-palette-blue-100);
  --seed-v3-color-bg-layer-basement: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-layer-default-pressed: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-layer-default: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-layer-fill: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-layer-floating-pressed: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-layer-floating: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-magic-solid-pressed: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-bg-magic-solid: var(--seed-v3-color-palette-purple-600);
  --seed-v3-color-bg-magic-weak-pressed: var(--seed-v3-color-palette-purple-200);
  --seed-v3-color-bg-magic-weak: var(--seed-v3-color-palette-purple-100);
  --seed-v3-color-bg-neutral-solid-pressed: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-bg-neutral-solid: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-bg-neutral-weak-pressed: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-neutral-weak: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-overlay-muted: var(--seed-v3-color-palette-static-black-alpha-200);
  --seed-v3-color-bg-overlay: var(--seed-v3-color-palette-static-black-alpha-500);
  --seed-v3-color-bg-positive-solid-pressed: var(--seed-v3-color-palette-green-700);
  --seed-v3-color-bg-positive-solid: var(--seed-v3-color-palette-green-600);
  --seed-v3-color-bg-positive-weak-pressed: var(--seed-v3-color-palette-green-200);
  --seed-v3-color-bg-positive-weak: var(--seed-v3-color-palette-green-100);
  --seed-v3-color-bg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-bg-text-selection: var(--seed-v3-color-palette-carrot-100);
  --seed-v3-color-bg-warning-solid: var(--seed-v3-color-palette-yellow-600);
  --seed-v3-color-bg-warning-weak-pressed: var(--seed-v3-color-palette-yellow-200);
  --seed-v3-color-bg-warning-weak: var(--seed-v3-color-palette-yellow-100);
  --seed-v3-color-fg-brand-contrast: var(--seed-v3-color-palette-carrot-700);
  --seed-v3-color-fg-brand: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-fg-danger-contrast: var(--seed-v3-color-palette-red-900);
  --seed-v3-color-fg-danger: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-fg-disabled: var(--seed-v3-color-palette-gray-500);
  --seed-v3-color-fg-informative-contrast: var(--seed-v3-color-palette-blue-900);
  --seed-v3-color-fg-informative: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-fg-magic-contrast: var(--seed-v3-color-palette-purple-800);
  --seed-v3-color-fg-magic: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-fg-neutral-inverted: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-fg-neutral-muted: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-fg-neutral-subtle: var(--seed-v3-color-palette-gray-700);
  --seed-v3-color-fg-neutral: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-fg-placeholder: var(--seed-v3-color-palette-gray-600);
  --seed-v3-color-fg-positive-contrast: var(--seed-v3-color-palette-green-900);
  --seed-v3-color-fg-positive: var(--seed-v3-color-palette-green-700);
  --seed-v3-color-fg-static-black: var(--seed-v3-color-palette-static-black);
  --seed-v3-color-fg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-fg-warning-contrast: var(--seed-v3-color-palette-yellow-900);
  --seed-v3-color-palette-blue-100: rgba(235, 247, 250, 1);
  --seed-v3-color-palette-blue-1000: rgba(10, 40, 59, 1);
  --seed-v3-color-palette-blue-200: rgba(217, 240, 252, 1);
  --seed-v3-color-palette-blue-300: rgba(183, 228, 255, 1);
  --seed-v3-color-palette-blue-400: rgba(146, 211, 255, 1);
  --seed-v3-color-palette-blue-500: rgba(97, 189, 255, 1);
  --seed-v3-color-palette-blue-600: rgba(18, 156, 249, 1);
  --seed-v3-color-palette-blue-700: rgba(0, 132, 220, 1);
  --seed-v3-color-palette-blue-800: rgba(0, 100, 151, 1);
  --seed-v3-color-palette-blue-900: rgba(4, 69, 102, 1);
  --seed-v3-color-palette-carrot-100: rgba(255, 242, 236, 1);
  --seed-v3-color-palette-carrot-1000: rgba(71, 22, 1, 1);
  --seed-v3-color-palette-carrot-200: rgba(255, 232, 219, 1);
  --seed-v3-color-palette-carrot-300: rgba(255, 213, 192, 1);
  --seed-v3-color-palette-carrot-400: rgba(255, 185, 153, 1);
  --seed-v3-color-palette-carrot-500: rgba(255, 147, 100, 1);
  --seed-v3-color-palette-carrot-600: rgba(255, 102, 0, 1);
  --seed-v3-color-palette-carrot-700: rgba(232, 69, 0, 1);
  --seed-v3-color-palette-carrot-800: rgba(185, 57, 1, 1);
  --seed-v3-color-palette-carrot-900: rgba(134, 43, 0, 1);
  --seed-v3-color-palette-gray-00: rgba(255, 255, 255, 1);
  --seed-v3-color-palette-gray-100: rgba(247, 248, 249, 1);
  --seed-v3-color-palette-gray-200: rgba(243, 244, 245, 1);
  --seed-v3-color-palette-gray-300: rgba(238, 239, 241, 1);
  --seed-v3-color-palette-gray-400: rgba(220, 222, 227, 1);
  --seed-v3-color-palette-gray-500: rgba(209, 211, 216, 1);
  --seed-v3-color-palette-gray-600: rgba(176, 179, 186, 1);
  --seed-v3-color-palette-gray-700: rgba(134, 139, 148, 1);
  --seed-v3-color-palette-gray-800: rgba(91, 96, 106, 1);
  --seed-v3-color-palette-gray-900: rgba(26, 28, 32, 1);
  --seed-v3-color-palette-gray-alpha-50: rgba(0, 23, 88, 0.05);
  --seed-v3-color-palette-green-100: rgba(231, 249, 243, 1);
  --seed-v3-color-palette-green-1000: rgba(10, 43, 36, 1);
  --seed-v3-color-palette-green-200: rgba(209, 244, 229, 1);
  --seed-v3-color-palette-green-300: rgba(143, 241, 195, 1);
  --seed-v3-color-palette-green-400: rgba(107, 225, 176, 1);
  --seed-v3-color-palette-green-500: rgba(46, 205, 149, 1);
  --seed-v3-color-palette-green-600: rgba(16, 173, 126, 1);
  --seed-v3-color-palette-green-700: rgba(6, 140, 109, 1);
  --seed-v3-color-palette-green-800: rgba(0, 107, 88, 1);
  --seed-v3-color-palette-green-900: rgba(5, 74, 61, 1);
  --seed-v3-color-palette-purple-100: rgba(246, 244, 254, 1);
  --seed-v3-color-palette-purple-1000: rgba(41, 23, 93, 1);
  --seed-v3-color-palette-purple-200: rgba(239, 234, 254, 1);
  --seed-v3-color-palette-purple-300: rgba(225, 216, 255, 1);
  --seed-v3-color-palette-purple-400: rgba(210, 195, 255, 1);
  --seed-v3-color-palette-purple-500: rgba(189, 168, 255, 1);
  --seed-v3-color-palette-purple-600: rgba(161, 134, 251, 1);
  --seed-v3-color-palette-purple-700: rgba(133, 100, 233, 1);
  --seed-v3-color-palette-purple-800: rgba(102, 70, 198, 1);
  --seed-v3-color-palette-purple-900: rgba(70, 48, 138, 1);
  --seed-v3-color-palette-red-100: rgba(253, 242, 242, 1);
  --seed-v3-color-palette-red-1000: rgba(74, 18, 9, 1);
  --seed-v3-color-palette-red-200: rgba(253, 232, 230, 1);
  --seed-v3-color-palette-red-300: rgba(254, 211, 209, 1);
  --seed-v3-color-palette-red-400: rgba(254, 187, 183, 1);
  --seed-v3-color-palette-red-500: rgba(255, 153, 148, 1);
  --seed-v3-color-palette-red-600: rgba(253, 103, 100, 1);
  --seed-v3-color-palette-red-700: rgba(242, 30, 22, 1);
  --seed-v3-color-palette-red-800: rgba(188, 23, 12, 1);
  --seed-v3-color-palette-red-900: rgba(127, 26, 13, 1);
  --seed-v3-color-palette-static-black-alpha-200: rgba(0, 0, 0, 0.2);
  --seed-v3-color-palette-static-black-alpha-50: rgba(0, 0, 0, 0.05);
  --seed-v3-color-palette-static-black-alpha-500: rgba(0, 0, 0, 0.5);
  --seed-v3-color-palette-static-black: rgba(0, 0, 0, 1);
  --seed-v3-color-palette-static-white-alpha-200: rgba(255, 255, 255, 0.2);
  --seed-v3-color-palette-static-white-alpha-50: rgba(255, 255, 255, 0.05);
  --seed-v3-color-palette-static-white: rgba(255, 255, 255, 1);
  --seed-v3-color-palette-yellow-100: rgba(253, 244, 226, 1);
  --seed-v3-color-palette-yellow-1000: rgba(50, 35, 18, 1);
  --seed-v3-color-palette-yellow-200: rgba(254, 233, 207, 1);
  --seed-v3-color-palette-yellow-300: rgba(248, 216, 181, 1);
  --seed-v3-color-palette-yellow-400: rgba(247, 194, 130, 1);
  --seed-v3-color-palette-yellow-500: rgba(245, 164, 55, 1);
  --seed-v3-color-palette-yellow-600: rgba(210, 137, 43, 1);
  --seed-v3-color-palette-yellow-700: rgba(171, 110, 35, 1);
  --seed-v3-color-palette-yellow-800: rgba(126, 87, 34, 1);
  --seed-v3-color-palette-yellow-900: rgba(84, 60, 31, 1);
  --seed-v3-color-stroke-brand: var(--seed-v3-color-palette-carrot-500);
  --seed-v3-color-stroke-control: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-danger: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-stroke-field-focused: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-stroke-field: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-neutral-muted: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-stroke-neutral: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-stroke-on-image: var(--seed-v3-color-palette-gray-alpha-50);
  --seed-v3-color-stroke-positive: var(--seed-v3-color-palette-green-600);
}
/* Dark Mode */
:root[data-seed][data-seed="dark-only"][data-seed-scale-color="light"],
:root[data-seed][data-seed-scale-color="dark"]:not([data-seed="light-only"]),
:root[data-seed]:not([data-seed="light-only"]) [data-seed-scale-color="dark"] {
  --seed-v3-color-bg-brand-solid-pressed: var(--seed-v3-color-palette-carrot-800);
  --seed-v3-color-bg-brand-solid: var(--seed-v3-color-palette-carrot-700);
  --seed-v3-color-bg-brand-weak-pressed: var(--seed-v3-color-palette-carrot-300);
  --seed-v3-color-bg-brand-weak: var(--seed-v3-color-palette-carrot-200);
  --seed-v3-color-bg-danger-solid-pressed: var(--seed-v3-color-palette-red-700);
  --seed-v3-color-bg-danger-solid: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-bg-danger-weak-pressed: var(--seed-v3-color-palette-red-200);
  --seed-v3-color-bg-danger-weak: var(--seed-v3-color-palette-red-100);
  --seed-v3-color-bg-disabled: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-informative-solid-pressed: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-bg-informative-solid: var(--seed-v3-color-palette-blue-600);
  --seed-v3-color-bg-informative-weak-pressed: var(--seed-v3-color-palette-blue-200);
  --seed-v3-color-bg-informative-weak: var(--seed-v3-color-palette-blue-100);
  --seed-v3-color-bg-layer-basement: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-layer-default-pressed: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-bg-layer-default: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-layer-fill: var(--seed-v3-color-palette-gray-00);
  --seed-v3-color-bg-layer-floating-pressed: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-layer-floating: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-bg-magic-solid-pressed: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-bg-magic-solid: var(--seed-v3-color-palette-purple-600);
  --seed-v3-color-bg-magic-weak-pressed: var(--seed-v3-color-palette-purple-200);
  --seed-v3-color-bg-magic-weak: var(--seed-v3-color-palette-purple-100);
  --seed-v3-color-bg-neutral-solid-pressed: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-bg-neutral-solid: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-bg-neutral-weak-pressed: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-bg-neutral-weak: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-bg-overlay-muted: var(--seed-v3-color-palette-static-black-alpha-200);
  --seed-v3-color-bg-overlay: var(--seed-v3-color-palette-static-black-alpha-500);
  --seed-v3-color-bg-positive-solid-pressed: var(--seed-v3-color-palette-green-500);
  --seed-v3-color-bg-positive-solid: var(--seed-v3-color-palette-green-600);
  --seed-v3-color-bg-positive-weak-pressed: var(--seed-v3-color-palette-green-200);
  --seed-v3-color-bg-positive-weak: var(--seed-v3-color-palette-green-100);
  --seed-v3-color-bg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-bg-text-selection: var(--seed-v3-color-palette-carrot-100);
  --seed-v3-color-bg-warning-solid: var(--seed-v3-color-palette-yellow-700);
  --seed-v3-color-bg-warning-weak-pressed: var(--seed-v3-color-palette-yellow-200);
  --seed-v3-color-bg-warning-weak: var(--seed-v3-color-palette-yellow-100);
  --seed-v3-color-fg-brand-contrast: var(--seed-v3-color-palette-carrot-800);
  --seed-v3-color-fg-brand: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-fg-danger-contrast: var(--seed-v3-color-palette-red-900);
  --seed-v3-color-fg-danger: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-fg-disabled: var(--seed-v3-color-palette-gray-500);
  --seed-v3-color-fg-informative-contrast: var(--seed-v3-color-palette-blue-900);
  --seed-v3-color-fg-informative: var(--seed-v3-color-palette-blue-700);
  --seed-v3-color-fg-magic-contrast: var(--seed-v3-color-palette-purple-900);
  --seed-v3-color-fg-magic: var(--seed-v3-color-palette-purple-700);
  --seed-v3-color-fg-neutral-inverted: var(--seed-v3-color-palette-gray-100);
  --seed-v3-color-fg-neutral-muted: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-fg-neutral-subtle: var(--seed-v3-color-palette-gray-700);
  --seed-v3-color-fg-neutral: var(--seed-v3-color-palette-gray-900);
  --seed-v3-color-fg-placeholder: var(--seed-v3-color-palette-gray-600);
  --seed-v3-color-fg-positive-contrast: var(--seed-v3-color-palette-green-900);
  --seed-v3-color-fg-positive: var(--seed-v3-color-palette-green-600);
  --seed-v3-color-fg-static-black: var(--seed-v3-color-palette-static-black);
  --seed-v3-color-fg-static-white: var(--seed-v3-color-palette-static-white);
  --seed-v3-color-fg-warning-contrast: var(--seed-v3-color-palette-yellow-900);
  --seed-v3-color-palette-blue-100: rgba(35, 39, 44, 1);
  --seed-v3-color-palette-blue-1000: rgba(217, 244, 250, 1);
  --seed-v3-color-palette-blue-200: rgba(34, 52, 68, 1);
  --seed-v3-color-palette-blue-300: rgba(24, 69, 100, 1);
  --seed-v3-color-palette-blue-400: rgba(3, 90, 135, 1);
  --seed-v3-color-palette-blue-500: rgba(0, 112, 168, 1);
  --seed-v3-color-palette-blue-600: rgba(0, 138, 202, 1);
  --seed-v3-color-palette-blue-700: rgba(13, 166, 241, 1);
  --seed-v3-color-palette-blue-800: rgba(107, 192, 242, 1);
  --seed-v3-color-palette-blue-900: rgba(173, 219, 242, 1);
  --seed-v3-color-palette-carrot-100: rgba(49, 36, 31, 1);
  --seed-v3-color-palette-carrot-1000: rgba(244, 238, 234, 1);
  --seed-v3-color-palette-carrot-200: rgba(75, 41, 28, 1);
  --seed-v3-color-palette-carrot-300: rgba(107, 49, 28, 1);
  --seed-v3-color-palette-carrot-400: rgba(130, 47, 0, 1);
  --seed-v3-color-palette-carrot-500: rgba(196, 69, 1, 1);
  --seed-v3-color-palette-carrot-600: rgba(247, 89, 0, 1);
  --seed-v3-color-palette-carrot-700: rgba(255, 102, 0, 1);
  --seed-v3-color-palette-carrot-800: rgba(255, 185, 153, 1);
  --seed-v3-color-palette-carrot-900: rgba(238, 206, 188, 1);
  --seed-v3-color-palette-gray-00: rgba(18, 18, 18, 1);
  --seed-v3-color-palette-gray-100: rgba(26, 28, 32, 1);
  --seed-v3-color-palette-gray-200: rgba(37, 39, 44, 1);
  --seed-v3-color-palette-gray-300: rgba(44, 46, 52, 1);
  --seed-v3-color-palette-gray-400: rgba(62, 65, 69, 1);
  --seed-v3-color-palette-gray-500: rgba(91, 96, 106, 1);
  --seed-v3-color-palette-gray-600: rgba(134, 139, 148, 1);
  --seed-v3-color-palette-gray-700: rgba(176, 179, 186, 1);
  --seed-v3-color-palette-gray-800: rgba(220, 222, 227, 1);
  --seed-v3-color-palette-gray-900: rgba(243, 244, 245, 1);
  --seed-v3-color-palette-gray-alpha-50: rgba(255, 255, 255, 0.05);
  --seed-v3-color-palette-green-100: rgba(32, 41, 38, 1);
  --seed-v3-color-palette-green-1000: rgba(212, 246, 239, 1);
  --seed-v3-color-palette-green-200: rgba(32, 54, 46, 1);
  --seed-v3-color-palette-green-300: rgba(32, 73, 59, 1);
  --seed-v3-color-palette-green-400: rgba(25, 96, 76, 1);
  --seed-v3-color-palette-green-500: rgba(17, 121, 86, 1);
  --seed-v3-color-palette-green-600: rgba(27, 148, 109, 1);
  --seed-v3-color-palette-green-700: rgba(34, 178, 127, 1);
  --seed-v3-color-palette-green-800: rgba(53, 206, 154, 1);
  --seed-v3-color-palette-green-900: rgba(147, 229, 192, 1);
  --seed-v3-color-palette-purple-100: rgba(50, 32, 101, 1);
  --seed-v3-color-palette-purple-1000: rgba(240, 237, 252, 1);
  --seed-v3-color-palette-purple-200: rgba(59, 40, 115, 1);
  --seed-v3-color-palette-purple-300: rgba(68, 48, 129, 1);
  --seed-v3-color-palette-purple-400: rgba(90, 59, 177, 1);
  --seed-v3-color-palette-purple-500: rgba(118, 79, 217, 1);
  --seed-v3-color-palette-purple-600: rgba(142, 107, 238, 1);
  --seed-v3-color-palette-purple-700: rgba(167, 141, 240, 1);
  --seed-v3-color-palette-purple-800: rgba(190, 173, 242, 1);
  --seed-v3-color-palette-purple-900: rgba(217, 206, 250, 1);
  --seed-v3-color-palette-red-100: rgba(50, 35, 35, 1);
  --seed-v3-color-palette-red-1000: rgba(249, 236, 235, 1);
  --seed-v3-color-palette-red-200: rgba(79, 38, 36, 1);
  --seed-v3-color-palette-red-300: rgba(116, 40, 38, 1);
  --seed-v3-color-palette-red-400: rgba(161, 38, 33, 1);
  --seed-v3-color-palette-red-500: rgba(209, 30, 19, 1);
  --seed-v3-color-palette-red-600: rgba(247, 53, 38, 1);
  --seed-v3-color-palette-red-700: rgba(242, 121, 109, 1);
  --seed-v3-color-palette-red-800: rgba(241, 163, 155, 1);
  --seed-v3-color-palette-red-900: rgba(242, 203, 201, 1);
  --seed-v3-color-palette-static-black-alpha-200: rgba(0, 0, 0, 0.2);
  --seed-v3-color-palette-static-black-alpha-50: rgba(0, 0, 0, 0.05);
  --seed-v3-color-palette-static-black-alpha-500: rgba(0, 0, 0, 0.5);
  --seed-v3-color-palette-static-black: rgba(0, 0, 0, 1);
  --seed-v3-color-palette-static-white-alpha-200: rgba(255, 255, 255, 0.2);
  --seed-v3-color-palette-static-white-alpha-50: rgba(255, 255, 255, 0.05);
  --seed-v3-color-palette-static-white: rgba(255, 255, 255, 1);
  --seed-v3-color-palette-yellow-100: rgba(42, 38, 35, 1);
  --seed-v3-color-palette-yellow-1000: rgba(243, 239, 230, 1);
  --seed-v3-color-palette-yellow-200: rgba(62, 47, 33, 1);
  --seed-v3-color-palette-yellow-300: rgba(87, 60, 32, 1);
  --seed-v3-color-palette-yellow-400: rgba(117, 76, 28, 1);
  --seed-v3-color-palette-yellow-500: rgba(146, 95, 32, 1);
  --seed-v3-color-palette-yellow-600: rgba(176, 118, 52, 1);
  --seed-v3-color-palette-yellow-700: rgba(203, 146, 68, 1);
  --seed-v3-color-palette-yellow-800: rgba(226, 173, 102, 1);
  --seed-v3-color-palette-yellow-900: rgba(238, 208, 171, 1);
  --seed-v3-color-stroke-brand: var(--seed-v3-color-palette-carrot-600);
  --seed-v3-color-stroke-control: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-danger: var(--seed-v3-color-palette-red-600);
  --seed-v3-color-stroke-field-focused: var(--seed-v3-color-palette-gray-800);
  --seed-v3-color-stroke-field: var(--seed-v3-color-palette-gray-400);
  --seed-v3-color-stroke-neutral-muted: var(--seed-v3-color-palette-gray-200);
  --seed-v3-color-stroke-neutral: var(--seed-v3-color-palette-gray-300);
  --seed-v3-color-stroke-on-image: var(--seed-v3-color-palette-gray-alpha-50);
  --seed-v3-color-stroke-positive: var(--seed-v3-color-palette-green-600);
}
