:root[data-seed] {
    color-scheme: light dark;
}

:root[data-seed=light-only] {
    color-scheme: light;
}

:root[data-seed=dark-only] {
    color-scheme: dark;
}

:root[data-seed] {
    --seed-color-fg-static-black: #000000;
    --seed-color-fg-static-white: #ffffff;

    --seed-font-weight-regular: 400;
    --seed-font-weight-bold: 700;

    --seed-unit-0\.5: 2px;
    --seed-unit-1: 4px;
    --seed-unit-1\.5: 6px;
    --seed-unit-2: 8px;
    --seed-unit-2\.5: 10px;
    --seed-unit-3: 12px;
    --seed-unit-3\.5: 14px;
    --seed-unit-4: 16px;
    --seed-unit-5: 20px;
    --seed-unit-6: 24px;
    --seed-unit-7: 28px;
    --seed-unit-8: 32px;
    --seed-unit-9: 36px;
    --seed-unit-10: 40px;

    --seed-radii-0\.5: 2px;
    --seed-radii-1: 4px;
    --seed-radii-1\.5: 6px;
    --seed-radii-2: 8px;
    --seed-radii-2\.5: 10px;
    --seed-radii-3: 12px;
    --seed-radii-3\.5: 14px;
    --seed-radii-4: 16px;
    --seed-radii-full: 9999px;

    --seed-font-size-50: 0.75rem;
    /* 12px */
    --seed-font-size-75: 0.8125rem;
    /* 13px */
    --seed-font-size-100: 0.875rem;
    /* 14px */
    --seed-font-size-200: 1rem;
    /* 16px */
}

:root[data-seed][data-seed=light-only][data-seed-scale-color=dark],
:root[data-seed][data-seed-scale-color=light]:not([data-seed=dark-only]),
:root[data-seed]:not([data-seed=dark-only]) [data-seed-scale-color=light] {
    --seed-color-bg-brand-emphasis-pressed: var(--seed-color-palette-carrot-400);
    --seed-color-bg-brand-emphasis: var(--seed-color-palette-carrot-500);
    --seed-color-bg-brand-pressed: var(--seed-color-palette-carrot-alpha-200);
    --seed-color-bg-brand: var(--seed-color-palette-carrot-alpha-100);
    --seed-color-bg-danger-emphasis-pressed: var(--seed-color-palette-red-400);
    --seed-color-bg-danger-emphasis: var(--seed-color-palette-red-600);
    --seed-color-bg-danger: var(--seed-color-palette-red-alpha-50);
    --seed-color-bg-disabled: var(--seed-color-palette-gray-300);
    --seed-color-bg-informative: var(--seed-color-palette-blue-alpha-50);
    --seed-color-bg-layer-1-pressed: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-1: var(--seed-color-palette-gray-00);
    --seed-color-bg-layer-2: var(--seed-color-palette-gray-50);
    --seed-color-bg-layer-basement: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-floating: var(--seed-color-palette-gray-00);
    --seed-color-bg-neutral-inverted-pressed: var(--seed-color-palette-gray-700);
    --seed-color-bg-neutral-inverted: var(--seed-color-palette-gray-900);
    --seed-color-bg-neutral-pressed: var(--seed-color-palette-gray-300);
    --seed-color-bg-neutral: var(--seed-color-palette-gray-100);
    --seed-color-bg-overlay-subtle: var(--seed-color-palette-static-black-alpha-200);
    --seed-color-bg-overlay: var(--seed-color-palette-static-black-alpha-500);
    --seed-color-bg-success-emphasis: var(--seed-color-palette-green-500);
    --seed-color-bg-success: var(--seed-color-palette-green-alpha-50);
    --seed-color-bg-text-selection: var(--seed-color-palette-carrot-50);
    --seed-color-bg-warning-emphasis: var(--seed-color-palette-yellow-400);
    --seed-color-bg-warning: var(--seed-color-palette-yellow-alpha-100);
    --seed-color-fg-brand: var(--seed-color-palette-carrot-500);
    --seed-color-fg-danger-banner: var(--seed-color-palette-red-950);
    --seed-color-fg-danger: var(--seed-color-palette-red-600);
    --seed-color-fg-disabled: var(--seed-color-palette-gray-500);
    --seed-color-fg-informative-banner: var(--seed-color-palette-blue-950);
    --seed-color-fg-informative: var(--seed-color-palette-blue-500);
    --seed-color-fg-neutral-inverted: var(--seed-color-palette-gray-00);
    --seed-color-fg-neutral-muted: var(--seed-color-palette-gray-700);
    --seed-color-fg-neutral-subtle: var(--seed-color-palette-gray-600);
    --seed-color-fg-neutral: var(--seed-color-palette-gray-900);
    --seed-color-fg-placeholder: var(--seed-color-palette-gray-500);
    --seed-color-fg-static-black: var(--seed-color-palette-static-black);
    --seed-color-fg-static-white: var(--seed-color-palette-static-white);
    --seed-color-fg-success-banner: var(--seed-color-palette-green-950);
    --seed-color-fg-success: var(--seed-color-palette-green-500);
    --seed-color-fg-warning-banner: var(--seed-color-palette-yellow-950);
    --seed-color-palette-blue-100: #D2EDFA;
    --seed-color-palette-blue-200: #B9E3FA;
    --seed-color-palette-blue-300: #87D7FF;
    --seed-color-palette-blue-400: #57C7FF;
    --seed-color-palette-blue-500: #009CEB;
    --seed-color-palette-blue-50: #EBF7FA;
    --seed-color-palette-blue-600: #0088CC;
    --seed-color-palette-blue-700: #0077B2;
    --seed-color-palette-blue-800: #006199;
    --seed-color-palette-blue-900: #004C73;
    --seed-color-palette-blue-950: #003B59;
    --seed-color-palette-blue-alpha-100: #009CEB;
    --seed-color-palette-blue-alpha-200: #009CEB;
    --seed-color-palette-blue-alpha-50: #009CEB;
    --seed-color-palette-carrot-100: #FFE2D2;
    --seed-color-palette-carrot-200: #FFD2B9;
    --seed-color-palette-carrot-300: #FFBC97;
    --seed-color-palette-carrot-400: #FF9E66;
    --seed-color-palette-carrot-500: #FF6F0F;
    --seed-color-palette-carrot-50: #FFF5F0;
    --seed-color-palette-carrot-600: #FA6616;
    --seed-color-palette-carrot-700: #F05705;
    --seed-color-palette-carrot-800: #CC4700;
    --seed-color-palette-carrot-900: #B44104;
    --seed-color-palette-carrot-950: #A03A03;
    --seed-color-palette-carrot-alpha-100: #FF6F0F;
    --seed-color-palette-carrot-alpha-200: #FF6F0F;
    --seed-color-palette-carrot-alpha-50: #FF6F0F;
    --seed-color-palette-gray-00: #FFFFFF;
    --seed-color-palette-gray-100: #F2F3F6;
    --seed-color-palette-gray-200: #EAEBEE;
    --seed-color-palette-gray-300: #DCDEE3;
    --seed-color-palette-gray-400: #D1D3D8;
    --seed-color-palette-gray-500: #ADB1BA;
    --seed-color-palette-gray-50: #F7F8FA;
    --seed-color-palette-gray-600: #868B94;
    --seed-color-palette-gray-700: #4D5159;
    --seed-color-palette-gray-800: #393A40;
    --seed-color-palette-gray-900: #212124;
    --seed-color-palette-gray-alpha-100: #15234E;
    --seed-color-palette-gray-alpha-200: #19233E;
    --seed-color-palette-gray-alpha-500: #282E40;
    --seed-color-palette-gray-alpha-50: #001758;
    --seed-color-palette-green-100: #C7F2E4;
    --seed-color-palette-green-200: #96EBC3;
    --seed-color-palette-green-300: #6ADEAC;
    --seed-color-palette-green-400: #30C795;
    --seed-color-palette-green-500: #1AA174;
    --seed-color-palette-green-50: #E8FAF6;
    --seed-color-palette-green-600: #128C6E;
    --seed-color-palette-green-700: #077A5E;
    --seed-color-palette-green-800: #06614A;
    --seed-color-palette-green-900: #004F40;
    --seed-color-palette-green-950: #004034;
    --seed-color-palette-green-alpha-100: #1AA174;
    --seed-color-palette-green-alpha-200: #1AA174;
    --seed-color-palette-green-alpha-50: #1AA174;
    --seed-color-palette-pink-100: #FFDDDB;
    --seed-color-palette-pink-200: #FFBFC5;
    --seed-color-palette-pink-300: #FFADB4;
    --seed-color-palette-pink-400: #FF8A9D;
    --seed-color-palette-pink-500: #F0657C;
    --seed-color-palette-pink-50: #FFF5F5;
    --seed-color-palette-pink-600: #DB4B6A;
    --seed-color-palette-pink-700: #BD2B5C;
    --seed-color-palette-pink-800: #991C45;
    --seed-color-palette-pink-900: #800D3D;
    --seed-color-palette-pink-950: #660A30;
    --seed-color-palette-purple-100: #E3DAFE;
    --seed-color-palette-purple-200: #D5C7FF;
    --seed-color-palette-purple-300: #CFBFFF;
    --seed-color-palette-purple-400: #B69EFF;
    --seed-color-palette-purple-500: #9675FA;
    --seed-color-palette-purple-50: #F6F4FE;
    --seed-color-palette-purple-600: #8361E8;
    --seed-color-palette-purple-700: #6748C7;
    --seed-color-palette-purple-800: #4F3699;
    --seed-color-palette-purple-900: #3F2687;
    --seed-color-palette-purple-950: #331E70;
    --seed-color-palette-red-100: #FFE5E3;
    --seed-color-palette-red-200: #FCD2CF;
    --seed-color-palette-red-300: #FFACA6;
    --seed-color-palette-red-400: #FF7E75;
    --seed-color-palette-red-500: #FF4133;
    --seed-color-palette-red-50: #FFF3F2;
    --seed-color-palette-red-600: #FA2314;
    --seed-color-palette-red-700: #E81607;
    --seed-color-palette-red-800: #A62014;
    --seed-color-palette-red-900: #910C00;
    --seed-color-palette-red-950: #821006;
    --seed-color-palette-red-alpha-100: #FF4133;
    --seed-color-palette-red-alpha-200: #FF4133;
    --seed-color-palette-red-alpha-50: #FF4133;
    --seed-color-palette-static-black-alpha-200: #000000;
    --seed-color-palette-static-black-alpha-500: #000000;
    --seed-color-palette-static-black: #000000;
    --seed-color-palette-static-blue-50: #EBF7FA;
    --seed-color-palette-static-blue-800: #0A85B5;
    --seed-color-palette-static-carrot-50: #FFF5F0;
    --seed-color-palette-static-carrot-800: #CC4700;
    --seed-color-palette-static-gray-900: #212124;
    --seed-color-palette-static-green-50: #E8FAF6;
    --seed-color-palette-static-green-800: #008C72;
    --seed-color-palette-static-red-50: #FFF3F2;
    --seed-color-palette-static-red-800: #E81300;
    --seed-color-palette-static-white-alpha-200: #FFFFFF;
    --seed-color-palette-static-white-alpha-50: #FFFFFF;
    --seed-color-palette-static-white: #FFFFFF;
    --seed-color-palette-static-yellow-50: #FFF7E6;
    --seed-color-palette-static-yellow-800: #BA5E02;
    --seed-color-palette-yellow-100: #FFE3BA;
    --seed-color-palette-yellow-200: #FACC87;
    --seed-color-palette-yellow-300: #F7BE68;
    --seed-color-palette-yellow-400: #DEA651;
    --seed-color-palette-yellow-500: #C27F29;
    --seed-color-palette-yellow-50: #FFF7E6;
    --seed-color-palette-yellow-600: #A66C21;
    --seed-color-palette-yellow-700: #805217;
    --seed-color-palette-yellow-800: #6B4717;
    --seed-color-palette-yellow-900: #593D17;
    --seed-color-palette-yellow-950: #4D361A;
    --seed-color-palette-yellow-alpha-100: #F7BE68;
    --seed-color-palette-yellow-alpha-200: #F7BE68;
    --seed-color-palette-yellow-alpha-50: #F7BE68;
    --seed-color-stroke-brand: var(--seed-color-palette-carrot-400);
    --seed-color-stroke-control: var(--seed-color-palette-gray-300);
    --seed-color-stroke-decorative-subtle: var(--seed-color-palette-gray-alpha-50);
    --seed-color-stroke-decorative: var(--seed-color-palette-gray-300);
    --seed-color-stroke-field-focused: var(--seed-color-palette-gray-700);
    --seed-color-stroke-field: var(--seed-color-palette-gray-400);
}