@layer seed-components {
  .seed-action-sheet-item {
    background-color: var(--seed-color-bg-layer-floating);
    justify-content: center;
    align-items: center;
    min-height: 50px;
    display: flex;
    position: relative;
  }

  .seed-action-sheet-item__text {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
  }

  .seed-action-sheet-item:active {
    background-color: var(--seed-color-bg-layer-floating-pressed);
  }

  .seed-action-sheet-item:after {
    left: var(--seed-dimension-spacing-x-global-gutter);
    right: var(--seed-dimension-spacing-x-global-gutter);
    background: var(--seed-color-stroke-neutral-muted);
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
  }

  .seed-action-sheet-item__text--tone_neutral {
    color: var(--seed-color-fg-neutral);
  }

  .seed-action-sheet-item__text--tone_critical {
    color: var(--seed-color-fg-critical);
  }
}
