.seed-action-button__root {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    flex-shrink: 0;
    --seed-box-flex-grow: 0;
    flex-grow: var(--seed-box-flex-grow);
    --seed-box-min-width: auto;
    min-width: var(--seed-box-min-width);
    --seed-box-padding-bottom: auto;
    --seed-box-padding-top: auto;
    --seed-box-padding-left: auto;
    --seed-box-padding-right: auto;
    padding-top: var(--seed-box-padding-top);
    padding-bottom: var(--seed-box-padding-bottom);
    padding-left: var(--seed-box-padding-left);
    padding-right: var(--seed-box-padding-right);
    --seed-box-bleed-bottom: 0px;
    --seed-box-bleed-top: 0px;
    --seed-box-bleed-left: 0px;
    --seed-box-bleed-right: 0px;
    margin-top: calc(var(--seed-box-bleed-top) * -1);
    margin-bottom: calc(var(--seed-box-bleed-bottom) * -1);
    margin-left: calc(var(--seed-box-bleed-left) * -1);
    margin-right: calc(var(--seed-box-bleed-right) * -1);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing)
}
.seed-action-button__text {
    font-family: inherit;
    font-weight: var(--seed-font-weight-bold);
    transition: color var(--seed-duration-color-transition) var(--seed-timing-function-easing)
}
.seed-action-button__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0
}
.seed-action-button__prefixIcon {
    flex-shrink: 0
}
.seed-action-button__suffixIcon {
    flex-shrink: 0
}
.seed-action-button__icon {
    flex-shrink: 0
}
.seed-action-button__loadingIndicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.seed-action-button__root--variant_brandSolid {
    background: var(--seed-color-bg-brand-solid);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white)
}
.seed-action-button__text--variant_brandSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__prefixIcon--variant_brandSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__suffixIcon--variant_brandSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__icon--variant_brandSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__root--variant_neutralSolid {
    background: var(--seed-color-bg-neutral-inverted);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white)
}
.seed-action-button__text--variant_neutralSolid {
    color: var(--seed-color-fg-neutral-inverted)
}
.seed-action-button__prefixIcon--variant_neutralSolid {
    color: var(--seed-color-fg-neutral-inverted)
}
.seed-action-button__suffixIcon--variant_neutralSolid {
    color: var(--seed-color-fg-neutral-inverted)
}
.seed-action-button__icon--variant_neutralSolid {
    color: var(--seed-color-fg-neutral-inverted)
}
.seed-action-button__root--variant_neutralWeak {
    background: var(--seed-color-bg-neutral-weak);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral)
}
.seed-action-button__text--variant_neutralWeak {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__prefixIcon--variant_neutralWeak {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__suffixIcon--variant_neutralWeak {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__icon--variant_neutralWeak {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__root--variant_criticalSolid {
    background: var(--seed-color-bg-critical-solid);
    --track-color: var(--seed-color-palette-static-white-alpha-300);
    --range-color: var(--seed-color-palette-static-white)
}
.seed-action-button__text--variant_criticalSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__prefixIcon--variant_criticalSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__suffixIcon--variant_criticalSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__icon--variant_criticalSolid {
    color: var(--seed-color-palette-static-white)
}
.seed-action-button__root--variant_brandOutline {
    border-style: solid;
    background: var(--seed-color-bg-transparent);
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral-muted);
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-bg-brand-solid)
}
.seed-action-button__text--variant_brandOutline {
    color: var(--seed-color-fg-brand)
}
.seed-action-button__prefixIcon--variant_brandOutline {
    color: var(--seed-color-fg-brand)
}
.seed-action-button__suffixIcon--variant_brandOutline {
    color: var(--seed-color-fg-brand)
}
.seed-action-button__icon--variant_brandOutline {
    color: var(--seed-color-fg-brand)
}
.seed-action-button__root--variant_neutralOutline {
    border-style: solid;
    background: var(--seed-color-bg-transparent);
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral-muted);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral)
}
.seed-action-button__text--variant_neutralOutline {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__prefixIcon--variant_neutralOutline {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__suffixIcon--variant_neutralOutline {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__icon--variant_neutralOutline {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__root--variant_ghost {
    background: #ffffff00;
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral)
}
.seed-action-button__text--variant_ghost {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__prefixIcon--variant_ghost {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__suffixIcon--variant_ghost {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__icon--variant_ghost {
    color: var(--seed-color-fg-neutral)
}
.seed-action-button__root--size_xsmall {
    height: var(--seed-dimension-x8);
    border-radius: var(--seed-radius-full);
    --size: 14px;
    --thickness: 2px
}
.seed-action-button__root--size_small {
    height: var(--seed-dimension-x9);
    border-radius: var(--seed-radius-r2);
    --size: 14px;
    --thickness: 2px
}
.seed-action-button__root--size_medium {
    height: var(--seed-dimension-x10);
    border-radius: var(--seed-radius-r2);
    --size: 16px;
    --thickness: 2px
}
.seed-action-button__root--size_large {
    height: var(--seed-dimension-x13);
    border-radius: var(--seed-radius-r3);
    --size: 18px;
    --thickness: 2px
}
.seed-action-button__root--size_xsmall-layout_withText {
    gap: var(--seed-dimension-x1);
    --seed-box-padding-left: var(--seed-dimension-x3_5);
    --seed-box-padding-right: var(--seed-dimension-x3_5);
    --seed-box-padding-top: var(--seed-dimension-x1_5);
    --seed-box-padding-bottom: var(--seed-dimension-x1_5)
}
.seed-action-button__content--size_xsmall-layout_withText {
    gap: var(--seed-dimension-x1)
}
.seed-action-button__text--size_xsmall-layout_withText {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-action-button__prefixIcon--size_xsmall-layout_withText {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5)
}
.seed-action-button__suffixIcon--size_xsmall-layout_withText {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5)
}
.seed-action-button__root--size_xsmall-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
    --seed-box-padding-left: var(--seed-dimension-x1_5);
    --seed-box-padding-right: var(--seed-dimension-x1_5);
    --seed-box-padding-top: var(--seed-dimension-x1_5);
    --seed-box-padding-bottom: var(--seed-dimension-x1_5)
}
.seed-action-button__icon--size_xsmall-layout_iconOnly {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5)
}
.seed-action-button__root--size_small-layout_withText {
    gap: var(--seed-dimension-x1);
    --seed-box-padding-left: var(--seed-dimension-x3_5);
    --seed-box-padding-right: var(--seed-dimension-x3_5);
    --seed-box-padding-top: var(--seed-dimension-x2);
    --seed-box-padding-bottom: var(--seed-dimension-x2)
}
.seed-action-button__content--size_small-layout_withText {
    gap: var(--seed-dimension-x1)
}
.seed-action-button__text--size_small-layout_withText {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)
}
.seed-action-button__prefixIcon--size_small-layout_withText {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5)
}
.seed-action-button__suffixIcon--size_small-layout_withText {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5)
}
.seed-action-button__root--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
    --seed-box-padding-left: var(--seed-dimension-x2);
    --seed-box-padding-right: var(--seed-dimension-x2);
    --seed-box-padding-top: var(--seed-dimension-x2);
    --seed-box-padding-bottom: var(--seed-dimension-x2)
}
.seed-action-button__icon--size_small-layout_iconOnly {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4)
}
.seed-action-button__root--size_medium-layout_withText {
    gap: var(--seed-dimension-x1_5);
    --seed-box-padding-left: var(--seed-dimension-x4);
    --seed-box-padding-right: var(--seed-dimension-x4);
    --seed-box-padding-top: var(--seed-dimension-x2_5);
    --seed-box-padding-bottom: var(--seed-dimension-x2_5)
}
.seed-action-button__content--size_medium-layout_withText {
    gap: var(--seed-dimension-x1_5)
}
.seed-action-button__text--size_medium-layout_withText {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)
}
.seed-action-button__prefixIcon--size_medium-layout_withText {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4)
}
.seed-action-button__suffixIcon--size_medium-layout_withText {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4)
}
.seed-action-button__root--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x10);
    --seed-box-padding-left: var(--seed-dimension-x2_5);
    --seed-box-padding-right: var(--seed-dimension-x2_5);
    --seed-box-padding-top: var(--seed-dimension-x2_5);
    --seed-box-padding-bottom: var(--seed-dimension-x2_5)
}
.seed-action-button__icon--size_medium-layout_iconOnly {
    width: 18px;
    height: 18px
}
.seed-action-button__root--size_large-layout_withText {
    gap: var(--seed-dimension-x2);
    --seed-box-padding-left: var(--seed-dimension-x5);
    --seed-box-padding-right: var(--seed-dimension-x5);
    --seed-box-padding-top: var(--seed-dimension-x3_5);
    --seed-box-padding-bottom: var(--seed-dimension-x3_5)
}
.seed-action-button__content--size_large-layout_withText {
    gap: var(--seed-dimension-x2)
}
.seed-action-button__text--size_large-layout_withText {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6)
}
.seed-action-button__prefixIcon--size_large-layout_withText {
    width: 22px;
    height: 22px
}
.seed-action-button__suffixIcon--size_large-layout_withText {
    width: 22px;
    height: 22px
}
.seed-action-button__root--size_large-layout_iconOnly {
    min-width: var(--seed-dimension-x13);
    --seed-box-padding-left: var(--seed-dimension-x3_5);
    --seed-box-padding-right: var(--seed-dimension-x3_5);
    --seed-box-padding-top: var(--seed-dimension-x3_5);
    --seed-box-padding-bottom: var(--seed-dimension-x3_5)
}
.seed-action-button__icon--size_large-layout_iconOnly {
    width: 22px;
    height: 22px
}
.seed-action-button__root--variant_brandSolid-pressed_true {
    background: var(--seed-color-bg-brand-solid-pressed)
}
.seed-action-button__root--variant_neutralSolid-pressed_true {
    background: var(--seed-color-bg-neutral-inverted-pressed)
}
.seed-action-button__root--variant_neutralWeak-pressed_true {
    background: var(--seed-color-bg-neutral-weak-pressed)
}
.seed-action-button__root--variant_criticalSolid-pressed_true {
    background: var(--seed-color-bg-critical-solid-pressed)
}
.seed-action-button__root--variant_brandOutline-pressed_true {
    background: var(--seed-color-bg-transparent-pressed)
}
.seed-action-button__root--variant_neutralOutline-pressed_true {
    background: var(--seed-color-bg-transparent-pressed)
}
.seed-action-button__root--variant_ghost-pressed_true {
    background: var(--seed-color-bg-transparent-pressed)
}
.seed-action-button__root--variant_brandSolid-disabled_true {
    background: var(--seed-color-bg-disabled)
}
.seed-action-button__text--variant_brandSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_brandSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_brandSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_brandSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_neutralSolid-disabled_true {
    background: var(--seed-color-bg-disabled)
}
.seed-action-button__text--variant_neutralSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_neutralSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_neutralSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_neutralSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_neutralWeak-disabled_true {
    background: var(--seed-color-bg-disabled)
}
.seed-action-button__text--variant_neutralWeak-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_neutralWeak-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_neutralWeak-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_neutralWeak-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_criticalSolid-disabled_true {
    background: var(--seed-color-bg-disabled)
}
.seed-action-button__text--variant_criticalSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_criticalSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_criticalSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_criticalSolid-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_brandOutline-disabled_true {
    background: var(--seed-color-bg-transparent);
    border-color: var(--seed-color-stroke-neutral-muted)
}
.seed-action-button__text--variant_brandOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_brandOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_brandOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_brandOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_neutralOutline-disabled_true {
    background: var(--seed-color-bg-transparent);
    border-color: var(--seed-color-stroke-neutral-muted)
}
.seed-action-button__text--variant_neutralOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_neutralOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_neutralOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_neutralOutline-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_ghost-disabled_true {
    background: #ffffff00
}
.seed-action-button__text--variant_ghost-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__prefixIcon--variant_ghost-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__suffixIcon--variant_ghost-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__icon--variant_ghost-disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-action-button__root--variant_brandSolid-loading_true {
    background: var(--seed-color-bg-brand-solid-pressed)
}
.seed-action-button__root--variant_neutralSolid-loading_true {
    background: var(--seed-color-bg-neutral-inverted-pressed)
}
.seed-action-button__root--variant_neutralWeak-loading_true {
    background: var(--seed-color-bg-neutral-weak-pressed)
}
.seed-action-button__root--variant_criticalSolid-loading_true {
    background: var(--seed-color-bg-critical-solid-pressed)
}
.seed-action-button__root--variant_brandOutline-loading_true {
    background: var(--seed-color-bg-transparent)
}
.seed-action-button__root--variant_neutralOutline-loading_true {
    background: var(--seed-color-bg-transparent)
}
.seed-action-button__root--variant_ghost-loading_true {
    background: var(--seed-color-bg-transparent-pressed)
}