.seed-avatar-stack__root {
    display: flex;
    flex-direction: row;
    align-items: center
}
.seed-avatar-stack__item {
    flex-shrink: 0;
    border-radius: var(--seed-radius-full)
}
.seed-avatar-stack__item--size_20 {
    box-shadow: 0 0 0 1px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_20 {
    margin-left: -5px
}
.seed-avatar-stack__item--size_24 {
    box-shadow: 0 0 0 1px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_24 {
    margin-left: -6px
}
.seed-avatar-stack__item--size_36 {
    box-shadow: 0 0 0 2px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_36 {
    margin-left: -8px
}
.seed-avatar-stack__item--size_42 {
    box-shadow: 0 0 0 2px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_42 {
    margin-left: -10px
}
.seed-avatar-stack__item--size_48 {
    box-shadow: 0 0 0 2px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_48 {
    margin-left: -12px
}
.seed-avatar-stack__item--size_56 {
    box-shadow: 0 0 0 3px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_56 {
    margin-left: -13px
}
.seed-avatar-stack__item--size_64 {
    box-shadow: 0 0 0 3px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_64 {
    margin-left: -16px
}
.seed-avatar-stack__item--size_80 {
    box-shadow: 0 0 0 4px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_80 {
    margin-left: -20px
}
.seed-avatar-stack__item--size_96 {
    box-shadow: 0 0 0 5px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_96 {
    margin-left: -24px
}
.seed-avatar-stack__item--size_108 {
    box-shadow: 0 0 0 5px var(--seed-color-bg-layer-default)
}
.seed-avatar-stack__overlap--size_108 {
    margin-left: -27px
}