@layer seed-components {
  .seed-bottom-sheet__positioner {
    --sheet-z-index: 2;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    justify-content: center;
    align-items: flex-end;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .seed-bottom-sheet__backdrop {
    opacity: 0;
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .seed-bottom-sheet__content {
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    border-top-left-radius: var(--seed-radius-r6);
    border-top-right-radius: var(--seed-radius-r6);
    padding-bottom: env(safe-area-inset-bottom);
    flex-direction: column;
    flex: 1;
    display: flex;
    position: relative;
    transform: translate3d(0, 100%, 0);
  }

  .seed-bottom-sheet__header {
    gap: var(--seed-dimension-x2);
    padding-top: var(--seed-dimension-x6);
    padding-bottom: var(--seed-dimension-x4);
    flex-direction: column;
    display: flex;
  }

  .seed-bottom-sheet__title {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t8);
    line-height: var(--seed-line-height-t8);
    font-weight: var(--seed-font-weight-bold);
    margin: 0;
  }

  .seed-bottom-sheet__description {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    margin: 0;
  }

  .seed-bottom-sheet__body {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    flex-direction: column;
    display: flex;
  }

  .seed-bottom-sheet__footer {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x4);
    flex-direction: column;
    display: flex;
  }

  .seed-bottom-sheet__closeButton {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
  }

  .seed-bottom-sheet__header--headerAlign_left {
    justify-content: flex-start;
  }

  .seed-bottom-sheet__title--headerAlign_left {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
  }

  .seed-bottom-sheet__header--headerAlign_center {
    text-align: center;
    justify-content: center;
  }

  .seed-bottom-sheet__title--headerAlign_center {
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
  }
}
