@layer seed-components {
  .seed-bottom-sheet-handle__root {
    background-color: var(--seed-color-palette-gray-400);
    border-radius: 9999px;
    width: 36px;
    height: 4px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
  }

  .seed-bottom-sheet-handle__touchArea {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
