@layer seed-components {
  .seed-checkbox__root {
    align-items: center;
    gap: var(--seed-dimension-x2);
    display: flex;
    position: relative;
  }

  .seed-checkbox__label {
    color: var(--seed-color-fg-neutral);
  }

  .seed-checkbox__label--weight_regular {
    font-weight: var(--seed-font-weight-regular);
  }

  .seed-checkbox__label--weight_bold {
    font-weight: var(--seed-font-weight-bold);
  }

  .seed-checkbox__root--size_medium {
    min-height: var(--seed-dimension-x8);
  }

  .seed-checkbox__label--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
  }

  .seed-checkbox__root--size_large {
    min-height: var(--seed-dimension-x9);
  }

  .seed-checkbox__label--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  .seed-checkbox__label--disabled_true {
    color: var(--seed-color-fg-disabled);
  }
}
