@layer seed-components {
  .seed-chip-tabs__root {
    position: relative;
  }

  .seed-chip-tabs__list {
    padding: 0px var(--seed-dimension-x4);
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    display: flex;
    position: relative;
    overflow-x: auto;
  }

  .seed-chip-tabs__carousel {
    display: block;
    overflow: hidden;
  }

  .seed-chip-tabs__carouselCamera {
    display: flex;
  }

  .seed-chip-tabs__carouselCamera.seed-chip-tabs__carouselCamera--auto-height_true {
    align-items: flex-start;
  }

  .seed-chip-tabs__content {
    flex: 0 0 100%;
    min-width: 0;
    overflow: hidden auto;
    transform: translate3d(0, 0, 0);
  }

  .seed-chip-tabs__content:not([data-carousel]):not([aria-selected="true"]):not([data-selected]) {
    display: none;
  }

  .seed-chip-tabs__trigger {
    border-radius: var(--seed-radius-full);
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2);
    font-family: inherit;
    font-weight: var(--seed-font-weight-medium);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .seed-chip-tabs__list--size_medium {
    gap: 8px;
  }

  .seed-chip-tabs__trigger--size_medium {
    min-height: 36px;
    font-size: var(--seed-font-size-t4);
    padding-left: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x3_5);
  }

  .seed-chip-tabs__list--size_large {
    gap: 8px;
  }

  .seed-chip-tabs__trigger--size_large {
    min-height: 40px;
    font-size: var(--seed-font-size-t4);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
  }

  .seed-chip-tabs__trigger--variant_neutralSolid {
    background-color: var(--seed-color-bg-neutral-weak-alpha);
    color: var(--seed-color-fg-neutral);
  }

  .seed-chip-tabs__trigger--variant_neutralSolid[aria-selected="true"], .seed-chip-tabs__trigger--variant_neutralSolid.seed-chip-tabs__trigger--selected_true {
    background-color: var(--seed-color-bg-neutral-inverted);
    color: var(--seed-color-fg-neutral-inverted);
  }

  .seed-chip-tabs__trigger--variant_neutralSolid:active {
    background-color: var(--seed-color-bg-neutral-weak-alpha-pressed);
  }

  .seed-chip-tabs__trigger--variant_neutralSolid[aria-selected="true"]:active, .seed-chip-tabs__trigger--variant_neutralSolid.seed-chip-tabs__trigger--selected_true:active {
    background-color: var(--seed-color-bg-neutral-inverted-pressed);
  }

  .seed-chip-tabs__trigger--variant_neutralSolid.seed-chip-tabs__trigger--disabled_true {
    color: var(--seed-color-fg-disabled);
  }

  .seed-chip-tabs__trigger--variant_neutralSolid.seed-chip-tabs__trigger--disabled_true[aria-selected="true"], .seed-chip-tabs__trigger--variant_neutralSolid.seed-chip-tabs__trigger--disabled_true[data-selected] {
    background-color: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
  }

  .seed-chip-tabs__trigger--variant_neutralOutline {
    background-color: var(--seed-color-bg-transparent);
    border: 1px solid var(--seed-color-stroke-neutral-muted);
    color: var(--seed-color-fg-neutral);
  }

  .seed-chip-tabs__trigger--variant_neutralOutline[aria-selected="true"], .seed-chip-tabs__trigger--variant_neutralOutline.seed-chip-tabs__trigger--selected_true {
    background-color: var(--seed-color-bg-neutral-inverted);
    color: var(--seed-color-fg-neutral-inverted);
    border-color: #0000;
  }

  .seed-chip-tabs__trigger--variant_neutralOutline:active {
    background-color: var(--seed-color-bg-transparent-pressed);
  }

  .seed-chip-tabs__trigger--variant_neutralOutline[aria-selected="true"]:active, .seed-chip-tabs__trigger--variant_neutralOutline.seed-chip-tabs__trigger--selected_true:active {
    background-color: var(--seed-color-bg-neutral-inverted-pressed);
  }

  .seed-chip-tabs__trigger--variant_neutralOutline.seed-chip-tabs__trigger--disabled_true {
    color: var(--seed-color-fg-disabled);
  }

  .seed-chip-tabs__trigger--variant_neutralOutline.seed-chip-tabs__trigger--disabled_true[aria-selected="true"], .seed-chip-tabs__trigger--variant_neutralOutline.seed-chip-tabs__trigger--disabled_true[data-selected] {
    background-color: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
  }

  .seed-chip-tabs__trigger--variant_brandSolid {
    background-color: var(--seed-color-bg-neutral-weak);
    color: var(--seed-color-fg-neutral-muted);
  }

  .seed-chip-tabs__trigger--variant_brandSolid[aria-selected="true"], .seed-chip-tabs__trigger--variant_brandSolid.seed-chip-tabs__trigger--selected_true {
    background-color: var(--seed-color-bg-brand-solid);
    color: var(--seed-color-palette-static-white);
  }

  .seed-chip-tabs__trigger--variant_brandSolid:active {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
  }

  .seed-chip-tabs__trigger--variant_brandSolid[aria-selected="true"]:active, .seed-chip-tabs__trigger--variant_brandSolid.seed-chip-tabs__trigger--selected_true:active {
    background-color: var(--seed-color-bg-brand-solid-pressed);
  }

  .seed-chip-tabs__trigger--variant_brandSolid.seed-chip-tabs__trigger--disabled_true {
    background-color: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
  }

  .seed-chip-tabs__trigger--variant_brandSolid.seed-chip-tabs__trigger--disabled_true[aria-selected="true"], .seed-chip-tabs__trigger--variant_brandSolid.seed-chip-tabs__trigger--disabled_true[data-selected] {
    background-color: var(--seed-color-bg-disabled);
  }

  .seed-chip-tabs__root--contentLayout_fill {
    flex-direction: column;
    height: 100%;
    display: flex;
  }

  .seed-chip-tabs__carousel--contentLayout_fill {
    flex: 1;
  }

  .seed-chip-tabs__carouselCamera--contentLayout_fill {
    align-items: stretch;
    height: 100%;
  }

  .seed-chip-tabs__root--contentLayout_hug {
    display: block;
  }

  .seed-chip-tabs__root--stickyList_true {
    position: relative;
  }

  .seed-chip-tabs__list--stickyList_true {
    z-index: 1;
    position: sticky;
    top: 0;
  }
}
