@layer seed-components {
  .seed-extended-action-sheet-item {
    background-color: var(--seed-color-bg-neutral-weak);
    justify-content: flex-start;
    align-items: center;
    gap: var(--seed-dimension-x3_5);
    min-height: 52px;
    box-shadow: inset 0 calc(-1 * 1px) 0 var(--seed-color-stroke-neutral-muted);
    display: flex;
  }

  .seed-extended-action-sheet-item__text {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
  }

  .seed-extended-action-sheet-item:active {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
  }

  .seed-extended-action-sheet-item:last-child {
    box-shadow: none;
  }

  .seed-extended-action-sheet-item, .seed-extended-action-sheet-item__text {
    --seed-prefix-icon-size: 22px;
  }

  .seed-extended-action-sheet-item--tone_neutral {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
  }

  .seed-extended-action-sheet-item__text--tone_neutral {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
  }

  .seed-extended-action-sheet-item__text--tone_neutral {
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    color: var(--seed-color-fg-neutral);
  }

  .seed-extended-action-sheet-item--tone_critical {
    --seed-prefix-icon-color: var(--seed-color-fg-critical);
  }

  .seed-extended-action-sheet-item__text--tone_critical {
    --seed-prefix-icon-color: var(--seed-color-fg-critical);
  }

  .seed-extended-action-sheet-item__text--tone_critical {
    --seed-prefix-icon-color: var(--seed-color-fg-critical);
    color: var(--seed-color-fg-critical);
  }
}
