@layer seed-components {
  .seed-fab {
    border: none;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  .seed-fab__text {
    font-family: inherit;
  }

  .seed-fab {
    background: var(--seed-color-bg-layer-floating);
    border-radius: var(--seed-radius-full);
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral);
    width: 44px;
    height: 44px;
    box-shadow: 0 2px 6px #00000026;
  }

  .seed-fab__text {
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral);
  }

  .seed-fab__text {
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral);
  }

  .seed-fab:active {
    background: var(--seed-color-bg-layer-floating-pressed);
  }
}
