@layer seed-components {
  .seed-image-frame__root {
    border-radius: inherit;
    position: relative;
    overflow: hidden;
  }

  .seed-image-frame__content {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    display: block;
  }

  .seed-image-frame__fallback {
    width: 100%;
    height: 100%;
  }

  .seed-image-frame__root--stroke_true:after {
    pointer-events: none;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-subtle);
    position: absolute;
    inset: 0;
  }

  .seed-image-frame__root--rounded_true {
    border-radius: var(--seed-radius-r2);
  }
}
