.seed-image-frame__root {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    aspect-ratio: var(--seed-image-frame-ratio)
}
.seed-image-frame__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none
}
.seed-image-frame__fallback {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.seed-image-frame__stroke {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--seed-image-frame-radius);
    pointer-events: none
}
.seed-image-frame__floater {
    position: absolute;
    display: flex
}
.seed-image-frame__stroke--stroke_true {
    border-width: 1px;
    border-style: solid;
    border-color: var(--seed-color-stroke-neutral-subtle)
}
.seed-image-frame__content--loaded_true {
    opacity: 1;
    pointer-events: auto
}
.seed-image-frame__floater--placement_top-start {
    top: var(--seed-image-frame-offset-y);
    left: var(--seed-image-frame-offset-x)
}
.seed-image-frame__floater--placement_top-center {
    top: var(--seed-image-frame-offset-y);
    left: calc(50% + var(--seed-image-frame-offset-x));
    transform: translateX(-50%)
}
.seed-image-frame__floater--placement_top-end {
    top: var(--seed-image-frame-offset-y);
    right: var(--seed-image-frame-offset-x)
}
.seed-image-frame__floater--placement_middle-start {
    top: calc(50% + var(--seed-image-frame-offset-y));
    left: var(--seed-image-frame-offset-x);
    transform: translateY(-50%)
}
.seed-image-frame__floater--placement_middle-center {
    top: calc(50% + var(--seed-image-frame-offset-y));
    left: calc(50% + var(--seed-image-frame-offset-x));
    transform: translate(-50%, -50%)
}
.seed-image-frame__floater--placement_middle-end {
    top: calc(50% + var(--seed-image-frame-offset-y));
    right: var(--seed-image-frame-offset-x);
    transform: translateY(-50%)
}
.seed-image-frame__floater--placement_bottom-start {
    bottom: var(--seed-image-frame-offset-y);
    left: var(--seed-image-frame-offset-x)
}
.seed-image-frame__floater--placement_bottom-center {
    bottom: var(--seed-image-frame-offset-y);
    left: calc(50% + var(--seed-image-frame-offset-x));
    transform: translateX(-50%)
}
.seed-image-frame__floater--placement_bottom-end {
    bottom: var(--seed-image-frame-offset-y);
    right: var(--seed-image-frame-offset-x)
}