@layer seed-components {
  .seed-list-item__root {
    width: 100%;
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x3);
    --seed-box-align-items: center;
    align-items: var(--seed-box-align-items);
    border: none;
    font-family: inherit;
    display: flex;
    position: relative;
  }

  .seed-list-item__prefix {
    --seed-box-padding-right: var(--seed-dimension-x3);
    padding-right: var(--seed-box-padding-right);
    --seed-focus-ring: none;
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
    align-items: center;
    display: inline-flex;
  }

  .seed-list-item__prefix.seed-list-item__prefix--disabled_true {
    --seed-icon-color: var(--seed-color-fg-disabled);
  }

  .seed-list-item__suffix {
    --seed-box-position: initial;
    position: var(--seed-box-position);
    --seed-box-gap: var(--seed-dimension-x1);
    align-items: center;
    gap: var(--seed-box-gap);
    --seed-focus-ring: none;
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
    --seed-icon-size: 18px;
    --seed-icon-color: var(--seed-color-fg-neutral-subtle);
    flex-shrink: 0;
    display: inline-flex;
  }

  .seed-list-item__suffix.seed-list-item__suffix--disabled_true {
    --seed-icon-color: var(--seed-color-fg-disabled);
  }

  .seed-list-item__content {
    text-align: start;
    --seed-box-gap: var(--seed-dimension-x0_5);
    align-items: flex-start;
    gap: var(--seed-box-gap);
    --seed-box-padding-right: var(--seed-dimension-x2_5);
    padding: 0 var(--seed-box-padding-right) 0 0;
    background-color: #0000;
    border: none;
    flex-direction: column;
    flex-grow: 1;
    font-family: inherit;
    display: inline-flex;
  }

  .seed-list-item__content:after {
    position: absolute;
    inset: 0;
  }

  .seed-list-item__content:before {
    z-index: -1;
    transition-property: background-color, left, right, border-radius;
    transition-duration: var(--seed-duration-color-transition);
    transition-timing-function: var(--seed-timing-function-easing);
    position: absolute;
    inset: 0;
  }

  .seed-list-item__title {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
  }

  .seed-list-item__title.seed-list-item__title--disabled_true {
    color: var(--seed-color-fg-disabled);
  }

  .seed-list-item__detail {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
  }

  .seed-list-item__detail.seed-list-item__detail--disabled_true {
    color: var(--seed-color-fg-disabled);
  }

  .seed-list-item__content--highlighted_true:before {
    background-color: var(--seed-color-bg-brand-weak);
  }
}
