.seed-list-item__root {
    border: none;
    font-family: inherit;
    position: relative;
    display: flex;
    width: 100%;
    padding-left: var(--seed-dimension-spacing-x-global-gutter);
    padding-right: var(--seed-dimension-spacing-x-global-gutter);
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x3);
    --seed-box-align-items: center;
    align-items: var(--seed-box-align-items);
}
.seed-list-item__prefix {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    --seed-box-padding-right: var(--seed-dimension-x3);
    padding-right: var(--seed-box-padding-right);
    --seed-focus-ring: none;
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-list-item__prefix.seed-list-item__prefix--disabled_true {
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-list-item__suffix {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    --seed-box-position: relative;
    position: var(--seed-box-position);
    --seed-box-gap: var(--seed-dimension-x1);
    gap: var(--seed-box-gap);
    --seed-focus-ring: none;
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
    --seed-icon-size: 18px;
    --seed-icon-color: var(--seed-color-fg-neutral-subtle);
}
.seed-list-item__suffix.seed-list-item__suffix--disabled_true {
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-list-item__content {
    display: inline-flex;
    text-align: start;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-family: inherit;
    --seed-box-gap: var(--seed-dimension-x0_5);
    gap: var(--seed-box-gap);
    --seed-box-padding-right: var(--seed-dimension-x2_5);
    padding: 0 var(--seed-box-padding-right) 0 0;
}
.seed-list-item__content::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.seed-list-item__content::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition-property: background-color, left, right, border-radius;
    transition-duration: var(--seed-duration-color-transition);
    transition-timing-function: var(--seed-timing-function-easing);
}
.seed-list-item__contentbutton:not([data-disabled]):active::before, .seed-list-item__contenta:not([data-disabled]):active::before {
    background-color: var(--seed-color-bg-transparent-pressed);
    left: var(--seed-dimension-x1_5);
    right: var(--seed-dimension-x1_5);
    border-radius: var(--list-item-border-radius, var(--seed-dimension-x2_5));
}
.seed-list-item__title {
    flex-shrink: 0;
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral);
}
.seed-list-item__title.seed-list-item__title--disabled_true {
    color: var(--seed-color-fg-disabled);
}
.seed-list-item__detail {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-list-item__detail.seed-list-item__detail--disabled_true {
    color: var(--seed-color-fg-disabled);
}
.seed-list-item__content--highlighted_true::before {
    background-color: var(--seed-color-bg-brand-weak);
}
.seed-list-item__content--highlighted_truebutton:not(.seed-list-item__content--disabled_true):active::before, .seed-list-item__content--highlighted_truea:not(.seed-list-item__content--disabled_true):active::before {
    background-color: var(--seed-color-bg-brand-weak-pressed);
}