.seed-menu-sheet-item__root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 52px;
    padding-top: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x4);
    padding-bottom: var(--seed-dimension-x3_5);
    padding-left: var(--seed-dimension-x4);
    gap: var(--seed-dimension-x3_5);
    background-color: var(--seed-color-bg-neutral-weak)
}
.seed-menu-sheet-item__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    gap: var(--seed-dimension-x0_5)
}
.seed-menu-sheet-item__label {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular)
}
.seed-menu-sheet-item__description {
    color: var(--seed-color-fg-neutral-subtle);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-medium)
}
.seed-menu-sheet-item__prefixIcon {
    flex-shrink: 0;
    width: 22px;
    height: 22px
}
.seed-menu-sheet-item__divider {
    width: 100%;
    height: 1px;
    background-color: var(--seed-color-stroke-neutral-muted)
}
.seed-menu-sheet-item__prefixIcon--tone_neutral {
    color: var(--seed-color-fg-neutral)
}
.seed-menu-sheet-item__label--tone_neutral {
    color: var(--seed-color-fg-neutral)
}
.seed-menu-sheet-item__prefixIcon--tone_critical {
    color: var(--seed-color-fg-critical)
}
.seed-menu-sheet-item__label--tone_critical {
    color: var(--seed-color-fg-critical)
}
.seed-menu-sheet-item__content--labelAlign_left {
    align-items: flex-start;
    text-align: start
}
.seed-menu-sheet-item__root--labelAlign_center {
    justify-content: center
}
.seed-menu-sheet-item__content--labelAlign_center {
    align-items: center;
    text-align: center
}
.seed-menu-sheet-item__root--pressed_true {
    background-color: var(--seed-color-bg-neutral-weak-pressed)
}