.seed-menu-item__root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0
}
.seed-menu-item__pressedOverlay {
    position: absolute;
    top: 0;
    right: var(--seed-dimension-x2);
    bottom: 0;
    left: var(--seed-dimension-x2);
    border-radius: var(--seed-radius-r3);
    background-color: var(--seed-color-bg-transparent-pressed);
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--seed-duration-color-transition);
    transition-timing-function: var(--seed-timing-function-easing)
}
.seed-menu-item__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    gap: var(--seed-dimension-x0_5)
}
.seed-menu-item__label {
    font-weight: var(--seed-font-weight-regular)
}
.seed-menu-item__description {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle)
}
.seed-menu-item__prefixIcon {
    flex-shrink: 0
}
.seed-menu-item__suffixIcon {
    flex-shrink: 0
}
.seed-menu-item__root--size_medium {
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x3);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    gap: var(--seed-dimension-x3)
}
.seed-menu-item__label--size_medium {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5)
}
.seed-menu-item__description--size_medium {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-menu-item__prefixIcon--size_medium {
    width: 22px;
    height: 22px
}
.seed-menu-item__suffixIcon--size_medium {
    width: 18px;
    height: 18px
}
.seed-menu-item__root--size_small {
    padding-top: var(--seed-dimension-x2_5);
    padding-bottom: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    gap: var(--seed-dimension-x2)
}
.seed-menu-item__label--size_small {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)
}
.seed-menu-item__description--size_small {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2)
}
.seed-menu-item__prefixIcon--size_small {
    width: 18px;
    height: 18px
}
.seed-menu-item__suffixIcon--size_small {
    width: 16px;
    height: 16px
}
.seed-menu-item__label--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-menu-item__description--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-menu-item__prefixIcon--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-menu-item__suffixIcon--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-menu-item__label--tone_neutral-disabled_false {
    color: var(--seed-color-fg-neutral)
}
.seed-menu-item__prefixIcon--tone_neutral-disabled_false {
    color: var(--seed-color-fg-neutral)
}
.seed-menu-item__suffixIcon--tone_neutral-disabled_false {
    color: var(--seed-color-fg-neutral)
}
.seed-menu-item__label--tone_critical-disabled_false {
    color: var(--seed-color-fg-critical)
}
.seed-menu-item__prefixIcon--tone_critical-disabled_false {
    color: var(--seed-color-fg-critical)
}
.seed-menu-item__suffixIcon--tone_critical-disabled_false {
    color: var(--seed-color-fg-critical)
}
.seed-menu-item__pressedOverlay--pressed_true-disabled_false {
    opacity: 1
}