@layer seed-components {
  .seed-radiomark__root {
    border-style: solid;
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral-weak);
    border-radius: var(--seed-radius-full);
    margin-top: var(--radiomark-margin-top, 0);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .seed-radiomark__root.seed-radiomark__root--checked_true {
    border-width: 0;
  }

  .seed-radiomark__root.seed-radiomark__root--disabled_true {
    background-color: var(--seed-color-palette-gray-300);
  }

  .seed-radiomark__root.seed-radiomark__root--disabled_true[data-checked] {
    background-color: var(--seed-color-bg-transparent);
    border-width: 1px;
    border-color: var(--seed-color-palette-gray-300);
  }

  .seed-radiomark__icon {
    border-radius: var(--seed-radius-full);
    display: none;
  }

  .seed-radiomark__icon.seed-radiomark__icon--checked_true {
    display: block;
  }

  .seed-radiomark__icon.seed-radiomark__icon--disabled_true[data-checked] {
    color: var(--seed-color-palette-gray-300);
  }

  .seed-radiomark__root--tone_neutral.seed-radiomark__root--checked_true {
    background-color: var(--seed-color-bg-neutral-inverted);
  }

  .seed-radiomark__icon--tone_neutral.seed-radiomark__icon--checked_true {
    color: var(--seed-color-fg-neutral-inverted);
  }

  .seed-radiomark__root--tone_brand.seed-radiomark__root--checked_true {
    background-color: var(--seed-color-bg-brand-solid);
  }

  .seed-radiomark__icon--tone_brand.seed-radiomark__icon--checked_true {
    color: var(--seed-color-palette-static-white);
  }

  .seed-radiomark__root--size_large {
    width: var(--seed-dimension-x6);
    height: var(--seed-dimension-x6);
  }

  .seed-radiomark__icon--size_large {
    width: var(--seed-dimension-x2_5);
    height: var(--seed-dimension-x2_5);
  }

  .seed-radiomark__icon--size_large.seed-radiomark__icon--disabled_true {
    width: var(--seed-dimension-x3);
    height: var(--seed-dimension-x3);
  }

  .seed-radiomark__root--size_medium {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
  }

  .seed-radiomark__icon--size_medium {
    width: var(--seed-dimension-x2);
    height: var(--seed-dimension-x2);
  }

  .seed-radiomark__icon--size_medium.seed-radiomark__icon--disabled_true {
    width: var(--seed-dimension-x2_5);
    height: var(--seed-dimension-x2_5);
  }
}
