.seed-reaction-button__root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--seed-color-bg-transparent);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-muted);
    transform: scale(1);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing), box-shadow var(--seed-duration-color-transition) var(--seed-timing-function-easing), transform var(--seed-duration-pressed-scale) var(--seed-timing-function-pressed-scale)
}
.seed-reaction-button__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 1
}
.seed-reaction-button__label {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-medium)
}
.seed-reaction-button__count {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-bold)
}
.seed-reaction-button__prefixIcon {
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0
}
.seed-reaction-button__loadingIndicator {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.seed-reaction-button__root--size_xsmall {
    height: var(--seed-dimension-x8);
    border-radius: var(--seed-radius-full);
    padding-left: var(--seed-dimension-x3);
    padding-right: var(--seed-dimension-x3);
    padding-top: var(--seed-dimension-x1_5);
    padding-bottom: var(--seed-dimension-x1_5)
}
.seed-reaction-button__content--size_xsmall {
    gap: var(--seed-dimension-x1)
}
.seed-reaction-button__label--size_xsmall {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-reaction-button__count--size_xsmall {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-reaction-button__prefixIcon--size_xsmall {
    width: 18px;
    height: 18px
}
.seed-reaction-button__root--size_small {
    height: var(--seed-dimension-x9);
    border-radius: var(--seed-radius-full);
    padding-left: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x3_5);
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2)
}
.seed-reaction-button__content--size_small {
    gap: var(--seed-dimension-x1)
}
.seed-reaction-button__label--size_small {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-reaction-button__count--size_small {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-reaction-button__prefixIcon--size_small {
    width: 18px;
    height: 18px
}
.seed-reaction-button__root--selected_true {
    background: var(--seed-color-bg-transparent);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-brand-weak);
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-fg-brand)
}
.seed-reaction-button__label--selected_true {
    color: var(--seed-color-fg-brand)
}
.seed-reaction-button__count--selected_true {
    color: var(--seed-color-fg-brand)
}
.seed-reaction-button__prefixIcon--selected_true {
    color: var(--seed-color-fg-brand)
}
.seed-reaction-button__root--pressed_true {
    background: var(--seed-color-bg-transparent-pressed)
}
.seed-reaction-button__root--disabled_true {
    background: var(--seed-color-bg-disabled);
    box-shadow: inset 0 0 0 0px var(--seed-color-stroke-neutral-muted)
}
.seed-reaction-button__label--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-reaction-button__count--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-reaction-button__prefixIcon--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-reaction-button__root--loading_true {
    background: var(--seed-color-bg-neutral-weak-pressed);
    transition: box-shadow var(--seed-duration-color-transition) var(--seed-timing-function-easing), transform var(--seed-duration-pressed-scale) var(--seed-timing-function-pressed-scale)
}
.seed-reaction-button__content--loading_true {
    opacity: 0
}
.seed-reaction-button__root--selected_true-pressed_true {
    background: var(--seed-color-bg-transparent-pressed)
}
.seed-reaction-button__root--size_xsmall-pressed_true {
    transform: scale(var(--seed-scale-s95))
}
.seed-reaction-button__root--size_small-pressed_true {
    transform: scale(var(--seed-scale-s97))
}
.seed-reaction-button__root--selected_true-pressed_false-loading_false {
    transition: box-shadow var(--seed-duration-color-transition) var(--seed-timing-function-easing), transform var(--seed-duration-pressed-scale) var(--seed-timing-function-pressed-scale)
}
.seed-reaction-button__root--selected_true-loading_true {
    background: var(--seed-color-bg-transparent-pressed);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-brand-weak);
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-fg-brand)
}