.seed-select__root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: var(--seed-radius-r5);
    background-color: var(--seed-color-bg-layer-floating);
    box-shadow: var(--seed-shadow-s3)
}
.seed-select__backdrop {
    position: absolute;
    top: -100vh;
    left: -100vw;
    width: 300vw;
    height: 300vh
}
.seed-select__scrollArea {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    min-height: 0;
    max-height: 480px;
    gap: var(--seed-dimension-x2);
    overflow-y: auto;
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2)
}
.seed-select__group {
    display: flex;
    flex-direction: column
}
.seed-select__groupLabel {
    color: var(--seed-color-fg-neutral-subtle)
}
.seed-select__groupLabel--size_large {
    padding-top: var(--seed-dimension-x2_5);
    padding-right: var(--seed-dimension-x4);
    padding-bottom: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-medium)
}
.seed-select__groupLabel--size_medium {
    padding-top: var(--seed-dimension-x2);
    padding-right: var(--seed-dimension-x4);
    padding-bottom: var(--seed-dimension-x2);
    padding-left: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-regular)
}