.seed-select-trigger__root {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background-color: var(--seed-color-bg-transparent);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-weak);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing)
}
.seed-select-trigger__value {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-regular);
    text-overflow: ellipsis;
    white-space: nowrap
}
.seed-select-trigger__placeholder {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    color: var(--seed-color-fg-placeholder);
    font-weight: var(--seed-font-weight-regular);
    text-overflow: ellipsis;
    white-space: nowrap
}
.seed-select-trigger__prefixIcon {
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral-muted)
}
.seed-select-trigger__suffixIcon {
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral-muted);
    transform: rotate(0deg);
    transition: transform var(--seed-duration-d2) var(--seed-timing-function-easing)
}
.seed-select-trigger__root--size_large {
    height: var(--seed-dimension-x13);
    gap: var(--seed-dimension-x2_5);
    border-radius: var(--seed-radius-r3);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4)
}
.seed-select-trigger__value--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5)
}
.seed-select-trigger__placeholder--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5)
}
.seed-select-trigger__prefixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5)
}
.seed-select-trigger__suffixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5)
}
.seed-select-trigger__root--size_medium {
    height: var(--seed-dimension-x10);
    gap: var(--seed-dimension-x2);
    border-radius: var(--seed-radius-r2);
    padding-left: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x3_5)
}
.seed-select-trigger__value--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)
}
.seed-select-trigger__placeholder--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)
}
.seed-select-trigger__prefixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4)
}
.seed-select-trigger__suffixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4)
}
.seed-select-trigger__suffixIcon--open_true {
    transform: rotate(180deg);
    transition: transform var(--seed-duration-d3) var(--seed-timing-function-easing)
}
.seed-select-trigger__root--pressed_true {
    background-color: var(--seed-color-bg-transparent-pressed)
}
.seed-select-trigger__root--disabled_true {
    background-color: var(--seed-color-bg-disabled)
}
.seed-select-trigger__value--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-select-trigger__placeholder--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-select-trigger__prefixIcon--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-select-trigger__suffixIcon--disabled_true {
    color: var(--seed-color-fg-disabled)
}
.seed-select-trigger__root--invalid_true {
    box-shadow: inset 0 0 0 2px var(--seed-color-stroke-critical-solid)
}
.seed-select-trigger__root--readOnly_true {
    background-color: var(--seed-color-bg-disabled)
}
.seed-select-trigger__value--readOnly_true {
    color: var(--seed-color-fg-neutral)
}
.seed-select-trigger__placeholder--readOnly_true {
    color: var(--seed-color-fg-placeholder)
}
.seed-select-trigger__root--pressed_true-disabled_true {
    background-color: var(--seed-color-bg-disabled)
}
.seed-select-trigger__root--pressed_true-readOnly_true {
    background-color: var(--seed-color-bg-disabled)
}