@layer seed-components {
  .seed-snackbar-region {
    z-index: 2147483647;
    left: calc(env(safe-area-inset-left));
    right: calc(env(safe-area-inset-right));
    bottom: calc(env(safe-area-inset-bottom)  + var(--snackbar-region-offset, 0px));
    padding-left: var(--seed-dimension-x2);
    padding-right: var(--seed-dimension-x2);
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2);
    transition-property: bottom;
    transition-duration: var(--seed-duration-d4);
    transition-timing-function: var(--seed-timing-function-easing);
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .seed-snackbar-region__text {
    transition-property: bottom;
    transition-duration: var(--seed-duration-d4);
    transition-timing-function: var(--seed-timing-function-easing);
  }

  .seed-snackbar-region__text {
    transition-property: bottom;
    transition-duration: var(--seed-duration-d4);
    transition-timing-function: var(--seed-timing-function-easing);
  }
}
