@layer seed-components {
  .seed-tag-group__root {
    flex-flow: wrap;
    align-items: center;
    display: flex;
  }

  .seed-tag-group__separator {
    color: var(--seed-color-palette-gray-600);
    font-weight: var(--seed-font-weight-regular);
    margin-left: var(--seed-dimension-x0_5);
    margin-right: var(--seed-dimension-x0_5);
  }

  .seed-tag-group__separator--size_t2 {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
  }

  .seed-tag-group__separator--size_t3 {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
  }

  .seed-tag-group__separator--size_t4 {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
  }

  .seed-tag-group__root--truncate_true {
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
}
