.docs-lynx-badge-root {
  height: 100%;
  background-color: var(--seed-color-bg-layer-default);
}

.badge-preview {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
