.internal-wheel-picker {
  width: 320px;
  color: var(--seed-color-fg-neutral);
  font-size: var(--seed-font-size-t5-static);
  line-height: 1;
}

.internal-wheel-picker__selection-indicator {
  border-radius: 8px;
  background: var(--seed-color-bg-neutral-weak);
}

.internal-wheel-picker__column {
  flex: 1;
}

.internal-wheel-picker__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--seed-color-fg-neutral-muted);
}

.internal-wheel-picker__item[data-wheel-picker-indicator-overlap] {
  color: transparent;
  background-image: linear-gradient(
    to bottom,
    var(--seed-color-fg-neutral-muted) 0%,
    var(--seed-color-fg-neutral-muted) var(--seed-wheel-picker-indicator-overlap-start),
    var(--seed-color-fg-neutral) var(--seed-wheel-picker-indicator-overlap-start),
    var(--seed-color-fg-neutral) var(--seed-wheel-picker-indicator-overlap-end),
    var(--seed-color-fg-neutral-muted) var(--seed-wheel-picker-indicator-overlap-end),
    var(--seed-color-fg-neutral-muted) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
