.chip-tabs-preview {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chip-tabs-preview__content {
  padding: 16px;
}

.chip-tabs-preview__content-text {
  color: var(--seed-color-fg-neutral);
  font-size: 16px;
}
