.avatar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.avatar-online {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--seed-color-palette-green-600);
}
.avatar-badge-image {
  width: 100%;
  height: 100%;
}
