.docs-lynx-avatar-root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  padding: 24px;
  background-color: var(--seed-color-bg-layer-default);
}
.avatar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
.avatar-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.avatar-online {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--seed-color-palette-green-600);
}
.avatar-badge-image {
  width: 100%;
  height: 100%;
}
