# Sanity CMS (Has defaults, but needed for build-time data fetching)
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=

# AI Assistant
SEED_DOCS_AGENT_URL=
SEED_DOCS_AGENT_HMAC_SECRET=
