@layer ride-components {
  .seed-action-sheet-item {
    background-color: var(--ride-color-bg-layer-floating);
    min-height: 50px;
    padding-inline: var(--ride-dimension-spacing-x-global-gutter);
    padding-block: var(--ride-dimension-x3_5);
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .seed-action-sheet-item:is(:active, [data-active]) {
    background-color: var(--ride-color-bg-layer-floating-pressed);
  }

  .seed-action-sheet-item:after {
    content: "";
    left: var(--ride-dimension-spacing-x-global-gutter);
    right: var(--ride-dimension-spacing-x-global-gutter);
    background: var(--ride-color-stroke-neutral-muted);
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
  }

  .seed-action-sheet-item--tone_neutral {
    color: var(--ride-color-fg-neutral);
  }

  .seed-action-sheet-item--tone_critical {
    color: var(--ride-color-fg-critical);
  }
}
