.seed-action-button__root {
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    flex-shrink: 0;
    font-family: inherit;
}
.seed-action-button__root:is(:focus, [data-focus]) {
    outline: none;
}
.seed-action-button__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-action-button__root {
    transition: background-color var(--seed-duration-d4) var(--seed-timing-function-easing);
    font-weight: var(--seed-font-weight-bold);
}
.seed-action-button__root--variant_brandSolid {
    background: var(--seed-color-bg-brand-solid);
    color: var(--seed-color-palette-static-white);
    --seed-prefix-icon-color: var(--seed-color-palette-static-white);
    --seed-suffix-icon-color: var(--seed-color-palette-static-white);
    --seed-icon-color: var(--seed-color-palette-static-white);
    --track-color: var(--seed-color-palette-static-white-alpha-200);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-action-button__root--variant_brandSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-action-button__root--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button__root--variant_brandSolid[data-loading] {
    background: var(--seed-color-bg-brand-solid-pressed);
}
.seed-action-button__root--variant_neutralSolid {
    background: var(--seed-color-bg-neutral-inverted);
    color: var(--seed-color-fg-neutral-inverted);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral-inverted);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral-inverted);
    --seed-icon-color: var(--seed-color-fg-neutral-inverted);
    --track-color: var(--seed-color-palette-static-white-alpha-200);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-action-button__root--variant_neutralSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-inverted-pressed);
}
.seed-action-button__root--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button__root--variant_neutralSolid[data-loading] {
    background: var(--seed-color-bg-neutral-inverted-pressed);
}
.seed-action-button__root--variant_neutralWeak {
    background: var(--seed-color-bg-neutral-weak);
    color: var(--seed-color-fg-neutral);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
    --seed-icon-color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.seed-action-button__root--variant_neutralWeak:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-action-button__root--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button__root--variant_neutralWeak[data-loading] {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-action-button__root--variant_criticalSolid {
    background: var(--seed-color-bg-critical-solid);
    color: var(--seed-color-palette-static-white);
    --seed-prefix-icon-color: var(--seed-color-palette-static-white);
    --seed-suffix-icon-color: var(--seed-color-palette-static-white);
    --seed-icon-color: var(--seed-color-palette-static-white);
    --track-color: var(--seed-color-palette-static-white-alpha-200);
    --range-color: var(--seed-color-palette-static-white);
}
.seed-action-button__root--variant_criticalSolid:is(:active, [data-active]) {
    background: var(--seed-color-bg-critical-solid-pressed);
}
.seed-action-button__root--variant_criticalSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-disabled);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button__root--variant_criticalSolid[data-loading] {
    background: var(--seed-color-bg-critical-solid-pressed);
}
.seed-action-button__root--variant_brandOutline {
    border-style: solid;
    background: var(--seed-color-bg-layer-default);
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral);
    color: var(--seed-color-fg-brand);
    --seed-prefix-icon-color: var(--seed-color-fg-brand);
    --seed-suffix-icon-color: var(--seed-color-fg-brand);
    --seed-icon-color: var(--seed-color-fg-brand);
    --track-color: var(--seed-color-palette-carrot-200);
    --range-color: var(--seed-color-bg-brand-solid);
}
.seed-action-button__root--variant_brandOutline:is(:active, [data-active]) {
    background: var(--seed-color-bg-layer-default-pressed);
}
.seed-action-button__root--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-layer-default);
    border-color: var(--seed-color-stroke-neutral);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button__root--variant_brandOutline[data-loading] {
    background: var(--seed-color-bg-layer-default);
}
.seed-action-button__root--variant_neutralOutline {
    border-style: solid;
    background: var(--seed-color-bg-layer-default);
    border-width: 1px;
    border-color: var(--seed-color-stroke-neutral);
    color: var(--seed-color-fg-neutral);
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
    --seed-icon-color: var(--seed-color-fg-neutral);
    --track-color: var(--seed-color-palette-gray-500);
    --range-color: var(--seed-color-fg-neutral);
}
.seed-action-button__root--variant_neutralOutline:is(:active, [data-active]) {
    background: var(--seed-color-bg-layer-default-pressed);
}
.seed-action-button__root--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--seed-color-bg-layer-default);
    border-color: var(--seed-color-stroke-neutral);
    color: var(--seed-color-fg-disabled);
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
    --seed-icon-color: var(--seed-color-fg-disabled);
}
.seed-action-button__root--variant_neutralOutline[data-loading] {
    background: var(--seed-color-bg-layer-default);
}
.seed-action-button__root--size_xsmall {
    height: var(--seed-dimension-x8);
    border-radius: var(--seed-radius-full);
    --size: 14px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-action-button__root--size_small {
    height: var(--seed-dimension-x9);
    border-radius: var(--seed-radius-r2);
    --size: 14px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x3_5);
    --seed-suffix-icon-size: var(--seed-dimension-x3_5);
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-action-button__root--size_medium {
    height: var(--seed-dimension-x10);
    border-radius: var(--seed-radius-r2);
    --size: 16px;
    --thickness: 2px;
    --seed-prefix-icon-size: var(--seed-dimension-x4);
    --seed-suffix-icon-size: var(--seed-dimension-x4);
    --seed-icon-size: 18px;
}
.seed-action-button__root--size_large {
    height: var(--seed-dimension-x13);
    border-radius: var(--seed-radius-r3);
    --size: 18px;
    --thickness: 2px;
    --seed-prefix-icon-size: 22px;
    --seed-suffix-icon-size: 22px;
    --seed-icon-size: 22px;
}
.seed-action-button__root--size_xsmall-layout_withText {
    gap: var(--seed-dimension-x1);
    padding-inline: var(--seed-dimension-x3_5);
    padding-block: var(--seed-dimension-x1_5);
    font-size: var(--seed-font-size-t4);
}
.seed-action-button__root--size_xsmall-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
    padding-inline: var(--seed-dimension-x1_5);
    padding-block: var(--seed-dimension-x1_5);
}
.seed-action-button__root--size_small-layout_withText {
    gap: var(--seed-dimension-x1);
    padding-inline: var(--seed-dimension-x3_5);
    padding-block: var(--seed-dimension-x2);
    font-size: var(--seed-font-size-t4);
}
.seed-action-button__root--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
    padding-inline: var(--seed-dimension-x2);
    padding-block: var(--seed-dimension-x2);
}
.seed-action-button__root--size_medium-layout_withText {
    gap: var(--seed-dimension-x1);
    padding-inline: var(--seed-dimension-x4);
    padding-block: var(--seed-dimension-x2_5);
    font-size: var(--seed-font-size-t4);
}
.seed-action-button__root--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x10);
    padding-inline: var(--seed-dimension-x2_5);
    padding-block: var(--seed-dimension-x2_5);
}
.seed-action-button__root--size_large-layout_withText {
    gap: var(--seed-dimension-x2);
    padding-inline: var(--seed-dimension-x5);
    padding-block: var(--seed-dimension-x3_5);
    font-size: var(--seed-font-size-t6);
}
.seed-action-button__root--size_large-layout_iconOnly {
    min-width: var(--seed-dimension-x13);
    padding-inline: var(--seed-dimension-x3_5);
    padding-block: var(--seed-dimension-x3_5);
}