@layer ride-components {
  .seed-action-button {
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --ride-box-flex-grow: initial;
    flex-shrink: 0;
    flex-grow: var(--ride-box-flex-grow);
    --ride-box-min-width: initial;
    min-width: var(--ride-box-min-width);
    --ride-box-padding-bottom: initial;
    --ride-box-padding-top: initial;
    --ride-box-padding-left: initial;
    --ride-box-padding-right: initial;
    padding-top: var(--ride-box-padding-top);
    padding-bottom: var(--ride-box-padding-bottom);
    padding-left: var(--ride-box-padding-left);
    padding-right: var(--ride-box-padding-right);
    --ride-box-bleed-bottom: 0px;
    --ride-box-bleed-top: 0px;
    --ride-box-bleed-left: 0px;
    --ride-box-bleed-right: 0px;
    margin-top: calc(var(--ride-box-bleed-top) * -1);
    margin-bottom: calc(var(--ride-box-bleed-bottom) * -1);
    margin-left: calc(var(--ride-box-bleed-left) * -1);
    margin-right: calc(var(--ride-box-bleed-right) * -1);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
    border: none;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    display: inline-flex;
    position: relative;
  }

  .seed-action-button:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .seed-action-button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
  }

  .seed-action-button {
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
  }

  .seed-action-button--variant_brandSolid {
    background: var(--ride-color-bg-brand-solid);
    color: var(--ride-color-palette-static-white);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-palette-static-white);
    --ride-suffix-icon-color: var(--ride-color-palette-static-white);
    --ride-icon-color: var(--ride-color-palette-static-white);
    --track-color: var(--ride-color-palette-static-white-alpha-300);
    --range-color: var(--ride-color-palette-static-white);
  }

  @media (hover: hover) {
    .seed-action-button--variant_brandSolid:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-brand-solid-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_brandSolid:is(:active, [data-active]) {
      background: var(--ride-color-bg-brand-solid-pressed);
    }
  }

  .seed-action-button--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-action-button--variant_brandSolid[data-loading] {
    background: var(--ride-color-bg-brand-solid-pressed);
  }

  .seed-action-button--variant_neutralSolid {
    background: var(--ride-color-bg-neutral-inverted);
    color: var(--ride-color-fg-neutral-inverted);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-fg-neutral-inverted);
    --ride-suffix-icon-color: var(--ride-color-fg-neutral-inverted);
    --ride-icon-color: var(--ride-color-fg-neutral-inverted);
    --track-color: var(--ride-color-palette-static-white-alpha-300);
    --range-color: var(--ride-color-palette-static-white);
  }

  @media (hover: hover) {
    .seed-action-button--variant_neutralSolid:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-neutral-inverted-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_neutralSolid:is(:active, [data-active]) {
      background: var(--ride-color-bg-neutral-inverted-pressed);
    }
  }

  .seed-action-button--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-action-button--variant_neutralSolid[data-loading] {
    background: var(--ride-color-bg-neutral-inverted-pressed);
  }

  .seed-action-button--variant_neutralWeak {
    background: var(--ride-color-bg-neutral-weak);
    color: var(--ride-color-fg-neutral);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
    --ride-suffix-icon-color: var(--ride-color-fg-neutral);
    --ride-icon-color: var(--ride-color-fg-neutral);
    --track-color: var(--ride-color-palette-gray-500);
    --range-color: var(--ride-color-fg-neutral);
  }

  @media (hover: hover) {
    .seed-action-button--variant_neutralWeak:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-neutral-weak-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_neutralWeak:is(:active, [data-active]) {
      background: var(--ride-color-bg-neutral-weak-pressed);
    }
  }

  .seed-action-button--variant_neutralWeak:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-action-button--variant_neutralWeak[data-loading] {
    background: var(--ride-color-bg-neutral-weak-pressed);
  }

  .seed-action-button--variant_criticalSolid {
    background: var(--ride-color-bg-critical-solid);
    color: var(--ride-color-palette-static-white);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-palette-static-white);
    --ride-suffix-icon-color: var(--ride-color-palette-static-white);
    --ride-icon-color: var(--ride-color-palette-static-white);
    --track-color: var(--ride-color-palette-static-white-alpha-300);
    --range-color: var(--ride-color-palette-static-white);
  }

  @media (hover: hover) {
    .seed-action-button--variant_criticalSolid:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-critical-solid-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_criticalSolid:is(:active, [data-active]) {
      background: var(--ride-color-bg-critical-solid-pressed);
    }
  }

  .seed-action-button--variant_criticalSolid:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-action-button--variant_criticalSolid[data-loading] {
    background: var(--ride-color-bg-critical-solid-pressed);
  }

  .seed-action-button--variant_brandOutline {
    background: var(--ride-color-bg-transparent);
    border-style: solid;
    border-width: 1px;
    border-color: var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-brand);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-fg-brand);
    --ride-suffix-icon-color: var(--ride-color-fg-brand);
    --ride-icon-color: var(--ride-color-fg-brand);
    --track-color: var(--ride-color-palette-carrot-200);
    --range-color: var(--ride-color-bg-brand-solid);
  }

  @media (hover: hover) {
    .seed-action-button--variant_brandOutline:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_brandOutline:is(:active, [data-active]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  .seed-action-button--variant_brandOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-transparent);
    border-color: var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-action-button--variant_brandOutline[data-loading] {
    background: var(--ride-color-bg-transparent);
  }

  .seed-action-button--variant_neutralOutline {
    background: var(--ride-color-bg-transparent);
    border-style: solid;
    border-width: 1px;
    border-color: var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-neutral);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
    --ride-suffix-icon-color: var(--ride-color-fg-neutral);
    --ride-icon-color: var(--ride-color-fg-neutral);
    --track-color: var(--ride-color-palette-gray-500);
    --range-color: var(--ride-color-fg-neutral);
  }

  @media (hover: hover) {
    .seed-action-button--variant_neutralOutline:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_neutralOutline:is(:active, [data-active]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  .seed-action-button--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-transparent);
    border-color: var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-action-button--variant_neutralOutline[data-loading] {
    background: var(--ride-color-bg-transparent);
  }

  .seed-action-button--variant_ghost {
    --ride-box-color: var(--ride-color-fg-neutral);
    color: var(--ride-box-color);
    --ride-prefix-icon-color: var(--ride-box-color);
    --ride-suffix-icon-color: var(--ride-box-color);
    --ride-icon-color: var(--ride-box-color);
    --ride-font-weight: var(--ride-font-weight-bold);
    font-weight: var(--ride-font-weight);
    --track-color: var(--ride-color-palette-gray-500);
    --range-color: var(--ride-color-fg-neutral);
    background: #fff0;
  }

  @media (hover: hover) {
    .seed-action-button--variant_ghost:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .seed-action-button--variant_ghost:is(:active, [data-active]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  .seed-action-button--variant_ghost:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
    background: #fff0;
  }

  .seed-action-button--variant_ghost[data-loading] {
    background: var(--ride-color-bg-transparent-pressed);
  }

  .seed-action-button--size_xsmall {
    height: var(--ride-dimension-x8);
    border-radius: var(--ride-radius-full);
    --size: 14px;
    --thickness: 2px;
    --ride-prefix-icon-size: var(--ride-dimension-x3_5);
    --ride-suffix-icon-size: var(--ride-dimension-x3_5);
    --ride-icon-size: var(--ride-dimension-x3_5);
  }

  .seed-action-button--size_small {
    height: var(--ride-dimension-x9);
    border-radius: var(--ride-radius-r2);
    --size: 14px;
    --thickness: 2px;
    --ride-prefix-icon-size: var(--ride-dimension-x3_5);
    --ride-suffix-icon-size: var(--ride-dimension-x3_5);
    --ride-icon-size: var(--ride-dimension-x4);
  }

  .seed-action-button--size_medium {
    height: var(--ride-dimension-x10);
    border-radius: var(--ride-radius-r2);
    --size: 16px;
    --thickness: 2px;
    --ride-prefix-icon-size: var(--ride-dimension-x4);
    --ride-suffix-icon-size: var(--ride-dimension-x4);
    --ride-icon-size: 18px;
  }

  .seed-action-button--size_large {
    height: var(--ride-dimension-x13);
    border-radius: var(--ride-radius-r3);
    --size: 18px;
    --thickness: 2px;
    --ride-prefix-icon-size: 22px;
    --ride-suffix-icon-size: 22px;
    --ride-icon-size: 22px;
  }

  .seed-action-button--size_xsmall-layout_withText {
    gap: var(--ride-dimension-x1);
    --ride-box-padding-left: var(--ride-dimension-x3_5);
    --ride-box-padding-right: var(--ride-dimension-x3_5);
    --ride-box-padding-top: var(--ride-dimension-x1_5);
    --ride-box-padding-bottom: var(--ride-dimension-x1_5);
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
  }

  .seed-action-button--size_xsmall-layout_iconOnly {
    min-width: var(--ride-dimension-x8);
    --ride-box-padding-left: var(--ride-dimension-x1_5);
    --ride-box-padding-right: var(--ride-dimension-x1_5);
    --ride-box-padding-top: var(--ride-dimension-x1_5);
    --ride-box-padding-bottom: var(--ride-dimension-x1_5);
  }

  .seed-action-button--size_small-layout_withText {
    gap: var(--ride-dimension-x1);
    --ride-box-padding-left: var(--ride-dimension-x3_5);
    --ride-box-padding-right: var(--ride-dimension-x3_5);
    --ride-box-padding-top: var(--ride-dimension-x2);
    --ride-box-padding-bottom: var(--ride-dimension-x2);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
  }

  .seed-action-button--size_small-layout_iconOnly {
    min-width: var(--ride-dimension-x9);
    --ride-box-padding-left: var(--ride-dimension-x2);
    --ride-box-padding-right: var(--ride-dimension-x2);
    --ride-box-padding-top: var(--ride-dimension-x2);
    --ride-box-padding-bottom: var(--ride-dimension-x2);
  }

  .seed-action-button--size_medium-layout_withText {
    gap: var(--ride-dimension-x1_5);
    --ride-box-padding-left: var(--ride-dimension-x4);
    --ride-box-padding-right: var(--ride-dimension-x4);
    --ride-box-padding-top: var(--ride-dimension-x2_5);
    --ride-box-padding-bottom: var(--ride-dimension-x2_5);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
  }

  .seed-action-button--size_medium-layout_iconOnly {
    min-width: var(--ride-dimension-x10);
    --ride-box-padding-left: var(--ride-dimension-x2_5);
    --ride-box-padding-right: var(--ride-dimension-x2_5);
    --ride-box-padding-top: var(--ride-dimension-x2_5);
    --ride-box-padding-bottom: var(--ride-dimension-x2_5);
  }

  .seed-action-button--size_large-layout_withText {
    gap: var(--ride-dimension-x2);
    --ride-box-padding-left: var(--ride-dimension-x5);
    --ride-box-padding-right: var(--ride-dimension-x5);
    --ride-box-padding-top: var(--ride-dimension-x3_5);
    --ride-box-padding-bottom: var(--ride-dimension-x3_5);
    font-size: var(--ride-font-size-t6);
    line-height: var(--ride-line-height-t6);
  }

  .seed-action-button--size_large-layout_iconOnly {
    min-width: var(--ride-dimension-x13);
    --ride-box-padding-left: var(--ride-dimension-x3_5);
    --ride-box-padding-right: var(--ride-dimension-x3_5);
    --ride-box-padding-top: var(--ride-dimension-x3_5);
    --ride-box-padding-bottom: var(--ride-dimension-x3_5);
  }
}
