@layer ride-components {
  .ride-app-bar__root {
    z-index: var(--z-index-app-bar);
    box-sizing: border-box;
    align-items: flex-end;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
  }

  .ride-app-bar__root:before {
    content: "";
    pointer-events: none;
    z-index: -1;
    position: absolute;
    inset: 0;
  }

  .ride-app-bar__left {
    align-items: center;
    height: 100%;
    display: flex;
  }

  .ride-app-bar__right {
    align-items: center;
    height: 100%;
    margin-left: auto;
    display: flex;
  }

  .ride-app-bar__iconButton {
    border-radius: var(--ride-radius-r1);
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
    background: none;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-family: inherit;
    display: flex;
  }

  .ride-app-bar__iconButton:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
  }

  .ride-app-bar__icon {
    flex-shrink: 0;
    display: inline-block;
  }

  .ride-app-bar__root--theme_cupertino {
    height: calc(44px + var(--ride-safe-area-top));
    padding-left: var(--ride-dimension-x4);
    padding-right: var(--ride-dimension-x4);
    padding-top: var(--ride-safe-area-top);
  }

  .ride-app-bar__iconButton--theme_cupertino {
    width: 44px;
    height: 44px;
  }

  .ride-app-bar__iconButton--theme_cupertino:first-child {
    margin-left: -10px;
  }

  .ride-app-bar__iconButton--theme_cupertino:last-child {
    margin-right: -10px;
  }

  .ride-app-bar__icon--theme_cupertino {
    width: var(--ride-icon-size, 24px);
    height: var(--ride-icon-size, 24px);
  }

  .ride-app-bar__root--theme_android {
    height: calc(56px + var(--ride-safe-area-top));
    padding-left: var(--ride-dimension-x4);
    padding-right: var(--ride-dimension-x4);
    padding-top: var(--ride-safe-area-top);
  }

  .ride-app-bar__iconButton--theme_android {
    width: 44px;
    height: 44px;
  }

  .ride-app-bar__iconButton--theme_android:first-child {
    margin-left: -10px;
  }

  .ride-app-bar__iconButton--theme_android:last-child {
    margin-right: -10px;
  }

  .ride-app-bar__icon--theme_android {
    width: var(--ride-icon-size, 24px);
    height: var(--ride-icon-size, 24px);
  }

  .ride-app-bar__left--theme_android {
    padding-right: 16px;
  }

  [data-global-transition-state="enter-active"] .ride-app-bar__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:before {
    --ride-enter-translate-x: 100%;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 1;
    --ride-enter-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
    transform: translate3d(0, 0, 0);
  }

  [data-global-transition-state="exit-active"] .ride-app-bar__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:before {
    transform: translate3d(var(--swipe-back-displacement, 0), 0, 0);
    --ride-exit-translate-x: 100%;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 1;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-global-transition-state="enter-done"] .ride-app-bar__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:before {
    --ride-enter-translate-x: var(--swipe-back-displacement, 0);
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 1;
    --ride-enter-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
    transform: translate3d(0, 0, 0);
  }

  [data-swipe-back-state="swiping"] .ride-app-bar__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#):before {
    transform: translate3d(var(--swipe-back-displacement, 0), 0, 0);
    animation: none;
  }

  [data-swipe-back-state="canceling"] .ride-app-bar__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#):before {
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    transform: translate3d(0, 0, 0);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .ride-app-bar__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#):before {
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    transform: translate3d(100%, 0, 0);
    animation: none !important;
  }

  [data-global-transition-state="enter-active"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 0;
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
  }

  [data-global-transition-state="exit-active"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    transform: translate3d(calc(var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-global-transition-state="enter-done"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    --ride-enter-translate-x: calc(var(--swipe-back-displacement, 0) * .15);
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
  }

  [data-swipe-back-state="swiping"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    transform: translate3d(calc(var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    animation: none;
  }

  [data-swipe-back-state="canceling"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    opacity: 1;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    opacity: 0;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-global-transition-state="enter-active"][data-top-activity-type="full-screen"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    opacity: 1;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-global-transition-state="exit-active"][data-top-activity-type="full-screen"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: calc(var(--swipe-back-displacement-ratio, 0));
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
  }

  [data-global-transition-state="enter-done"][data-top-activity-type="full-screen"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    opacity: calc(var(--swipe-back-displacement-ratio, 0));
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-swipe-back-state="swiping"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: calc(var(--swipe-back-displacement-ratio, 0));
    animation: none;
  }

  [data-swipe-back-state="canceling"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: 0;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .ride-app-bar__icon--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: 1;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-global-transition-state="enter-active"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 0;
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
  }

  [data-global-transition-state="exit-active"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    transform: translate3d(calc(var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-global-transition-state="enter-done"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    --ride-enter-translate-x: calc(var(--swipe-back-displacement, 0) * .15);
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
  }

  [data-swipe-back-state="swiping"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    transform: translate3d(calc(var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    animation: none;
  }

  [data-swipe-back-state="canceling"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    opacity: 1;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    opacity: 0;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-global-transition-state="enter-active"][data-top-activity-type="full-screen"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    opacity: 1;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-global-transition-state="exit-active"][data-top-activity-type="full-screen"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: calc(var(--swipe-back-displacement-ratio, 0));
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) ride-enter;
  }

  [data-global-transition-state="enter-done"][data-top-activity-type="full-screen"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    opacity: calc(var(--swipe-back-displacement-ratio, 0));
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards ride-exit;
  }

  [data-swipe-back-state="swiping"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: calc(var(--swipe-back-displacement-ratio, 0));
    animation: none;
  }

  [data-swipe-back-state="canceling"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: 0;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .ride-app-bar__custom--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: 1;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none !important;
  }

  [data-global-transition-state="enter-active"] .ride-app-bar__root--transitionStyle_fadeFromBottomAndroid[data-activity-is-top] {
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 8vh;
    --ride-enter-opacity: 0;
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .3s cubic-bezier(.23, .1, .32, 1) ride-enter;
    transform: translate3d(0, 0, 0);
  }

  [data-global-transition-state="exit-active"] .ride-app-bar__root--transitionStyle_fadeFromBottomAndroid[data-activity-is-top] {
    opacity: 1;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 8vh;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .15s linear forwards ride-exit;
    transform: translate3d(0, 0, 0);
  }

  [data-global-transition-state="enter-active"] .ride-app-bar__root--transitionStyle_fadeIn[data-activity-is-top] {
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 0;
    --ride-enter-scale: 1;
    opacity: 1;
    animation: .3s ease-out ride-enter;
  }

  [data-global-transition-state="exit-active"] .ride-app-bar__root--transitionStyle_fadeIn[data-activity-is-top] {
    opacity: 1;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation: .15s ease-in forwards ride-exit;
  }

  .ride-app-bar__root--tone_layer:before {
    background: var(--ride-box-background, var(--ride-color-bg-layer-default));
  }

  .ride-app-bar__icon--tone_layer {
    color: var(--ride-icon-color, var(--ride-color-fg-neutral));
  }

  .ride-app-bar__root--tone_transparent {
    background-color: #0000;
  }

  .ride-app-bar__icon--tone_transparent {
    color: var(--ride-icon-color, var(--ride-color-palette-static-white));
  }

  .ride-app-bar__root--divider_true:before {
    box-shadow: inset 0px calc(-1 * 1px) 0 var(--ride-color-stroke-neutral-subtle);
  }
}
