.seed-app-bar-main__root {
    flex: 1
}
.seed-app-bar-main__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.seed-app-bar-main__subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.seed-app-bar-main__title--layout_titleOnly {
    font-size: var(--seed-font-size-t6-static);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t6-static)
}
.seed-app-bar-main__title--layout_withSubtitle {
    font-size: var(--seed-font-size-t5-static);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t5-static)
}
.seed-app-bar-main__subtitle--layout_withSubtitle {
    font-size: var(--seed-font-size-t2-static);
    font-weight: var(--seed-font-weight-regular);
    line-height: var(--seed-line-height-t2-static)
}
.seed-app-bar-main__root--theme_cupertino {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: var(--seed-safe-area-top);
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: var(--centered-title-padding-x, 0);
    padding-right: var(--centered-title-padding-x, 0);
    pointer-events: none
}
.seed-app-bar-main__root--theme_android {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 0;
    height: 100%
}
.seed-app-bar-main__root--tone_layer {
    color: var(--seed-color-fg-neutral)
}
.seed-app-bar-main__title--tone_layer {
    color: var(--seed-color-fg-neutral)
}
.seed-app-bar-main__subtitle--tone_layer {
    color: var(--seed-color-fg-neutral-muted)
}
.seed-app-bar-main__root--tone_transparent {
    color: var(--seed-color-palette-static-white)
}
.seed-app-bar-main__title--tone_transparent {
    color: var(--seed-color-palette-static-white)
}
.seed-app-bar-main__subtitle--tone_transparent {
    color: var(--seed-color-palette-static-white)
}