@layer seed-components {
  .seed-app-bar-main__root {
    flex: 1;
  }

  .seed-app-bar-main__title, .seed-app-bar-main__subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .seed-app-bar-main__title--layout_titleOnly {
    font-size: var(--seed-font-size-t6-static);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t6-static);
  }

  .seed-app-bar-main__title--layout_withSubtitle {
    font-size: var(--seed-font-size-t5-static);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t5-static);
  }

  .seed-app-bar-main__subtitle--layout_withSubtitle {
    font-size: var(--seed-font-size-t2-static);
    font-weight: var(--seed-font-weight-regular);
    line-height: var(--seed-line-height-t2-static);
  }

  .seed-app-bar-main__root--theme_cupertino {
    text-align: center;
    top: var(--seed-safe-area-top);
    padding-left: var(--centered-title-padding-x, 0);
    padding-right: var(--centered-title-padding-x, 0);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .seed-app-bar-main__root--theme_android {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 0;
    height: 100%;
    display: flex;
  }

  [data-global-transition-state="enter-active"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    --seed-enter-translate-x: 25%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) seed-enter;
    transform: translate3d(0, 0, 0);
  }

  [data-global-transition-state="exit-active"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    transform: translate3d(calc(var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    --seed-exit-translate-x: 25%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards seed-exit;
  }

  [data-global-transition-state="enter-done"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS[data-activity-is-top] {
    --seed-enter-translate-x: calc(var(--swipe-back-displacement, 0) * .15);
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    --seed-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) seed-enter;
    transform: translate3d(0, 0, 0);
  }

  [data-swipe-back-state="swiping"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    transform: translate3d(calc(var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(1 - var(--swipe-back-displacement-ratio, 0) * 3);
    animation: none;
  }

  [data-swipe-back-state="canceling"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    opacity: 1;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    transform: translate3d(0, 0, 0);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS[data-activity-is-top]:not(#\#) {
    opacity: 0;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    transform: translate3d(25%, 0, 0);
    animation: none !important;
  }

  [data-global-transition-state="enter-active"][data-top-activity-type="full-screen"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    opacity: 1;
    --seed-exit-translate-x: -25%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards seed-exit;
    transform: translate3d(0, 0, 0);
  }

  [data-global-transition-state="exit-active"][data-top-activity-type="full-screen"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    --seed-enter-translate-x: calc(-25% + var(--swipe-back-displacement, 0) * .15);
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: calc(var(--swipe-back-displacement-ratio, 0));
    --seed-enter-scale: 1;
    opacity: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) seed-enter;
    transform: translate3d(0, 0, 0);
  }

  [data-global-transition-state="enter-done"][data-top-activity-type="full-screen"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS:not([data-activity-is-top]) {
    transform: translate3d(calc(-25% + var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(var(--swipe-back-displacement-ratio, 0));
    --seed-exit-translate-x: -25%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards seed-exit;
  }

  [data-swipe-back-state="swiping"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    transform: translate3d(calc(-25% + var(--swipe-back-displacement, 0) * .15), 0, 0);
    opacity: calc(var(--swipe-back-displacement-ratio, 0));
    animation: none;
  }

  [data-swipe-back-state="canceling"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: 0;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    transform: translate3d(-25%, 0, 0);
    animation: none !important;
  }

  [data-swipe-back-state="completing"] .seed-app-bar-main__root--transitionStyle_slideFromRightIOS:not([data-activity-is-top]):not(#\#) {
    opacity: 1;
    transition: transform .35s cubic-bezier(.2, .1, .21, .99), opacity .35s cubic-bezier(.2, .1, .21, .99);
    transform: translate3d(0, 0, 0);
    animation: none !important;
  }

  .seed-app-bar-main__root--tone_layer, .seed-app-bar-main__title--tone_layer {
    color: var(--seed-color-fg-neutral);
  }

  .seed-app-bar-main__subtitle--tone_layer {
    color: var(--seed-color-fg-neutral-muted);
  }

  .seed-app-bar-main__root--tone_transparent, .seed-app-bar-main__title--tone_transparent, .seed-app-bar-main__subtitle--tone_transparent {
    color: var(--seed-color-palette-static-white);
  }
}
