@layer seed-components {
  .seed-app-bar-main__root {
    flex: 1;
  }

  .seed-app-bar-main__title, .seed-app-bar-main__subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .seed-app-bar-main__title--layout_titleOnly {
    font-size: var(--seed-font-size-t6-static);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t6-static);
  }

  .seed-app-bar-main__title--layout_withSubtitle {
    font-size: var(--seed-font-size-t5-static);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t5-static);
  }

  .seed-app-bar-main__subtitle--layout_withSubtitle {
    font-size: var(--seed-font-size-t2-static);
    font-weight: var(--seed-font-weight-regular);
    line-height: var(--seed-line-height-t2-static);
  }

  .seed-app-bar-main__root--theme_cupertino {
    text-align: center;
    top: var(--seed-safe-area-top);
    padding-left: var(--centered-title-padding-x, 0);
    padding-right: var(--centered-title-padding-x, 0);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .seed-app-bar-main__root--theme_android {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-width: 0;
    height: 100%;
    display: flex;
  }

  .seed-app-bar-main__root--tone_layer, .seed-app-bar-main__title--tone_layer {
    color: var(--seed-color-fg-neutral);
  }

  .seed-app-bar-main__subtitle--tone_layer {
    color: var(--seed-color-fg-neutral-muted);
  }

  .seed-app-bar-main__root--tone_transparent, .seed-app-bar-main__title--tone_transparent, .seed-app-bar-main__subtitle--tone_transparent {
    color: var(--seed-color-palette-static-white);
  }
}
