@layer ride-components {
  .ride-article {
    user-select: text;
    word-break: normal;
    overflow-wrap: break-word;
    line-break: strict;
  }

  .ride-article:lang(ko) {
    word-break: keep-all;
  }
}
