@layer ride-components {
  .seed-badge__root {
    box-sizing: border-box;
    text-transform: none;
    text-align: start;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
  }

  .seed-badge__label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .seed-badge__root--size_medium {
    max-width: clamp(calc(108px * var(--ride-font-size-limit-min)), 7.5rem, calc(108px * var(--ride-font-size-limit-max)));
    min-height: var(--ride-dimension-x5);
    padding-left: var(--ride-dimension-x1_5);
    padding-right: var(--ride-dimension-x1_5);
    padding-top: var(--ride-dimension-x0_5);
    padding-bottom: var(--ride-dimension-x0_5);
    border-radius: var(--ride-radius-r1);
    font-size: var(--ride-font-size-t1);
    line-height: var(--ride-line-height-t1);
  }

  .seed-badge__root--size_large {
    max-width: clamp(calc(120px * var(--ride-font-size-limit-min)), 6.75rem, calc(120px * var(--ride-font-size-limit-max)));
    min-height: var(--ride-dimension-x6);
    padding-left: var(--ride-dimension-x2);
    padding-right: var(--ride-dimension-x2);
    padding-top: var(--ride-dimension-x1);
    padding-bottom: var(--ride-dimension-x1);
    border-radius: var(--ride-radius-r1_5);
    font-size: var(--ride-font-size-t2);
    line-height: var(--ride-line-height-t2);
  }

  .seed-badge__root--variant_weak {
    font-weight: var(--ride-font-weight-medium);
  }

  .seed-badge__root--variant_solid, .seed-badge__root--variant_outline {
    font-weight: var(--ride-font-weight-bold);
  }

  .seed-badge__root--tone_neutral-variant_weak {
    background-color: var(--ride-color-bg-neutral-weak);
    color: var(--ride-color-fg-neutral-muted);
  }

  .seed-badge__root--tone_neutral-variant_solid {
    background-color: var(--ride-color-palette-gray-800);
    color: var(--ride-color-fg-neutral-inverted);
  }

  .seed-badge__root--tone_neutral-variant_outline {
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-neutral-muted);
  }

  .seed-badge__root--tone_brand-variant_weak {
    background-color: var(--ride-color-bg-brand-weak);
    color: var(--ride-color-fg-brand-contrast);
  }

  .seed-badge__root--tone_brand-variant_solid {
    background-color: var(--ride-color-bg-brand-solid);
    color: var(--ride-color-palette-static-white);
  }

  .seed-badge__root--tone_brand-variant_outline {
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-brand-weak);
    color: var(--ride-color-fg-brand);
  }

  .seed-badge__root--tone_informative-variant_weak {
    background-color: var(--ride-color-bg-informative-weak);
    color: var(--ride-color-fg-informative-contrast);
  }

  .seed-badge__root--tone_informative-variant_solid {
    background-color: var(--ride-color-bg-informative-solid);
    color: var(--ride-color-palette-static-white);
  }

  .seed-badge__root--tone_informative-variant_outline {
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-informative-weak);
    color: var(--ride-color-fg-informative);
  }

  .seed-badge__root--tone_positive-variant_weak {
    background-color: var(--ride-color-bg-positive-weak);
    color: var(--ride-color-fg-positive-contrast);
  }

  .seed-badge__root--tone_positive-variant_solid {
    background-color: var(--ride-color-bg-positive-solid);
    color: var(--ride-color-palette-static-white);
  }

  .seed-badge__root--tone_positive-variant_outline {
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-positive-weak);
    color: var(--ride-color-fg-positive);
  }

  .seed-badge__root--tone_warning-variant_weak {
    background-color: var(--ride-color-bg-warning-weak);
    color: var(--ride-color-fg-warning-contrast);
  }

  .seed-badge__root--tone_warning-variant_solid {
    background-color: var(--ride-color-bg-warning-solid);
    color: var(--ride-color-palette-static-black-alpha-900);
  }

  .seed-badge__root--tone_warning-variant_outline {
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-warning-weak);
    color: var(--ride-color-fg-warning);
  }

  .seed-badge__root--tone_critical-variant_weak {
    background-color: var(--ride-color-bg-critical-weak);
    color: var(--ride-color-fg-critical-contrast);
  }

  .seed-badge__root--tone_critical-variant_solid {
    background-color: var(--ride-color-bg-critical-solid);
    color: var(--ride-color-palette-static-white);
  }

  .seed-badge__root--tone_critical-variant_outline {
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-critical-weak);
    color: var(--ride-color-fg-critical);
  }
}
