.seed-callout__root {
    border: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: inherit;
    font-size: unset;
    display: flex;
    align-items: center;
    text-align: start;
    width: 100%;
    min-height: 50px;
    padding-left: var(--ride-dimension-x3_5);
    padding-right: var(--ride-dimension-x3_5);
    padding-top: var(--ride-dimension-x3_5);
    padding-bottom: var(--ride-dimension-x3_5);
    gap: var(--ride-dimension-x3);
    border-radius: var(--ride-radius-r2_5);
    text-decoration: none;
    --ride-prefix-icon-size: var(--ride-dimension-x4);
    --ride-suffix-icon-size: var(--ride-dimension-x4);
}
.seed-callout__root:is(button, a) {
    cursor: pointer;
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
}
.seed-callout__root:is(button, a):is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
}
.seed-callout__content {
    margin-right: auto;
    line-height: var(--ride-line-height-t4);
}
.seed-callout__title {
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    font-weight: var(--ride-font-weight-bold);
}
.seed-callout__title::after {
    content: "  ";
    white-space: pre;
}
.seed-callout__description {
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    font-weight: var(--ride-font-weight-regular);
}
.seed-callout__description:not(:last-child)::after {
    content: "  ";
    white-space: pre;
}
.seed-callout__link {
    font-family: inherit;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    font-weight: var(--ride-font-weight-regular);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    border-radius: var(--ride-radius-r1);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
}
.seed-callout__link:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
}
.seed-callout__closeButton {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--ride-dimension-x10);
    height: var(--ride-dimension-x10);
    margin: calc((var(--ride-dimension-x10) - var(--ride-dimension-x4)) * -0.5);
    border-radius: var(--ride-radius-r2_5);
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
}
.seed-callout__closeButton:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
}
.seed-callout__root--tone_neutral {
    background-color: var(--ride-color-bg-neutral-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
    --ride-suffix-icon-color: var(--ride-color-fg-neutral);
}
@media (hover: hover) {
    .seed-callout__root--tone_neutral:is(button, a):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-neutral-weak-pressed);
    }
}
@media (hover: none) {
    .seed-callout__root--tone_neutral:is(button, a):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-neutral-weak-pressed);
    }
}
.seed-callout__title--tone_neutral {
    color: var(--ride-color-fg-neutral);
}
.seed-callout__description--tone_neutral {
    color: var(--ride-color-fg-neutral);
}
.seed-callout__link--tone_neutral {
    color: var(--ride-color-fg-neutral);
}
.seed-callout__root--tone_informative {
    background-color: var(--ride-color-bg-informative-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-informative-contrast);
    --ride-suffix-icon-color: var(--ride-color-fg-informative-contrast);
}
@media (hover: hover) {
    .seed-callout__root--tone_informative:is(button, a):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-informative-weak-pressed);
    }
}
@media (hover: none) {
    .seed-callout__root--tone_informative:is(button, a):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-informative-weak-pressed);
    }
}
.seed-callout__title--tone_informative {
    color: var(--ride-color-fg-informative-contrast);
}
.seed-callout__description--tone_informative {
    color: var(--ride-color-fg-informative-contrast);
}
.seed-callout__link--tone_informative {
    color: var(--ride-color-fg-informative-contrast);
}
.seed-callout__root--tone_positive {
    background-color: var(--ride-color-bg-positive-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-positive-contrast);
    --ride-suffix-icon-color: var(--ride-color-fg-positive-contrast);
}
@media (hover: hover) {
    .seed-callout__root--tone_positive:is(button, a):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-positive-weak-pressed);
    }
}
@media (hover: none) {
    .seed-callout__root--tone_positive:is(button, a):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-positive-weak-pressed);
    }
}
.seed-callout__title--tone_positive {
    color: var(--ride-color-fg-positive-contrast);
}
.seed-callout__description--tone_positive {
    color: var(--ride-color-fg-positive-contrast);
}
.seed-callout__link--tone_positive {
    color: var(--ride-color-fg-positive-contrast);
}
.seed-callout__root--tone_warning {
    background-color: var(--ride-color-bg-warning-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-warning-contrast);
    --ride-suffix-icon-color: var(--ride-color-fg-warning-contrast);
}
@media (hover: hover) {
    .seed-callout__root--tone_warning:is(button, a):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-warning-weak-pressed);
    }
}
@media (hover: none) {
    .seed-callout__root--tone_warning:is(button, a):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-warning-weak-pressed);
    }
}
.seed-callout__title--tone_warning {
    color: var(--ride-color-fg-warning-contrast);
}
.seed-callout__description--tone_warning {
    color: var(--ride-color-fg-warning-contrast);
}
.seed-callout__link--tone_warning {
    color: var(--ride-color-fg-warning-contrast);
}
.seed-callout__root--tone_critical {
    background-color: var(--ride-color-bg-critical-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-critical-contrast);
    --ride-suffix-icon-color: var(--ride-color-fg-critical-contrast);
}
@media (hover: hover) {
    .seed-callout__root--tone_critical:is(button, a):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-critical-weak-pressed);
    }
}
@media (hover: none) {
    .seed-callout__root--tone_critical:is(button, a):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-critical-weak-pressed);
    }
}
.seed-callout__title--tone_critical {
    color: var(--ride-color-fg-critical-contrast);
}
.seed-callout__description--tone_critical {
    color: var(--ride-color-fg-critical-contrast);
}
.seed-callout__link--tone_critical {
    color: var(--ride-color-fg-critical-contrast);
}
.seed-callout__root--tone_magic {
    background-image: linear-gradient(88deg, var(--ride-gradient-glow-magic));
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
    --ride-suffix-icon-color: var(--ride-color-fg-neutral);
}
@media (hover: hover) {
    .seed-callout__root--tone_magic:is(button, a):is(:hover, [data-hover]) {
        background-image: linear-gradient(88deg, var(--ride-gradient-glow-magic-pressed));
    }
}
@media (hover: none) {
    .seed-callout__root--tone_magic:is(button, a):is(:active, [data-active]) {
        background-image: linear-gradient(88deg, var(--ride-gradient-glow-magic-pressed));
    }
}
.seed-callout__title--tone_magic {
    color: var(--ride-color-fg-neutral);
}
.seed-callout__description--tone_magic {
    color: var(--ride-color-fg-neutral);
}
.seed-callout__link--tone_magic {
    color: var(--ride-color-fg-neutral);
}