.ride-checkbox__root {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    max-width: 100%;
    vertical-align: top;
    isolation: isolate;
    cursor: pointer;
    gap: var(--ride-dimension-x2);
}
.ride-checkbox__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.ride-checkbox__label {
    color: var(--ride-color-fg-neutral);
}
.ride-checkbox__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
}
.ride-checkbox__label--weight_regular {
    font-weight: var(--ride-font-weight-regular);
}
.ride-checkbox__label--weight_bold {
    font-weight: var(--ride-font-weight-bold);
}
.ride-checkbox__root--size_large {
    min-height: var(--ride-dimension-x9);
    --checkmark-margin-top: calc((var(--ride-dimension-x9) - var(--ride-dimension-x6)) / 2);
}
.ride-checkbox__label--size_large {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    margin-top: calc(var(--ride-dimension-x9) / 2 - var(--ride-line-height-t5) / 2);
}
.ride-checkbox__root--size_medium {
    min-height: var(--ride-dimension-x8);
    --checkmark-margin-top: calc((var(--ride-dimension-x8) - var(--ride-dimension-x5)) / 2);
}
.ride-checkbox__label--size_medium {
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    margin-top: calc(var(--ride-dimension-x8) / 2 - var(--ride-line-height-t4) / 2);
}