.ride-checkmark__root {
    position: relative;
    box-sizing: border-box;
    flex: none;
    margin-top: var(--checkmark-margin-top, 0);
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-focus-ring, var(--ride-dimension-x0_5) solid transparent);
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-checkmark__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-focus-ring, var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring));
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-checkmark__icon {
    display: none;
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: initial;
}
.ride-checkmark__root--variant_square {
    border-width: 1px;
    border-style: solid;
    border-color: var(--ride-color-stroke-neutral-weak);
}
.ride-checkmark__root--variant_square:is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    border-width: 0;
}
@media (hover: hover) {
    .ride-checkmark__root--variant_square:not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]) {
        background: var(--ride-color-bg-transparent-pressed);
    }
}
@media (hover: none) {
    .ride-checkmark__root--variant_square:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]) {
        background: var(--ride-color-bg-transparent-pressed);
    }
}
.ride-checkmark__root--variant_square:is(:disabled, [disabled], [data-disabled]) {
    background: var(--ride-color-bg-disabled);
    border-color: var(--ride-color-stroke-neutral-muted);
}
.ride-checkmark__icon--variant_square:is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    display: block;
}
.ride-checkmark__icon--variant_square:is(:disabled, [disabled], [data-disabled]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--ride-color-fg-disabled);
}
@media (hover: hover) {
    .ride-checkmark__root--variant_ghost:not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]) {
        background: var(--ride-color-bg-transparent-pressed);
    }
}
@media (hover: none) {
    .ride-checkmark__root--variant_ghost:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]) {
        background: var(--ride-color-bg-transparent-pressed);
    }
}
.ride-checkmark__icon--variant_ghost {
    display: block;
    color: var(--ride-color-fg-placeholder);
    transition: color var(--ride-duration-color-transition) var(--ride-timing-function-easing);
}
.ride-checkmark__icon--variant_ghost:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
}
.ride-checkmark__icon--variant_ghost:is(:disabled, [disabled], [data-disabled]):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--ride-color-fg-disabled);
}
.ride-checkmark__root--size_large {
    border-radius: var(--ride-radius-r1);
    width: var(--ride-dimension-x6);
    height: var(--ride-dimension-x6);
}
.ride-checkmark__root--size_medium {
    border-radius: var(--ride-radius-r1);
    width: var(--ride-dimension-x5);
    height: var(--ride-dimension-x5);
}
.ride-checkmark__root--variant_square-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: var(--ride-color-bg-neutral-inverted);
}
@media (hover: hover) {
    .ride-checkmark__root--variant_square-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:hover, [data-hover]) {
        background: var(--ride-color-bg-neutral-inverted-pressed);
    }
}
@media (hover: none) {
    .ride-checkmark__root--variant_square-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:active, [data-active]) {
        background: var(--ride-color-bg-neutral-inverted-pressed);
    }
}
.ride-checkmark__icon--variant_square-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--ride-color-fg-neutral-inverted);
}
.ride-checkmark__root--variant_square-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    background: var(--ride-color-bg-brand-solid);
}
@media (hover: hover) {
    .ride-checkmark__root--variant_square-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:hover, [data-hover]) {
        background: var(--ride-color-bg-brand-solid-pressed);
    }
}
@media (hover: none) {
    .ride-checkmark__root--variant_square-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:active, [data-active]) {
        background: var(--ride-color-bg-brand-solid-pressed);
    }
}
.ride-checkmark__icon--variant_square-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--ride-color-palette-static-white);
}
@media (hover: hover) {
    .ride-checkmark__root--variant_ghost-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:hover, [data-hover]) {
        background: var(--ride-color-palette-gray-200);
    }
}
@media (hover: none) {
    .ride-checkmark__root--variant_ghost-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:active, [data-active]) {
        background: var(--ride-color-palette-gray-200);
    }
}
.ride-checkmark__icon--variant_ghost-tone_neutral:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--ride-color-fg-neutral);
}
@media (hover: hover) {
    .ride-checkmark__root--variant_ghost-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:hover, [data-hover]) {
        background: var(--ride-color-palette-carrot-200);
    }
}
@media (hover: none) {
    .ride-checkmark__root--variant_ghost-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]):is(:active, [data-active]) {
        background: var(--ride-color-palette-carrot-200);
    }
}
.ride-checkmark__icon--variant_ghost-tone_brand:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, :indeterminate, [data-checked], [data-indeterminate]) {
    color: var(--ride-color-fg-brand);
}
.ride-checkmark__icon--size_medium-variant_ghost {
    width: 14px;
    height: 14px;
}
.ride-checkmark__icon--size_large-variant_ghost {
    width: 18px;
    height: 18px;
}
.ride-checkmark__icon--size_medium-variant_square {
    width: 12px;
    height: 12px;
}
.ride-checkmark__icon--size_large-variant_square {
    width: 14px;
    height: 14px;
}