.seed-chip__root {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    text-transform: none;
    text-align: start;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-shrink: 0;
    line-height: 1;
    border-radius: var(--seed-radius-full);
    transition-duration: var(--seed-duration-d4);
    transition-timing-function: var(--seed-timing-function-easing);
    transition-property: background-color, color, border-color, box-shadow;
}
.seed-chip__root:is(:focus, [data-focus]) {
    outline: none;
}
.seed-chip__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-chip__root {
    --seed-icon-color: inherit;
}
.seed-chip__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--seed-font-weight-medium);
    padding-inline: var(--seed-dimension-x1_5);
    color: var(--seed-box-color, inherit);
}
.seed-chip__prefixIcon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    padding-left: var(--seed-dimension-x1_5);
    --seed-icon-color: inherit;
}
.seed-chip__prefixAvatar {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
}
.seed-chip__suffixIcon {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    padding-right: var(--seed-dimension-x1_5);
    --seed-icon-color: inherit;
}
.seed-chip__root--variant_solid {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-weak));
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
}
.seed-chip__root--variant_solid:is(:checked, [data-checked]) {
    box-shadow: none;
    background: var(--seed-box-background, var(--seed-color-bg-neutral-inverted));
    color: var(--seed-box-color, var(--seed-color-fg-neutral-inverted));
    --seed-icon-color: var(--seed-color-fg-neutral-inverted);
}
.seed-chip__root--variant_solid:is(:active, [data-active]):not(:is(:disabled, [disabled], [data-disabled])) {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-weak-pressed));
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_solid:is(:checked, [data-checked]):is(:active, [data-active]):not(:is(:disabled, [disabled], [data-disabled])) {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-inverted-pressed));
    color: var(--seed-box-color, var(--seed-color-fg-neutral-inverted));
    --seed-icon-color: var(--seed-color-fg-neutral-inverted);
}
.seed-chip__root--variant_solid:is(:disabled, [disabled], [data-disabled]) {
    opacity: 0.5;
}
.seed-chip__root--variant_solid {
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_outlineStrong {
    background: var(--seed-box-background, var(--seed-color-bg-layer-default));
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral);
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
}
.seed-chip__root--variant_outlineStrong:is(:active, [data-active]):not(:is(:disabled, [disabled], [data-disabled])) {
    background: var(--seed-box-background, var(--seed-color-bg-layer-default-pressed));
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_outlineStrong:is(:checked, [data-checked]) {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-inverted));
    color: var(--seed-box-color, var(--seed-color-fg-neutral-inverted));
    --seed-icon-color: var(--seed-color-fg-neutral-inverted);
}
.seed-chip__root--variant_outlineStrong:is(:checked, [data-checked]):is(:active, [data-active]):not(:is(:disabled, [disabled], [data-disabled])) {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-inverted-pressed));
    color: var(--seed-box-color, var(--seed-color-fg-neutral-inverted));
    --seed-icon-color: var(--seed-color-fg-neutral-inverted);
}
.seed-chip__root--variant_outlineStrong:is(:disabled, [disabled], [data-disabled]) {
    opacity: 0.5;
}
.seed-chip__root--variant_outlineStrong {
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_outlineWeak {
    background: var(--seed-box-background, var(--seed-color-bg-layer-default));
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral);
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
}
.seed-chip__root--variant_outlineWeak:is(:active, [data-active]):not(:is(:disabled, [disabled], [data-disabled])) {
    background: var(--seed-box-background, var(--seed-color-bg-layer-default-pressed));
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral);
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_outlineWeak:is(:checked, [data-checked]) {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-weak));
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-field-focused);
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_outlineWeak:is(:checked, [data-checked]):is(:active, [data-active]):not(:is(:disabled, [disabled], [data-disabled])) {
    background: var(--seed-box-background, var(--seed-color-bg-neutral-weak-pressed));
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-field-focused);
    color: var(--seed-box-color, var(--seed-color-fg-neutral));
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--variant_outlineWeak:is(:disabled, [disabled], [data-disabled]) {
    opacity: 0.5;
}
.seed-chip__root--variant_outlineWeak {
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-chip__root--size_large {
    height: 40px;
    padding-inline: var(--seed-dimension-x2_5);
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-chip__label--size_large {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-chip__prefixIcon--size_large {
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-chip__suffixIcon--size_large {
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-chip__root--size_medium {
    height: 36px;
    padding-inline: var(--seed-dimension-x2);
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-chip__label--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-chip__prefixIcon--size_medium {
    --seed-icon-size: var(--seed-dimension-x4);
}
.seed-chip__suffixIcon--size_medium {
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-chip__root--size_small {
    height: 32px;
    padding-inline: var(--seed-dimension-x1_5);
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-chip__label--size_small {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-chip__prefixIcon--size_small {
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-chip__suffixIcon--size_small {
    --seed-icon-size: var(--seed-dimension-x3_5);
}
.seed-chip__root--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
}
.seed-chip__root--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
}
.seed-chip__root--size_large-layout_iconOnly {
    min-width: var(--seed-dimension-x10);
}