@layer ride-components {
  .ride-chip-tabs__root {
    position: relative;
  }

  .ride-chip-tabs__list {
    isolation: isolate;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0px var(--ride-dimension-x4);
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    display: flex;
    position: relative;
    overflow-x: auto;
  }

  .ride-chip-tabs__list::-webkit-scrollbar {
    display: none;
  }

  .ride-chip-tabs__carousel {
    display: block;
    overflow: hidden;
  }

  .ride-chip-tabs__carouselCamera {
    display: flex;
  }

  .ride-chip-tabs__carouselCamera[data-auto-height] {
    align-items: flex-start;
  }

  .ride-chip-tabs__content {
    flex: 0 0 100%;
    min-width: 0;
    overflow: hidden auto;
    transform: translate3d(0, 0, 0);
  }

  .ride-chip-tabs__content:not([data-carousel]):not(:is([aria-selected="true"], [data-selected])) {
    display: none;
  }

  .ride-chip-tabs__trigger {
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    border-radius: var(--ride-radius-full);
    padding-top: var(--ride-dimension-x2);
    padding-bottom: var(--ride-dimension-x2);
    font-family: inherit;
    font-weight: var(--ride-font-weight-medium);
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .ride-chip-tabs__trigger:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .ride-chip-tabs__list--size_medium {
    gap: 8px;
  }

  .ride-chip-tabs__trigger--size_medium {
    min-height: 36px;
    font-size: var(--ride-font-size-t4);
    padding-left: var(--ride-dimension-x3_5);
    padding-right: var(--ride-dimension-x3_5);
  }

  .ride-chip-tabs__list--size_large {
    gap: 8px;
  }

  .ride-chip-tabs__trigger--size_large {
    min-height: 40px;
    font-size: var(--ride-font-size-t4);
    padding-left: var(--ride-dimension-x4);
    padding-right: var(--ride-dimension-x4);
  }

  .ride-chip-tabs__trigger--variant_neutralSolid {
    background-color: var(--ride-color-bg-neutral-weak-alpha);
    color: var(--ride-color-fg-neutral);
  }

  .ride-chip-tabs__trigger--variant_neutralSolid:is([aria-selected="true"], [data-selected]) {
    background-color: var(--ride-color-bg-neutral-inverted);
    color: var(--ride-color-fg-neutral-inverted);
  }

  @media (hover: hover) {
    .ride-chip-tabs__trigger--variant_neutralSolid:is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-neutral-weak-alpha-pressed);
    }
  }

  @media (hover: none) {
    .ride-chip-tabs__trigger--variant_neutralSolid:is(:active, [data-active]) {
      background-color: var(--ride-color-bg-neutral-weak-alpha-pressed);
    }
  }

  @media (hover: hover) {
    .ride-chip-tabs__trigger--variant_neutralSolid:is([aria-selected="true"], [data-selected]):is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-neutral-inverted-pressed);
    }
  }

  @media (hover: none) {
    .ride-chip-tabs__trigger--variant_neutralSolid:is([aria-selected="true"], [data-selected]):is(:active, [data-active]) {
      background-color: var(--ride-color-bg-neutral-inverted-pressed);
    }
  }

  .ride-chip-tabs__trigger--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    color: var(--ride-color-fg-disabled);
  }

  .ride-chip-tabs__trigger--variant_neutralSolid:is(:disabled, [disabled], [data-disabled]):is([aria-selected="true"], [data-selected]) {
    background-color: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
  }

  .ride-chip-tabs__trigger--variant_neutralOutline {
    background-color: var(--ride-color-bg-transparent);
    border: 1px solid var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-neutral);
  }

  .ride-chip-tabs__trigger--variant_neutralOutline:is([aria-selected="true"], [data-selected]) {
    background-color: var(--ride-color-bg-neutral-inverted);
    color: var(--ride-color-fg-neutral-inverted);
    border-color: #0000;
  }

  @media (hover: hover) {
    .ride-chip-tabs__trigger--variant_neutralOutline:is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .ride-chip-tabs__trigger--variant_neutralOutline:is(:active, [data-active]) {
      background-color: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: hover) {
    .ride-chip-tabs__trigger--variant_neutralOutline:is([aria-selected="true"], [data-selected]):is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-neutral-inverted-pressed);
    }
  }

  @media (hover: none) {
    .ride-chip-tabs__trigger--variant_neutralOutline:is([aria-selected="true"], [data-selected]):is(:active, [data-active]) {
      background-color: var(--ride-color-bg-neutral-inverted-pressed);
    }
  }

  .ride-chip-tabs__trigger--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    color: var(--ride-color-fg-disabled);
  }

  .ride-chip-tabs__trigger--variant_neutralOutline:is(:disabled, [disabled], [data-disabled]):is([aria-selected="true"], [data-selected]) {
    background-color: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
  }

  .ride-chip-tabs__trigger--variant_brandSolid {
    background-color: var(--ride-color-bg-neutral-weak);
    color: var(--ride-color-fg-neutral-muted);
  }

  .ride-chip-tabs__trigger--variant_brandSolid:is([aria-selected="true"], [data-selected]) {
    background-color: var(--ride-color-bg-brand-solid);
    color: var(--ride-color-palette-static-white);
  }

  @media (hover: hover) {
    .ride-chip-tabs__trigger--variant_brandSolid:is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-neutral-weak-pressed);
    }
  }

  @media (hover: none) {
    .ride-chip-tabs__trigger--variant_brandSolid:is(:active, [data-active]) {
      background-color: var(--ride-color-bg-neutral-weak-pressed);
    }
  }

  @media (hover: hover) {
    .ride-chip-tabs__trigger--variant_brandSolid:is([aria-selected="true"], [data-selected]):is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-brand-solid-pressed);
    }
  }

  @media (hover: none) {
    .ride-chip-tabs__trigger--variant_brandSolid:is([aria-selected="true"], [data-selected]):is(:active, [data-active]) {
      background-color: var(--ride-color-bg-brand-solid-pressed);
    }
  }

  .ride-chip-tabs__trigger--variant_brandSolid:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background-color: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
  }

  .ride-chip-tabs__trigger--variant_brandSolid:is(:disabled, [disabled], [data-disabled]):is([aria-selected="true"], [data-selected]) {
    background-color: var(--ride-color-bg-disabled);
  }

  .ride-chip-tabs__root--contentLayout_fill {
    flex-direction: column;
    height: 100%;
    display: flex;
  }

  .ride-chip-tabs__carousel--contentLayout_fill {
    flex: 1;
  }

  .ride-chip-tabs__carouselCamera--contentLayout_fill {
    align-items: stretch;
    height: 100%;
  }

  .ride-chip-tabs__root--contentLayout_hug {
    display: block;
  }

  .ride-chip-tabs__root--stickyList_true {
    position: relative;
  }

  .ride-chip-tabs__list--stickyList_true {
    z-index: 1;
    position: sticky;
    top: 0;
  }
}
