.seed-content-dialog__positioner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    overscroll-behavior-y: none;
    --dialog-z-index: 2;
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
}
.seed-content-dialog__backdrop {
    position: fixed;
    inset: 0;
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
}
.seed-content-dialog__backdrop:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
}
.seed-content-dialog__backdrop:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.seed-content-dialog__content {
    position: relative;
    outline: none;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--dialog-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    border-radius: var(--seed-radius-r5);
    --content-dialog-default-width: calc(0.9 * 100vw);
    --content-dialog-default-max-width: calc(0.9 * 100%);
    --seed-box-width-base: var(--content-dialog-default-width);
    --seed-box-width-sm: var(--seed-box-width-base, initial);
    --seed-box-width-md: var(--seed-box-width-sm, initial);
    --seed-box-width-lg: var(--seed-box-width-md, initial);
    --seed-box-width-xl: var(--seed-box-width-lg, initial);
    --seed-box-width: var(--seed-box-width-base, initial);
    --seed-box-max-width-base: var(--content-dialog-default-max-width);
    --seed-box-max-width-sm: var(--seed-box-max-width-base, initial);
    --seed-box-max-width-md: var(--seed-box-max-width-sm, initial);
    --seed-box-max-width-lg: var(--seed-box-max-width-md, initial);
    --seed-box-max-width-xl: var(--seed-box-max-width-lg, initial);
    --seed-box-max-width: var(--seed-box-max-width-base, initial);
    width: var(--seed-box-width);
    max-width: var(--seed-box-max-width);
    max-height: calc(0.8 * 100vh);
    max-height: calc(0.8 * 100dvh);
}
@media (min-width: 768px) {
    .seed-content-dialog__content {
        --content-dialog-default-width: var(--content-dialog-size-width);
        --content-dialog-default-max-width: calc(100vw - 2 * var(--seed-dimension-x5));
    }
}
.seed-content-dialog__content:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d4);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1.3;
}
.seed-content-dialog__content:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.seed-content-dialog__header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--seed-dimension-x1_5);
    padding-inline: var(--seed-dimension-x6);
    padding-top: var(--seed-dimension-x6);
    padding-bottom: var(--seed-dimension-x4);
}
.seed-content-dialog__header[data-show-close-button] {
    padding-right: calc(var(--seed-dimension-x6) + 22px + var(--seed-dimension-x1_5));
}
.seed-content-dialog__body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
    --seed-box-padding-x-base: var(--seed-dimension-x6);
    --seed-box-padding-x-sm: var(--seed-box-padding-x-base, initial);
    --seed-box-padding-x-md: var(--seed-box-padding-x-sm, initial);
    --seed-box-padding-x-lg: var(--seed-box-padding-x-md, initial);
    --seed-box-padding-x-xl: var(--seed-box-padding-x-lg, initial);
    --seed-box-padding-x: var(--seed-box-padding-x-base, initial);
    --seed-box-min-height-base: 0;
    --seed-box-min-height-sm: var(--seed-box-min-height-base, initial);
    --seed-box-min-height-md: var(--seed-box-min-height-sm, initial);
    --seed-box-min-height-lg: var(--seed-box-min-height-md, initial);
    --seed-box-min-height-xl: var(--seed-box-min-height-lg, initial);
    --seed-box-min-height: var(--seed-box-min-height-base, initial);
    --seed-box-max-height-base: none;
    --seed-box-max-height-sm: var(--seed-box-max-height-base, initial);
    --seed-box-max-height-md: var(--seed-box-max-height-sm, initial);
    --seed-box-max-height-lg: var(--seed-box-max-height-md, initial);
    --seed-box-max-height-xl: var(--seed-box-max-height-lg, initial);
    --seed-box-max-height: var(--seed-box-max-height-base, initial);
    --seed-box-justify-content: initial;
    --seed-box-align-items: initial;
    padding-inline: var(--seed-box-padding-x);
    min-height: var(--seed-box-min-height);
    max-height: var(--seed-box-max-height);
    justify-content: var(--seed-box-justify-content);
    align-items: var(--seed-box-align-items);
    transition: box-shadow var(--seed-duration-color-transition) var(--seed-timing-function-easing);
}
.seed-content-dialog__body[data-scrolled]:not(:first-child) {
    box-shadow: inset 0 1px 0 0 var(--seed-color-stroke-neutral-muted);
}
.seed-content-dialog__body[data-overflow] {
    padding-bottom: var(--seed-dimension-x12);
    mask-image: linear-gradient(to top, transparent 0, black var(--seed-dimension-x12));
    -webkit-mask-image: linear-gradient(to top, transparent 0, black var(--seed-dimension-x12));
}
.seed-content-dialog__body {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
}
.seed-content-dialog__body:is(:focus-visible, [data-focus-visible]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
}
.seed-content-dialog__title {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t8);
    line-height: var(--seed-line-height-t8);
    font-weight: var(--seed-font-weight-bold);
    margin: 0;
}
.seed-content-dialog__description {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    margin: 0;
    white-space: pre-wrap;
}
.seed-content-dialog__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    padding-inline: var(--seed-dimension-x6);
    padding-top: var(--seed-dimension-x4);
    padding-bottom: var(--seed-dimension-x6);
}
.seed-content-dialog__closeButton {
    position: absolute;
    top: var(--seed-dimension-x7);
    right: var(--seed-dimension-x6);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--seed-color-bg-transparent);
    border-radius: var(--seed-radius-r3);
    padding: calc((52px - 22px) / 2);
    margin: calc((22px - 52px) / 2);
    cursor: pointer;
    transition: background var(--seed-duration-color-transition) var(--seed-timing-function-easing), outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral-subtle);
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: var(--seed-dimension-x0_5);
}
.seed-content-dialog__closeButton:is(:focus-visible, [data-focus-visible]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: var(--seed-dimension-x0_5);
}
@media (hover: hover) and (pointer: fine) {
    .seed-content-dialog__closeButton:is(:hover, [data-hover]) {
        background: var(--seed-color-bg-transparent-pressed);
    }
}
@media not all and (hover: hover) and (pointer: fine) {
    .seed-content-dialog__closeButton:is(:active, [data-active]) {
        background: var(--seed-color-bg-transparent-pressed);
    }
}
.seed-content-dialog__content--size_medium {
    --content-dialog-size-width: 480px;
}
.seed-content-dialog__content--size_large {
    --content-dialog-size-width: 800px;
}
@media (min-width: 480px) {
    .seed-content-dialog__content {
        --seed-box-width: var(--seed-box-width-sm, initial);
        --seed-box-max-width: var(--seed-box-max-width-sm, initial);
    }
    .seed-content-dialog__body {
        --seed-box-padding-x: var(--seed-box-padding-x-sm, initial);
        --seed-box-min-height: var(--seed-box-min-height-sm, initial);
        --seed-box-max-height: var(--seed-box-max-height-sm, initial);
    }
}
@media (min-width: 768px) {
    .seed-content-dialog__content {
        --seed-box-width: var(--seed-box-width-md, initial);
        --seed-box-max-width: var(--seed-box-max-width-md, initial);
    }
    .seed-content-dialog__body {
        --seed-box-padding-x: var(--seed-box-padding-x-md, initial);
        --seed-box-min-height: var(--seed-box-min-height-md, initial);
        --seed-box-max-height: var(--seed-box-max-height-md, initial);
    }
}
@media (min-width: 1280px) {
    .seed-content-dialog__content {
        --seed-box-width: var(--seed-box-width-lg, initial);
        --seed-box-max-width: var(--seed-box-max-width-lg, initial);
    }
    .seed-content-dialog__body {
        --seed-box-padding-x: var(--seed-box-padding-x-lg, initial);
        --seed-box-min-height: var(--seed-box-min-height-lg, initial);
        --seed-box-max-height: var(--seed-box-max-height-lg, initial);
    }
}
@media (min-width: 1440px) {
    .seed-content-dialog__content {
        --seed-box-width: var(--seed-box-width-xl, initial);
        --seed-box-max-width: var(--seed-box-max-width-xl, initial);
    }
    .seed-content-dialog__body {
        --seed-box-padding-x: var(--seed-box-padding-x-xl, initial);
        --seed-box-min-height: var(--seed-box-min-height-xl, initial);
        --seed-box-max-height: var(--seed-box-max-height-xl, initial);
    }
}