.seed-control-chip {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex-shrink: 0;
    border-radius: var(--seed-radius-full);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-muted);
    --seed-prefix-icon-color: #1a1c20;
    --seed-suffix-icon-color: #868b94;
    --seed-icon-color: #1a1c20;
    --seed-count-font-weight: 500;
    --seed-count-color: #555d6d;
}.seed-control-chip__text {
    --seed-prefix-icon-color: #1a1c20;
    --seed-suffix-icon-color: #868b94;
    --seed-icon-color: #1a1c20;
    --seed-count-font-weight: 500;
    --seed-count-color: #555d6d;
    text-align: start;
    line-height: 1;
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-medium);
}
.seed-control-chip:focus, .seed-control-chip.seed-control-chip--focus_true {
}
.seed-control-chip:active {
    background: var(--seed-color-bg-layer-default-pressed);
}
.seed-control-chip.seed-control-chip--checked_true {
    box-shadow: none;
    background: var(--seed-color-bg-neutral-solid-muted);
    --seed-prefix-icon-color: #ffffff;
    --seed-suffix-icon-color: #ffffff;
    --seed-icon-color: #ffffff;
    --seed-count-color: #ffffffde;
}
.seed-control-chip__text.seed-control-chip__text--checked_true {
    --seed-prefix-icon-color: #ffffff;
    --seed-suffix-icon-color: #ffffff;
    --seed-icon-color: #ffffff;
    --seed-count-color: #ffffffde;
    color: var(--seed-color-palette-static-white);
    font-weight: var(--seed-font-weight-bold);
}
.seed-control-chip.seed-control-chip--checked_true:active {
    background: var(--seed-color-bg-neutral-solid-muted-pressed);
}
.seed-control-chip.seed-control-chip--disabled_true {
    background: var(--seed-color-bg-disabled);
    --seed-prefix-icon-color: #d1d3d8;
    --seed-suffix-icon-color: #d1d3d8;
    --seed-icon-color: #d1d3d8;
}
.seed-control-chip__text.seed-control-chip__text--disabled_true {
    --seed-prefix-icon-color: #d1d3d8;
    --seed-suffix-icon-color: #d1d3d8;
    --seed-icon-color: #d1d3d8;
    color: var(--seed-color-fg-disabled);
}
.seed-control-chip--size_medium {
    min-height: var(--seed-dimension-x9);
    gap: var(--seed-dimension-x1);
    --seed-prefix-icon-size: 16px;
    --seed-suffix-icon-size: 14px;
    --seed-icon-size: 16px;
    --seed-count-font-size: var(--seed-font-size-t4);
}
.seed-control-chip__text--size_medium {
    --seed-prefix-icon-size: 16px;
    --seed-suffix-icon-size: 14px;
    --seed-icon-size: 16px;
    --seed-count-font-size: var(--seed-font-size-t4);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-control-chip--size_small {
    min-height: var(--seed-dimension-x8);
    gap: var(--seed-dimension-x1);
    --seed-prefix-icon-size: 16px;
    --seed-suffix-icon-size: 14px;
    --seed-icon-size: 16px;
    --seed-count-font-size: var(--seed-font-size-t4);
}
.seed-control-chip__text--size_small {
    --seed-prefix-icon-size: 16px;
    --seed-suffix-icon-size: 14px;
    --seed-icon-size: 16px;
    --seed-count-font-size: var(--seed-font-size-t4);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-control-chip--layout_withText {}
.seed-control-chip--layout_iconOnly {}
.seed-control-chip--size_medium-layout_withText {
}
.seed-control-chip--size_medium-layout_iconOnly {
    min-width: var(--seed-dimension-x9);
}
.seed-control-chip--size_small-layout_withText {
}
.seed-control-chip--size_small-layout_iconOnly {
    min-width: var(--seed-dimension-x8);
}