@layer ride-components {
  .ride-control-chip {
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    text-align: start;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: var(--ride-radius-full);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    color: var(--ride-color-fg-neutral);
    line-height: 1;
    font-weight: var(--ride-font-weight-medium);
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
    --ride-suffix-icon-color: var(--ride-color-fg-neutral-subtle);
    --ride-icon-color: var(--ride-color-fg-neutral);
    --ride-count-font-weight: var(--ride-font-weight-medium);
    --ride-count-color: var(--ride-color-fg-neutral-muted);
    border: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
  }

  .ride-control-chip:is(:focus, [data-focus]) {
    outline: none;
  }

  .ride-control-chip:is(:active, [data-active]) {
    background: var(--ride-color-bg-layer-default-pressed);
  }

  .ride-control-chip:is(:checked, [data-checked]) {
    box-shadow: none;
    background: var(--ride-color-bg-neutral-solid-muted);
    color: var(--ride-color-palette-static-white);
    font-weight: var(--ride-font-weight-bold);
    --ride-prefix-icon-color: var(--ride-color-palette-static-white);
    --ride-suffix-icon-color: var(--ride-color-palette-static-white);
    --ride-icon-color: var(--ride-color-palette-static-white);
    --ride-count-color: var(--ride-color-palette-static-white-alpha-800);
  }

  .ride-control-chip:is(:checked, [data-checked]):is(:active, [data-active]) {
    background: var(--ride-color-bg-neutral-solid-muted-pressed);
  }

  .ride-control-chip:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-suffix-icon-color: var(--ride-color-fg-disabled);
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .ride-control-chip--size_medium {
    min-height: var(--ride-dimension-x9);
    padding-block: var(--ride-dimension-x2);
    gap: var(--ride-dimension-x1);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    --ride-prefix-icon-size: var(--ride-dimension-x4);
    --ride-suffix-icon-size: var(--ride-dimension-x3_5);
    --ride-icon-size: var(--ride-dimension-x4);
    --ride-count-font-size: var(--ride-font-size-t4);
  }

  .ride-control-chip--size_small {
    min-height: var(--ride-dimension-x8);
    padding-block: var(--ride-dimension-x1_5);
    gap: var(--ride-dimension-x1);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    --ride-prefix-icon-size: var(--ride-dimension-x4);
    --ride-suffix-icon-size: var(--ride-dimension-x3_5);
    --ride-icon-size: var(--ride-dimension-x4);
    --ride-count-font-size: var(--ride-font-size-t4);
  }

  .ride-control-chip--size_medium-layout_withText {
    padding-inline: var(--ride-dimension-x3_5);
  }

  .ride-control-chip--size_medium-layout_iconOnly {
    min-width: var(--ride-dimension-x9);
  }

  .ride-control-chip--size_small-layout_withText {
    padding-inline: var(--ride-dimension-x3);
  }

  .ride-control-chip--size_small-layout_iconOnly {
    min-width: var(--ride-dimension-x8);
  }
}
