.ride-content-placeholder__root {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--ride-color-palette-gray-200)
}
.ride-content-placeholder__asset {
    display: block;
    height: calc(0.5 * 100%);
    min-width: var(--ride-dimension-x4);
    max-width: 64px;
    width: auto;
    aspect-ratio: 1 / 1;
    color: var(--ride-color-palette-gray-400);
    fill: currentColor;
    stroke: currentColor;
    object-fit: contain
}