.seed-drawer__positioner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior-y: none;
    --drawer-z-index: 2;
    z-index: calc(var(--drawer-z-index) + var(--layer-index, 0));
}
.seed-drawer__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--drawer-z-index) + var(--layer-index, 0));
}
.seed-drawer__backdrop:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
}
.seed-drawer__backdrop:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d6);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.seed-drawer__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--drawer-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    touch-action: none;
    will-change: transform;
    --seed-box-width-base: initial;
    --seed-box-width-sm: var(--seed-box-width-base);
    --seed-box-width-md: var(--seed-box-width-sm);
    --seed-box-width-lg: var(--seed-box-width-md);
    --seed-box-width-xl: var(--seed-box-width-lg);
    --seed-box-width: var(--seed-box-width-base);
    --seed-box-max-width-base: initial;
    --seed-box-max-width-sm: var(--seed-box-max-width-base);
    --seed-box-max-width-md: var(--seed-box-max-width-sm);
    --seed-box-max-width-lg: var(--seed-box-max-width-md);
    --seed-box-max-width-xl: var(--seed-box-max-width-lg);
    --seed-box-max-width: var(--seed-box-max-width-base);
    --seed-box-height-base: initial;
    --seed-box-height-sm: var(--seed-box-height-base);
    --seed-box-height-md: var(--seed-box-height-sm);
    --seed-box-height-lg: var(--seed-box-height-md);
    --seed-box-height-xl: var(--seed-box-height-lg);
    --seed-box-height: var(--seed-box-height-base);
    --seed-box-max-height-base: initial;
    --seed-box-max-height-sm: var(--seed-box-max-height-base);
    --seed-box-max-height-md: var(--seed-box-max-height-sm);
    --seed-box-max-height-lg: var(--seed-box-max-height-md);
    --seed-box-max-height-xl: var(--seed-box-max-height-lg);
    --seed-box-max-height: var(--seed-box-max-height-base);
}
.seed-drawer__content:is(:focus, [data-focus]) {
    outline: none;
}
.seed-drawer__content[data-drawer-direction='left'] {
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--seed-box-width, var(--drawer-size-width));
}
.seed-drawer__content[data-drawer-direction='left']::after {
    content: "";
    position: absolute;
    right: 100%;
    width: 100vw;
    top: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
}
.seed-drawer__content[data-drawer-direction='right'] {
    top: 0;
    bottom: 0;
    right: 0;
    width: var(--seed-box-width, var(--drawer-size-width));
}
.seed-drawer__content[data-drawer-direction='right']::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 100vw;
    top: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
}
.seed-drawer__content[data-drawer-direction='bottom'] {
    left: 0;
    right: 0;
    bottom: 0;
    max-height: var(--seed-box-max-height, 90vh);
    padding-bottom: var(--seed-safe-area-bottom);
}
.seed-drawer__content[data-drawer-direction='bottom']::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 200vh;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
}
.seed-drawer__content[data-drawer-direction='top'] {
    left: 0;
    right: 0;
    top: 0;
    max-height: var(--seed-box-max-height, 90vh);
}
.seed-drawer__content[data-drawer-direction='top']::after {
    content: "";
    position: absolute;
    bottom: 100%;
    height: 200vh;
    left: 0;
    right: 0;
    background: inherit;
    z-index: -1;
}
.seed-drawer__content:is([data-state="open"], [data-open])[data-drawer-direction='right'] {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: 100%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
}
.seed-drawer__content:not(:is([data-state="open"], [data-open]))[data-drawer-direction='right'] {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit-expressive);
    animation-duration: var(--seed-duration-d6);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 100%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
.seed-drawer__content:is([data-state="open"], [data-open])[data-drawer-direction='left'] {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: -100%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
}
.seed-drawer__content:not(:is([data-state="open"], [data-open]))[data-drawer-direction='left'] {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit-expressive);
    animation-duration: var(--seed-duration-d6);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: -100%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
.seed-drawer__content:is([data-state="open"], [data-open])[data-drawer-direction='bottom'] {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 100%;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
}
.seed-drawer__content:not(:is([data-state="open"], [data-open]))[data-drawer-direction='bottom'] {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit-expressive);
    animation-duration: var(--seed-duration-d6);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 100%;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
.seed-drawer__content:is([data-state="open"], [data-open])[data-drawer-direction='top'] {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: -100%;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
}
.seed-drawer__content:not(:is([data-state="open"], [data-open]))[data-drawer-direction='top'] {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit-expressive);
    animation-duration: var(--seed-duration-d6);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: -100%;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
}
.seed-drawer__header {
    display: flex;
    flex-direction: column;
    gap: var(--seed-dimension-x1_5);
    padding-left: var(--seed-dimension-x6);
    padding-right: var(--seed-dimension-x6);
    padding-top: var(--seed-dimension-x6);
    padding-bottom: var(--seed-dimension-x4);
}
.seed-drawer__title {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t8);
    line-height: var(--seed-line-height-t8);
    font-weight: var(--seed-font-weight-bold);
    word-break: keep-all;
}
.seed-drawer__title[data-show-close-button] {
    padding-right: 52px;
}
.seed-drawer__title {
    margin: 0;
}
.seed-drawer__description {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    margin: 0;
    white-space: pre-wrap;
}
.seed-drawer__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    --seed-box-height-base: initial;
    --seed-box-height-sm: var(--seed-box-height-base);
    --seed-box-height-md: var(--seed-box-height-sm);
    --seed-box-height-lg: var(--seed-box-height-md);
    --seed-box-height-xl: var(--seed-box-height-lg);
    --seed-box-height: var(--seed-box-height-base);
    --seed-box-min-height-base: initial;
    --seed-box-min-height-sm: var(--seed-box-min-height-base);
    --seed-box-min-height-md: var(--seed-box-min-height-sm);
    --seed-box-min-height-lg: var(--seed-box-min-height-md);
    --seed-box-min-height-xl: var(--seed-box-min-height-lg);
    --seed-box-min-height: var(--seed-box-min-height-base);
    --seed-box-max-height-base: initial;
    --seed-box-max-height-sm: var(--seed-box-max-height-base);
    --seed-box-max-height-md: var(--seed-box-max-height-sm);
    --seed-box-max-height-lg: var(--seed-box-max-height-md);
    --seed-box-max-height-xl: var(--seed-box-max-height-lg);
    --seed-box-max-height: var(--seed-box-max-height-base);
    --seed-box-justify-content: initial;
    --seed-box-align-items: initial;
    height: var(--seed-box-height);
    min-height: var(--seed-box-min-height);
    max-height: var(--seed-box-max-height);
    justify-content: var(--seed-box-justify-content);
    align-items: var(--seed-box-align-items);
}
.seed-drawer__footer {
    display: flex;
    flex-direction: column;
    padding-left: var(--seed-dimension-x6);
    padding-right: var(--seed-dimension-x6);
    padding-top: var(--seed-dimension-x4);
    padding-bottom: var(--seed-dimension-x6);
    gap: var(--seed-dimension-x2);
}
.seed-drawer__closeButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    top: var(--seed-dimension-x6);
    right: var(--seed-dimension-x4);
    border-radius: var(--seed-radius-r3);
    background: #ffffff00;
    width: 52px;
    height: 52px;
    cursor: pointer;
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-drawer__closeButton:is(:active, [data-active]) {
    background: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-drawer__closeButton:after {
    content: "";
    position: absolute;
    top: calc((52px - 52px) / 2);
    right: calc((52px - 52px) / 2);
    bottom: calc((52px - 52px) / 2);
    left: calc((52px - 52px) / 2);
    border-radius: var(--seed-radius-r3);
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-drawer__closeButton:is(:focus, [data-focus]) {
    outline: none;
}
.seed-drawer__closeButton:is(:focus-visible, [data-focus-visible]):after {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
}
.seed-drawer__content--size_small {
    --drawer-size-width: 480px;
}
.seed-drawer__content--size_medium {
    --drawer-size-width: 720px;
}
.seed-drawer__content--size_large {
    --drawer-size-width: 960px;
}
@media (min-width: 480px) {
    .seed-drawer__content {
        --seed-box-width: var(--seed-box-width-sm);
        --seed-box-max-width: var(--seed-box-max-width-sm);
        --seed-box-height: var(--seed-box-height-sm);
        --seed-box-max-height: var(--seed-box-max-height-sm);
    }
    .seed-drawer__body {
        --seed-box-height: var(--seed-box-height-sm);
        --seed-box-min-height: var(--seed-box-min-height-sm);
        --seed-box-max-height: var(--seed-box-max-height-sm);
    }
}
@media (min-width: 768px) {
    .seed-drawer__content {
        --seed-box-width: var(--seed-box-width-md);
        --seed-box-max-width: var(--seed-box-max-width-md);
        --seed-box-height: var(--seed-box-height-md);
        --seed-box-max-height: var(--seed-box-max-height-md);
    }
    .seed-drawer__body {
        --seed-box-height: var(--seed-box-height-md);
        --seed-box-min-height: var(--seed-box-min-height-md);
        --seed-box-max-height: var(--seed-box-max-height-md);
    }
}
@media (min-width: 1280px) {
    .seed-drawer__content {
        --seed-box-width: var(--seed-box-width-lg);
        --seed-box-max-width: var(--seed-box-max-width-lg);
        --seed-box-height: var(--seed-box-height-lg);
        --seed-box-max-height: var(--seed-box-max-height-lg);
    }
    .seed-drawer__body {
        --seed-box-height: var(--seed-box-height-lg);
        --seed-box-min-height: var(--seed-box-min-height-lg);
        --seed-box-max-height: var(--seed-box-max-height-lg);
    }
}
@media (min-width: 1440px) {
    .seed-drawer__content {
        --seed-box-width: var(--seed-box-width-xl);
        --seed-box-max-width: var(--seed-box-max-width-xl);
        --seed-box-height: var(--seed-box-height-xl);
        --seed-box-max-height: var(--seed-box-max-height-xl);
    }
    .seed-drawer__body {
        --seed-box-height: var(--seed-box-height-xl);
        --seed-box-min-height: var(--seed-box-min-height-xl);
        --seed-box-max-height: var(--seed-box-max-height-xl);
    }
}