.seed-editor-toolbar__root {
    display: flex;
    align-items: center;
    background-color: var(--seed-color-bg-layer-floating);
    min-height: var(--seed-dimension-x12);
    padding-inline: var(--seed-dimension-x2);
    padding-block: var(--seed-dimension-x2);
    gap: var(--seed-dimension-x2);
    border-top-width: 1px;
    border-top-color: var(--seed-color-stroke-neutral);
    border-top-style: solid;
    width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}
.seed-editor-toolbar__root.seed-editor-toolbar__root::-webkit-scrollbar {
    display: none;
}
.seed-editor-toolbar__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #ffffff00;
    min-height: var(--seed-dimension-x8);
    padding-inline: var(--seed-dimension-x3);
    padding-block: var(--seed-dimension-x1_5);
    gap: var(--seed-dimension-x1);
    border-radius: var(--seed-radius-r2);
    border: none;
    outline: none;
    user-select: none;
    transition: background-color 0.2s ease;
}
.seed-editor-toolbar__item:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-editor-toolbar__item[data-selected] {
    background-color: var(--seed-color-bg-neutral-weak);
}
.seed-editor-toolbar__label {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    white-space: nowrap;
}
.seed-editor-toolbar__label[data-selected] {
    font-weight: var(--seed-font-weight-medium);
}
.seed-editor-toolbar__icon {
    color: var(--seed-color-fg-neutral);
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    flex-shrink: 0;
}
.seed-editor-toolbar__prefixIcon {
    color: var(--seed-color-fg-neutral);
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
    flex-shrink: 0;
}
.seed-editor-toolbar__item--layout_iconOnly {
    min-width: var(--seed-dimension-x8);
    padding-inline: var(--seed-dimension-x1_5);
}
.seed-editor-toolbar__root--showKeyboard_false {
    min-height: var(--seed-dimension-x12);
}
.seed-editor-toolbar__root--showKeyboard_true {
    min-height: var(--seed-dimension-x12);
}