.ride-extended-action-sheet__positioner {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overscroll-behavior-y: none;
    --sheet-z-index: 2;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
}
.ride-extended-action-sheet__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--ride-color-bg-overlay);
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
}
.ride-extended-action-sheet__backdrop:not(:is([data-state="open"], [data-open])) {
    animation: ride-exit;
    animation-timing-function: var(--ride-timing-function-exit);
    animation-duration: var(--ride-duration-d2);
    animation-fill-mode: forwards;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
}
.ride-extended-action-sheet__backdrop:is([data-state="open"], [data-open]) {
    animation: ride-enter;
    animation-timing-function: var(--ride-timing-function-enter);
    animation-duration: var(--ride-duration-d2);
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 0;
    --ride-enter-scale: 1;
}
.ride-extended-action-sheet__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    background: var(--ride-color-bg-layer-floating);
    padding-inline: var(--ride-dimension-spacing-x-global-gutter);
    padding-block: var(--ride-dimension-x4);
    border-top-left-radius: var(--ride-radius-r5);
    border-top-right-radius: var(--ride-radius-r5);
}
.ride-extended-action-sheet__content:not(:is([data-state="open"], [data-open])) {
    animation: ride-exit;
    animation-timing-function: var(--ride-timing-function-exit);
    animation-duration: var(--ride-duration-d4);
    animation-fill-mode: forwards;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 100%;
    --ride-exit-opacity: 1;
    --ride-exit-scale: 1;
}
.ride-extended-action-sheet__content:is([data-state="open"], [data-open]) {
    animation: ride-enter;
    animation-timing-function: var(--ride-timing-function-enter-expressive);
    animation-duration: var(--ride-duration-d6);
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 100%;
    --ride-enter-opacity: 1;
    --ride-enter-scale: 1;
}
.ride-extended-action-sheet__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ride-dimension-x1);
    padding-bottom: var(--ride-dimension-x4);
}
.ride-extended-action-sheet__title {
    color: var(--ride-color-fg-neutral);
    font-size: var(--ride-font-size-t6);
    line-height: var(--ride-line-height-t6);
    font-weight: var(--ride-font-weight-bold);
}
.ride-extended-action-sheet__list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--ride-dimension-x2_5);
}
.ride-extended-action-sheet__group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    border-radius: var(--ride-radius-r4);
}
.ride-extended-action-sheet__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: var(--ride-dimension-x2_5);
}
.ride-extended-action-sheet__closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ride-color-bg-neutral-weak);
    min-height: 52px;
    padding-inline: var(--ride-dimension-x5);
    padding-block: var(--ride-dimension-x3_5);
    border-radius: var(--ride-radius-r3);
    color: var(--ride-color-fg-neutral);
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-medium);
}
.ride-extended-action-sheet__closeButton:is(:active, [data-active]) {
    background-color: var(--ride-color-bg-neutral-weak-pressed);
}