@layer seed-components {
  .seed-extended-action-sheet__positioner {
    overscroll-behavior-y: none;
    --sheet-z-index: 2;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    justify-content: center;
    align-items: flex-end;
    display: flex;
    position: fixed;
    inset: 0;
  }

  .seed-extended-action-sheet__backdrop {
    background: var(--seed-color-bg-overlay);
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    position: fixed;
    inset: 0;
  }

  .seed-extended-action-sheet__backdrop:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation-fill-mode: forwards;
  }

  .seed-extended-action-sheet__backdrop:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d2);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
  }

  .seed-extended-action-sheet__content {
    box-sizing: border-box;
    word-break: break-all;
    z-index: calc(var(--sheet-z-index) + var(--layer-index, 0));
    background: var(--seed-color-bg-layer-floating);
    padding-inline: var(--seed-dimension-spacing-x-global-gutter);
    padding-block: var(--seed-dimension-x4);
    border-top-left-radius: var(--seed-radius-r5);
    border-top-right-radius: var(--seed-radius-r5);
    flex-direction: column;
    flex: 1;
    display: flex;
    position: relative;
  }

  .seed-extended-action-sheet__content:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d4);
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 100%;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
    animation-fill-mode: forwards;
  }

  .seed-extended-action-sheet__content:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter-expressive);
    animation-duration: var(--seed-duration-d6);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 100%;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
  }

  .seed-extended-action-sheet__header {
    align-items: center;
    gap: var(--seed-dimension-x1);
    padding-bottom: var(--seed-dimension-x4);
    flex-direction: column;
    display: flex;
  }

  .seed-extended-action-sheet__title {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
    font-weight: var(--seed-font-weight-bold);
  }

  .seed-extended-action-sheet__list {
    align-items: stretch;
    gap: var(--seed-dimension-x2_5);
    flex-direction: column;
    display: flex;
  }

  .seed-extended-action-sheet__group {
    border-radius: var(--seed-radius-r4);
    flex-direction: column;
    align-items: stretch;
    display: flex;
    overflow: hidden;
  }

  .seed-extended-action-sheet__footer {
    padding-top: var(--seed-dimension-x2_5);
    flex-direction: column;
    align-items: stretch;
    display: flex;
  }

  .seed-extended-action-sheet__closeButton {
    background-color: var(--seed-color-bg-neutral-weak);
    min-height: 52px;
    padding-inline: var(--seed-dimension-x5);
    padding-block: var(--seed-dimension-x3_5);
    border-radius: var(--seed-radius-r3);
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-medium);
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .seed-extended-action-sheet__closeButton:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
  }
}
