.seed-extended-fab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    flex-shrink: 0;
}.seed-extended-fab__text {
    font-family: inherit;
}
.seed-extended-fab:focus, .seed-extended-fab[data-focus] {
}
.seed-extended-fab[data-disabled] {
}
.seed-extended-fab {
    border-radius: var(--seed-radius-full);
    box-shadow: 0px 2px 6px 0px #00000026;
}
.seed-extended-fab--variant_neutralSolid {
    background: var(--seed-color-bg-neutral-inverted);
}
.seed-extended-fab__text--variant_neutralSolid {
    color: var(--seed-color-fg-neutral-inverted);
}
.seed-extended-fab--variant_neutralSolid[data-active] {
    background: var(--seed-color-bg-neutral-inverted-pressed);
}
.seed-extended-fab--variant_neutralSolid {
    --seed-prefix-icon-color: #16171b;
}
.seed-extended-fab__text--variant_neutralSolid {
    --seed-prefix-icon-color: #16171b;
}
.seed-extended-fab--variant_layerFloating {
    background: var(--seed-color-bg-layer-floating);
}
.seed-extended-fab__text--variant_layerFloating {
    color: var(--seed-color-fg-neutral);
}
.seed-extended-fab--variant_layerFloating[data-active] {
    background: var(--seed-color-bg-layer-floating-pressed);
}
.seed-extended-fab--variant_layerFloating {
    --seed-prefix-icon-color: #f3f4f5;
}
.seed-extended-fab__text--variant_layerFloating {
    --seed-prefix-icon-color: #f3f4f5;
}
.seed-extended-fab--size_small {
    min-height: 40px;
    gap: var(--seed-dimension-x1);
    --seed-prefix-icon-size: 16px;
}
.seed-extended-fab__text--size_small {
    --seed-prefix-icon-size: 16px;
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-medium);
}
.seed-extended-fab--size_medium {
    min-height: 48px;
    gap: var(--seed-dimension-x1);
    --seed-prefix-icon-size: 16px;
}
.seed-extended-fab__text--size_medium {
    --seed-prefix-icon-size: 16px;
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-bold);
}