.seed-fab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}.seed-fab__text {
    font-family: inherit;
}
.seed-fab:focus, .seed-fab.seed-fab--focus_true {
}
.seed-fab.seed-fab--disabled_true {
}
.seed-fab {
    background: var(--seed-color-bg-layer-floating);
    border-radius: var(--seed-radius-full);
    box-shadow: 0px 2px 6px 0px #00000026;
    width: 44px;
    height: 44px;
    --seed-icon-size: 22px;
    --seed-icon-color: #1a1c20;
}
.seed-fab__text {
    --seed-icon-size: 22px;
    --seed-icon-color: #1a1c20;
}
.seed-fab:active {
    background: var(--seed-color-bg-layer-floating-pressed);
}