.seed-field-label {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5)
}
.seed-field-label--weight_medium {
    font-weight: var(--seed-font-weight-medium)
}
.seed-field-label--weight_bold {
    font-weight: var(--seed-font-weight-bold)
}