@layer ride-components {
  .seed-field__root {
    gap: var(--ride-dimension-x2);
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .seed-field__header {
    padding-left: var(--ride-dimension-x0_5);
    padding-right: var(--ride-dimension-x0_5);
    justify-content: space-between;
    align-items: center;
    gap: var(--ride-dimension-x2_5);
    display: flex;
  }

  .seed-field__footer {
    padding-left: var(--ride-dimension-x0_5);
    padding-right: var(--ride-dimension-x0_5);
    align-items: flex-start;
    gap: var(--ride-dimension-x2);
    display: flex;
  }

  .seed-field__description {
    color: var(--ride-color-fg-neutral-subtle);
    font-weight: var(--ride-font-weight-regular);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    --ride-prefix-icon-size: var(--ride-dimension-x4);
    --ride-prefix-icon-color: var(--ride-color-fg-neutral-subtle);
    --ride-prefix-icon-margin-right: var(--ride-dimension-x1_5);
    --ride-prefix-icon-margin-top: calc((var(--ride-line-height-t4) - var(--ride-dimension-x4)) / 2);
    display: flex;
  }

  .seed-field__errorMessage {
    color: var(--ride-color-fg-critical);
    font-weight: var(--ride-font-weight-regular);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    --ride-prefix-icon-size: var(--ride-dimension-x4);
    --ride-prefix-icon-color: var(--ride-color-fg-critical);
    --ride-prefix-icon-margin-right: var(--ride-dimension-x1_5);
    --ride-prefix-icon-margin-top: calc((var(--ride-line-height-t4) - var(--ride-dimension-x4)) / 2);
    display: flex;
  }

  .seed-field__characterCountArea {
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    margin-left: auto;
  }

  .seed-field__characterCount {
    color: var(--ride-color-fg-neutral);
    font-weight: var(--ride-font-weight-regular);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
  }

  .seed-field__characterCount[data-empty]:not(:is(:invalid, [data-invalid])) {
    color: var(--ride-color-fg-neutral-subtle);
  }

  .seed-field__characterCount:is(:invalid, [data-invalid]) {
    color: var(--ride-color-fg-critical);
  }

  .seed-field__maxCharacterCount {
    color: var(--ride-color-fg-neutral-subtle);
    font-weight: var(--ride-font-weight-regular);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
  }

  .seed-field__maxCharacterCount:is(:invalid, [data-invalid]) {
    color: var(--ride-color-fg-critical);
  }
}
