.seed-field__root {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--seed-dimension-x2);
    overflow-x: auto;
}
.seed-field__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--seed-dimension-x0_5);
    gap: var(--seed-dimension-x3);
}
.seed-field__label {
    display: flex;
    gap: var(--seed-dimension-x0_5);
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-field__indicator {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
}
.seed-field__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: var(--seed-dimension-x0_5);
    gap: var(--seed-dimension-x3);
}
.seed-field__description {
    color: var(--seed-color-palette-gray-700);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field__errorContainer {
    display: flex;
    gap: var(--seed-dimension-x1_5);
    align-items: center;
}
.seed-field__errorMessage {
    color: var(--seed-color-fg-critical);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field__errorIcon {
    color: var(--seed-color-fg-critical);
    flex: none;
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-field__characterCount {
    color: var(--seed-color-palette-gray-700);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field__characterCount[data-empty]:not(:is(:invalid, [data-invalid])) {
    color: var(--seed-color-palette-gray-600);
}
.seed-field__characterCount:is(:invalid, [data-invalid]) {
    color: var(--seed-color-fg-critical);
}
.seed-field__maxCharacterCount {
    color: var(--seed-color-palette-gray-600);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field__maxCharacterCount:is(:invalid, [data-invalid]) {
    color: var(--seed-color-fg-critical);
}
.seed-field__label--weight_medium {
    font-weight: var(--seed-font-weight-medium);
}
.seed-field__label--weight_bold {
    font-weight: var(--seed-font-weight-bold);
}