.seed-field-button__root {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--seed-color-bg-layer-default);
    border-style: solid;
    border-width: 1px;
    border-color: var(--seed-color-stroke-field);
    overflow: hidden;
}
.seed-field-button__root:not(:is([data-readonly])):is(:focus, [data-focus]) {
    border-color: var(--seed-color-stroke-field-focused);
}
.seed-field-button__root:is(:invalid, [data-invalid]) {
    background-color: var(--seed-color-bg-critical-weak);
    border-color: var(--seed-color-stroke-critical);
}
.seed-field-button__root:is(:invalid, [data-invalid]):is(:focus, [data-focus]) {
    background-color: var(--seed-color-bg-layer-default);
}
.seed-field-button__root:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-bg-disabled);
}
.seed-field-button__root:is([data-readonly]) {
    background-color: var(--seed-color-bg-disabled);
}
.seed-field-button__value {
    box-sizing: border-box;
    font: inherit;
    background: none;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
    height: 100%;
    color: var(--seed-color-fg-neutral);
}
.seed-field-button__value:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-field-button__prefixText {
    color: var(--seed-color-fg-neutral);
}
.seed-field-button__prefixText:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-field-button__prefixIcon {
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
}
.seed-field-button__prefixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-field-button__suffixText {
    color: var(--seed-color-fg-neutral);
}
.seed-field-button__suffixText:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-field-button__suffixIcon {
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
}
.seed-field-button__suffixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-field-button__root--size_xlarge {
    min-height: 56px;
    border-radius: var(--seed-radius-r2_5);
    gap: var(--seed-dimension-x2);
}
.seed-field-button__value--size_xlarge {
    padding-block: var(--seed-dimension-x3);
}
.seed-field-button__value--size_xlarge:first-child {
    padding-inline-start: var(--seed-dimension-x4);
}
.seed-field-button__value--size_xlarge:last-child {
    padding-inline-end: var(--seed-dimension-x4);
}
.seed-field-button__value--size_xlarge {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-field-button__prefixText--size_xlarge {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-field-button__prefixText--size_xlarge:first-child {
    margin-inline-start: var(--seed-dimension-x4);
}
.seed-field-button__prefixIcon--size_xlarge {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-field-button__prefixIcon--size_xlarge:first-child {
    margin-inline-start: var(--seed-dimension-x4);
}
.seed-field-button__suffixText--size_xlarge {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-field-button__suffixText--size_xlarge:last-child {
    margin-inline-end: var(--seed-dimension-x4);
}
.seed-field-button__suffixIcon--size_xlarge {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-field-button__suffixIcon--size_xlarge:last-child {
    margin-inline-end: var(--seed-dimension-x4);
}
.seed-field-button__root--size_large {
    min-height: 52px;
    border-radius: var(--seed-radius-r2_5);
    gap: var(--seed-dimension-x2);
}
.seed-field-button__value--size_large {
    padding-block: var(--seed-dimension-x3);
}
.seed-field-button__value--size_large:first-child {
    padding-inline-start: var(--seed-dimension-x4);
}
.seed-field-button__value--size_large:last-child {
    padding-inline-end: var(--seed-dimension-x4);
}
.seed-field-button__value--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-field-button__prefixText--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-field-button__prefixText--size_large:first-child {
    margin-inline-start: var(--seed-dimension-x4);
}
.seed-field-button__prefixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-field-button__prefixIcon--size_large:first-child {
    margin-inline-start: var(--seed-dimension-x4);
}
.seed-field-button__suffixText--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-field-button__suffixText--size_large:last-child {
    margin-inline-end: var(--seed-dimension-x4);
}
.seed-field-button__suffixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-field-button__suffixIcon--size_large:last-child {
    margin-inline-end: var(--seed-dimension-x4);
}
.seed-field-button__root--size_medium {
    min-height: 40px;
    border-radius: var(--seed-radius-r2);
    gap: var(--seed-dimension-x1_5);
}
.seed-field-button__value--size_medium {
    padding-block: var(--seed-dimension-x2_5);
}
.seed-field-button__value--size_medium:first-child {
    padding-inline-start: var(--seed-dimension-x3_5);
}
.seed-field-button__value--size_medium:last-child {
    padding-inline-end: var(--seed-dimension-x3_5);
}
.seed-field-button__value--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field-button__prefixText--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field-button__prefixText--size_medium:first-child {
    margin-inline-start: var(--seed-dimension-x3_5);
}
.seed-field-button__prefixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-field-button__prefixIcon--size_medium:first-child {
    margin-inline-start: var(--seed-dimension-x3_5);
}
.seed-field-button__suffixText--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-field-button__suffixText--size_medium:last-child {
    margin-inline-end: var(--seed-dimension-x3_5);
}
.seed-field-button__suffixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-field-button__suffixIcon--size_medium:last-child {
    margin-inline-end: var(--seed-dimension-x3_5);
}