.seed-file-upload-item-remove-button {
    position: absolute;
    top: calc(var(--seed-dimension-x1) * -1);
    right: calc(var(--seed-dimension-x1) * -1);
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: var(--seed-color-bg-layer-default);
    border-radius: var(--seed-radius-full);
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-weak), 0 0 0 2px var(--seed-color-bg-layer-default);
    --seed-icon-size: var(--seed-dimension-x2_5);
    --seed-icon-color: var(--seed-color-fg-neutral);
}
.seed-file-upload-item-remove-button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    --seed-icon-color: var(--seed-color-fg-disabled);
}