.seed-file-upload-trigger__root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    gap: var(--seed-dimension-x1);
    border: none;
    padding: 0;
    font: inherit;
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-weak);
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--seed-radius-r3);
    transition: background-color 0.2s, outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: var(--seed-dimension-x0_5);
}
.seed-file-upload-trigger__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: var(--seed-dimension-x0_5);
}
@media (hover: hover) {
    .seed-file-upload-trigger__root:not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]) {
        background-color: var(--seed-color-bg-transparent-pressed);
    }
}
@media (hover: none) {
    .seed-file-upload-trigger__root:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]) {
        background-color: var(--seed-color-bg-transparent-pressed);
    }
}
.seed-file-upload-trigger__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-file-upload-trigger__icon {
    width: var(--seed-dimension-x6);
    height: var(--seed-dimension-x6);
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-file-upload-trigger__icon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-file-upload-trigger__itemCountArea {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-file-upload-trigger__itemCount {
    color: var(--seed-color-fg-neutral);
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
    font-weight: var(--seed-font-weight-regular);
}
.seed-file-upload-trigger__itemCount[data-empty] {
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-file-upload-trigger__itemCount:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-file-upload-trigger__maxItemCount {
    color: var(--seed-color-fg-neutral-subtle);
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
    font-weight: var(--seed-font-weight-regular);
}
.seed-file-upload-trigger__maxItemCount:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}