.seed-file-upload__root {
    display: flex;
    flex-direction: column;
    gap: var(--seed-dimension-x3);
    width: 100%;
}
.seed-file-upload__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--seed-dimension-x2);
    padding: var(--seed-dimension-x4);
    border: 1px dashed var(--seed-color-stroke-neutral-muted);
    border-radius: var(--seed-radius-r2);
    background-color: var(--seed-color-bg-layer-default);
    cursor: pointer;
    transition: border-color 0.2s, background-color 0.2s;
}
@media (hover: hover) {
    .seed-file-upload__dropzone:is(:hover, [data-hover])[data-dragging] {
        border-color: var(--seed-color-stroke-brand-solid);
        background-color: var(--seed-color-bg-layer-default-pressed);
    }
}
@media (hover: none) {
    .seed-file-upload__dropzone:is(:active, [data-active])[data-dragging] {
        border-color: var(--seed-color-stroke-brand-solid);
        background-color: var(--seed-color-bg-layer-default-pressed);
    }
}
.seed-file-upload__dropzone:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    opacity: 0.5;
}
.seed-file-upload__container {
    display: flex;
    gap: var(--seed-dimension-x2);
}
.seed-file-upload__itemGroup {
    display: flex;
    gap: var(--seed-dimension-x2);
    list-style: none;
    padding: 0;
    margin: 0;
}