.seed-file-upload__root {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--seed-dimension-x2);
}
.seed-file-upload__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    gap: var(--seed-dimension-x2);
    border: 1px dashed var(--seed-color-palette-gray-500);
    border-radius: var(--seed-radius-r3);
}
.seed-file-upload__dropzone:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
}
.seed-file-upload__dropzoneLabel {
    color: var(--seed-color-fg-neutral-subtle);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-font-size-t4);
    font-weight: var(--seed-font-weight-medium);
}
.seed-file-upload__dropzoneLabel:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-file-upload__container {
    display: flex;
    gap: var(--seed-dimension-x2);
}
.seed-file-upload__itemGroup {
    display: flex;
    gap: var(--seed-dimension-x2);
    list-style: none;
    padding: 0;
    margin: 0;
}