@layer seed-components {
  .seed-file-upload__root {
    gap: var(--seed-dimension-x3);
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .seed-file-upload__dropzone {
    justify-content: center;
    align-items: center;
    gap: var(--seed-dimension-x2);
    padding: var(--seed-dimension-x4);
    border: 1px dashed var(--seed-color-stroke-neutral-muted);
    border-radius: var(--seed-radius-r2);
    background-color: var(--seed-color-bg-layer-default);
    cursor: pointer;
    flex-direction: column;
    transition: border-color .2s, background-color .2s;
    display: flex;
  }

  .seed-file-upload__dropzone:hover, .seed-file-upload__dropzone[data-dragging] {
    border-color: var(--seed-color-stroke-brand-solid);
    background-color: var(--seed-color-bg-layer-default-pressed);
  }

  .seed-file-upload__dropzone:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    opacity: .5;
  }

  .seed-file-upload__container {
    gap: var(--seed-dimension-x2);
    display: flex;
  }

  .seed-file-upload__itemGroup {
    gap: var(--seed-dimension-x2);
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
}
