@layer ride-components {
  .ride-floating-action-button__root {
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
    border: none;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    display: inline-flex;
  }

  .ride-floating-action-button__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .ride-floating-action-button__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
  }

  .ride-floating-action-button__root {
    background: var(--ride-color-bg-brand-solid);
    border-radius: var(--ride-radius-full);
    box-shadow: var(--ride-shadow-s3);
    color: var(--ride-color-palette-static-white);
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-bold);
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), max-width var(--ride-duration-d4) var(--ride-timing-function-easing), height var(--ride-duration-d4) var(--ride-timing-function-easing), padding var(--ride-duration-d4) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    position: relative;
    overflow: hidden;
  }

  @media (hover: hover) {
    .ride-floating-action-button__root:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-brand-solid-pressed);
    }
  }

  @media (hover: none) {
    .ride-floating-action-button__root:is(:active, [data-active]) {
      background: var(--ride-color-bg-brand-solid-pressed);
    }
  }

  .ride-floating-action-button__icon {
    color: var(--ride-color-palette-static-white);
    transition: margin-right var(--ride-duration-d4) var(--ride-timing-function-easing), width var(--ride-duration-d4) var(--ride-timing-function-easing), height var(--ride-duration-d4) var(--ride-timing-function-easing);
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }

  .ride-floating-action-button__label {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
  }

  .ride-floating-action-button__root--extended_true {
    padding-left: var(--ride-dimension-x4_5);
    padding-right: var(--ride-dimension-x4_5);
    width: fit-content;
    max-width: 999px;
    height: 48px;
  }

  .ride-floating-action-button__icon--extended_true {
    width: var(--ride-dimension-x5);
    height: var(--ride-dimension-x5);
    margin-right: var(--ride-dimension-x1);
    transition: none;
  }

  .ride-floating-action-button__root--extended_false {
    min-width: 56px;
    max-width: 56px;
    height: 56px;
    padding: 0;
  }

  .ride-floating-action-button__icon--extended_false {
    width: var(--ride-dimension-x6);
    height: var(--ride-dimension-x6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ride-floating-action-button__label--extended_false {
    opacity: 0;
  }
}
