.seed-footer__linkText {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    gap: var(--seed-dimension-x1);
    transition: color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
}
.seed-footer__linkText--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-medium);
    color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-size: 14px;
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
}
@media (hover: hover) and (pointer: fine) {
    .seed-footer__linkText--size_large:is(:hover, [data-hover]) {
        color: var(--seed-color-fg-neutral-subtle);
    }
}
@media not all and (hover: hover) and (pointer: fine) {
    .seed-footer__linkText--size_large:is(:active, [data-active]) {
        color: var(--seed-color-fg-neutral-subtle);
    }
}
.seed-footer__linkText--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-medium);
    color: var(--seed-color-fg-neutral-muted);
    --seed-suffix-icon-size: 12px;
    --seed-suffix-icon-color: var(--seed-color-fg-neutral-muted);
}
@media (hover: hover) and (pointer: fine) {
    .seed-footer__linkText--size_medium:is(:hover, [data-hover]) {
        color: var(--seed-color-fg-neutral);
    }
}
@media not all and (hover: hover) and (pointer: fine) {
    .seed-footer__linkText--size_medium:is(:active, [data-active]) {
        color: var(--seed-color-fg-neutral);
    }
}