.seed-help-bubble__backdrop {
    position: fixed;
    inset: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background: var(--seed-color-bg-overlay);
}
.seed-help-bubble__backdrop:is(:hidden, [hidden], [data-hidden]) {
    display: none !important;
}
.seed-help-bubble__content {
    display: flex;
    flex-direction: column;
    background: var(--seed-color-bg-neutral-solid);
    padding-inline: var(--seed-dimension-x3);
    padding-block: var(--seed-dimension-x2_5);
    border-radius: var(--seed-radius-r3);
    box-shadow: 0px 8px 24px 0px #00000029;
    word-break: keep-all;
    --seed-box-max-width: initial;
    max-width: var(--seed-box-max-width);
}
.seed-help-bubble__content:is(:hidden, [hidden], [data-hidden]) {
    display: none !important;
}
.seed-help-bubble__arrow {
    fill: var(--seed-color-bg-neutral-solid);
    width: 12px;
    height: 8px;
}
.seed-help-bubble__title {
    color: var(--seed-color-palette-static-white);
    font-size: var(--seed-font-size-t3);
    font-weight: var(--seed-font-weight-bold);
    line-height: var(--seed-line-height-t3);
}
.seed-help-bubble__description {
    color: var(--seed-color-palette-static-white);
    font-size: var(--seed-font-size-t3);
    font-weight: var(--seed-font-weight-regular);
    line-height: var(--seed-line-height-t3);
}
.seed-help-bubble__closeButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(12px - 32px / 2 + 14px / 2);
    right: calc(12px - 32px / 2 + 14px / 2);
    color: var(--seed-color-palette-static-white);
    width: 32px;
    height: 32px;
    --seed-icon-size: 14px;
    --seed-icon-color: var(--seed-color-palette-static-white);
}