.seed-help-bubble__positioner {
    --popover-z-index: 99;
    z-index: calc(var(--popover-z-index) + var(--z-index-offset, 0));
}
.seed-help-bubble__content {
    display: flex;
    align-items: flex-start;
    background: var(--ride-color-bg-neutral-inverted);
    padding-left: var(--ride-dimension-x3);
    padding-right: var(--ride-dimension-x3);
    padding-top: var(--ride-dimension-x2_5);
    padding-bottom: var(--ride-dimension-x2_5);
    border-radius: var(--ride-radius-r3);
    --ride-box-max-width: initial;
    max-width: var(--ride-box-max-width);
}
.seed-help-bubble__content:is([data-state="open"], [data-open]) {
    animation: ride-enter;
    animation-timing-function: var(--ride-timing-function-enter);
    animation-duration: var(--ride-duration-d4);
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 0;
    --ride-enter-scale: 0.9;
}
.seed-help-bubble__content:not(:is([data-state="open"], [data-open])) {
    animation: ride-exit;
    animation-timing-function: var(--ride-timing-function-easing);
    animation-duration: var(--ride-duration-d4);
    animation-fill-mode: forwards;
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
}
.seed-help-bubble__content:is([hidden], [data-hidden]) {
    display: none !important;
}
.seed-help-bubble__arrow {
    width: 12px;
    height: 12px;
}
.seed-help-bubble__arrowTip {
    display: block;
    fill: var(--ride-color-bg-neutral-inverted);
    width: 12px;
    height: 8px;
}
.seed-help-bubble__body {
    display: flex;
    flex-direction: column;
    gap: var(--ride-dimension-x0_5);
    word-break: keep-all;
}
.seed-help-bubble__title {
    color: var(--ride-color-fg-neutral-inverted);
    font-size: var(--ride-font-size-t3);
    font-weight: var(--ride-font-weight-bold);
    line-height: var(--ride-line-height-t3);
    white-space: pre-wrap;
}
.seed-help-bubble__description {
    color: var(--ride-color-fg-neutral-inverted);
    font-size: var(--ride-font-size-t3);
    font-weight: var(--ride-font-weight-regular);
    line-height: var(--ride-line-height-t3);
    white-space: pre-wrap;
}
.seed-help-bubble__closeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: calc((38px - var(--ride-dimension-x3_5)) / 2);
    margin-left: calc(var(--ride-dimension-x1) - ((38px - var(--ride-dimension-x3_5)) / 2));
    margin-right: calc(-1 * ((38px - var(--ride-dimension-x3_5)) / 2));
    margin-top: calc(-1 * ((38px - var(--ride-dimension-x3_5)) / 2) + var(--ride-dimension-x0_5));
    margin-bottom: calc(-1 * ((38px - var(--ride-dimension-x3_5)) / 2) + var(--ride-dimension-x0_5));
    color: var(--ride-color-fg-neutral-inverted);
    --ride-icon-size: var(--ride-dimension-x3_5);
    --ride-icon-color: var(--ride-color-fg-neutral-inverted);
    border-radius: var(--ride-radius-r3);
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
}
.seed-help-bubble__closeButton:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
}