@layer seed-components {
  .seed-identity-placeholder__root {
    box-sizing: border-box;
    vertical-align: top;
    background-color: var(--seed-color-palette-gray-400);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: relative;
  }

  .seed-identity-placeholder__image {
    object-fit: cover;
    fill: #f7f8fa;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
  }
}
