@layer ride-components {
  .ride-identity-placeholder__root {
    box-sizing: border-box;
    vertical-align: top;
    background-color: var(--ride-color-palette-gray-500);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: relative;
  }

  .ride-identity-placeholder__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    fill: var(--ride-color-palette-static-white-alpha-800);
    display: block;
    overflow: hidden;
  }
}
