.ride-identity-placeholder__root {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    height: 100%;
    background-color: var(--ride-color-palette-gray-500)
}
.ride-identity-placeholder__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    fill: var(--ride-color-palette-static-white-alpha-800)
}