@layer ride-components {
  .seed-image-frame-indicator {
    box-sizing: border-box;
    background-color: var(--ride-color-palette-static-black-alpha-800);
    color: var(--ride-color-palette-static-white);
    border-radius: var(--ride-radius-full);
    padding-left: var(--ride-dimension-x1_5);
    padding-right: var(--ride-dimension-x1_5);
    padding-top: var(--ride-dimension-x0_5);
    padding-bottom: var(--ride-dimension-x0_5);
    font-size: var(--ride-font-size-t1);
    line-height: var(--ride-line-height-t1);
    font-weight: var(--ride-font-weight-medium);
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
}
