.seed-image-frame__root {
    position: relative;
    overflow: hidden;
    border-radius: inherit;
}
.seed-image-frame__content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.seed-image-frame__content[hidden] {
    display: none;
}
.seed-image-frame__fallback {
    width: 100%;
    height: 100%;
}
.seed-image-frame__root--stroke_true::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-subtle);
}
.seed-image-frame__root--rounded_true {
    border-radius: var(--seed-radius-r2);
}