.seed-image-frame-reaction-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    position: relative;
    width: var(--seed-dimension-x6);
    height: var(--seed-dimension-x6);
    background: transparent;
    --seed-icon-size: var(--seed-dimension-x6);
    --seed-icon-color: var(--seed-color-palette-static-white);
}.seed-image-frame-reaction-button__text {
    --seed-icon-size: var(--seed-dimension-x6);
    --seed-icon-color: var(--seed-color-palette-static-white);
}
.seed-image-frame-reaction-button::before {
    position: absolute;
    top: calc((var(--seed-dimension-x10) - var(--seed-dimension-x6)) / 2 * -1);
    right: calc((var(--seed-dimension-x10) - var(--seed-dimension-x6)) / 2 * -1);
    bottom: calc((var(--seed-dimension-x10) - var(--seed-dimension-x6)) / 2 * -1);
    left: calc((var(--seed-dimension-x10) - var(--seed-dimension-x6)) / 2 * -1);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-image-frame-reaction-button__text::before {
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-image-frame-reaction-button:focus, .seed-image-frame-reaction-button[data-focus] {
}
.seed-image-frame-reaction-button[aria-pressed=true], .seed-image-frame-reaction-button[data-pressed] {
    --seed-icon-color: var(--seed-color-bg-transparent);
}
.seed-image-frame-reaction-button__text[aria-pressed=true], .seed-image-frame-reaction-button__text[data-pressed] {
    --seed-icon-color: var(--seed-color-bg-transparent);
}