.ride-input-button__root {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
    height: var(--ride-dimension-x13);
    gap: var(--ride-dimension-x2_5);
    padding-left: var(--ride-dimension-x4);
    padding-right: var(--ride-dimension-x4);
}
.ride-input-button__button {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border: none;
    padding: 0;
    border-radius: var(--ride-radius-r3);
    background-color: var(--ride-color-bg-transparent);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-weak);
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
}
.ride-input-button__button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    transition: border-color 0.1s var(--ride-timing-function-easing);
    pointer-events: none;
}
.ride-input-button__button[data-disabled] {
    cursor: not-allowed;
    background-color: var(--ride-color-bg-disabled);
}
@media (hover: hover) {
    .ride-input-button__button:not([data-disabled]):not(:is([data-readonly])):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-transparent-pressed);
    }
}
@media (hover: none) {
    .ride-input-button__button:not([data-disabled]):not(:is([data-readonly])):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-transparent-pressed);
    }
}
.ride-input-button__button:is([data-readonly]):not([data-disabled]) {
    cursor: default;
    background-color: var(--ride-color-bg-disabled);
}
.ride-input-button__button {
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-input-button__button:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-input-button__button:is(:invalid, [data-invalid])::after {
    border-width: 2px;
    border-color: var(--ride-color-stroke-critical-solid);
}
.ride-input-button__value {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-neutral);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    pointer-events: none;
}
.ride-input-button__value[data-disabled] {
    color: var(--ride-color-fg-disabled);
}
.ride-input-button__value:is([data-readonly]):not([data-disabled]) {
    color: var(--ride-color-fg-neutral);
}
.ride-input-button__placeholder {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-placeholder);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    pointer-events: none;
}
.ride-input-button__placeholder[data-disabled] {
    color: var(--ride-color-fg-disabled);
}
.ride-input-button__placeholder:is([data-readonly]):not([data-disabled]) {
    color: var(--ride-color-fg-placeholder);
}
.ride-input-button__prefixText {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-neutral-muted);
    pointer-events: none;
}
.ride-input-button__prefixIcon {
    width: var(--ride-dimension-x5);
    height: var(--ride-dimension-x5);
    flex-shrink: 0;
    color: var(--ride-color-fg-neutral-muted);
    pointer-events: none;
}
.ride-input-button__suffixText {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-neutral-muted);
    pointer-events: none;
}
.ride-input-button__suffixIcon {
    width: var(--ride-dimension-x5);
    height: var(--ride-dimension-x5);
    flex-shrink: 0;
    color: var(--ride-color-fg-neutral-muted);
    pointer-events: none;
}
.ride-input-button__clearButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: var(--ride-radius-full);
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-input-button__clearButton:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-input-button__clearButton {
    --ride-icon-size: 22px;
    --ride-icon-color: var(--ride-color-fg-neutral-subtle);
}