.seed-input-button__root {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
    height: var(--seed-dimension-x13);
    gap: var(--seed-dimension-x2_5);
    padding-inline: var(--seed-dimension-x4);
}
.seed-input-button__button {
    position: absolute;
    z-index: -1;
    inset: 0;
    cursor: pointer;
    border: none;
    border-radius: var(--seed-radius-r3);
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-weak);
    transition: box-shadow var(--seed-duration-d3) var(--seed-timing-function-easing), background-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-input-button__button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background-color: var(--seed-color-bg-disabled);
}
.seed-input-button__button:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-layer-default-pressed);
}
.seed-input-button__button:is(:focus, [data-focus]) {
    outline: none;
}
.seed-input-button__button:is(:invalid, [data-invalid]) {
    box-shadow: inset 0 0 0 2px var(--seed-color-stroke-critical-solid);
}
.seed-input-button__value {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    pointer-events: none;
}
.seed-input-button__value:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-input-button__placeholder {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-placeholder);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    pointer-events: none;
}
.seed-input-button__placeholder:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-input-button__prefixText {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-muted);
    pointer-events: none;
}
.seed-input-button__prefixIcon {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral-muted);
    pointer-events: none;
}
.seed-input-button__suffixText {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-muted);
    pointer-events: none;
}
.seed-input-button__suffixIcon {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    flex-shrink: 0;
    color: var(--seed-color-fg-neutral-muted);
    pointer-events: none;
}
.seed-input-button__clearButton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    --seed-icon-size: 22px;
    --seed-icon-color: var(--seed-color-fg-neutral-subtle);
}