.seed-link-content {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
    --seed-suffix-icon-color: var(--seed-box-color)
}.seed-link-content__text {
    --seed-suffix-icon-color: var(--seed-box-color)
;
    font-family: inherit;
    text-align: center;
    color: var(--seed-box-color)}
.seed-link-content__text--weight_bold {
    font-weight: var(--seed-font-weight-bold)
}
.seed-link-content__text--weight_regular {
    font-weight: var(--seed-font-weight-regular)
}
.seed-link-content--size_t6 {
    gap: var(--seed-dimension-x0_5);
    --seed-suffix-icon-size: 16px
}
.seed-link-content__text--size_t6 {
    --seed-suffix-icon-size: 16px
;
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6)}
.seed-link-content--size_t5 {
    gap: var(--seed-dimension-x0_5);
    --seed-suffix-icon-size: 14px
}
.seed-link-content__text--size_t5 {
    --seed-suffix-icon-size: 14px
;
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5)}
.seed-link-content--size_t4 {
    gap: var(--seed-dimension-x0_5);
    --seed-suffix-icon-size: 12px
}
.seed-link-content__text--size_t4 {
    --seed-suffix-icon-size: 12px
;
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)}