@layer ride-components {
  .ride-list-header {
    align-items: center;
    gap: var(--ride-dimension-x2_5);
    box-sizing: border-box;
    width: 100%;
    padding-left: var(--ride-dimension-spacing-x-global-gutter);
    padding-right: var(--ride-dimension-spacing-x-global-gutter);
    padding-top: var(--ride-dimension-x2);
    padding-bottom: var(--ride-dimension-x2);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    justify-content: space-between;
    display: flex;
  }

  .ride-list-header--variant_mediumWeak {
    font-weight: var(--ride-font-weight-medium);
    color: var(--ride-color-fg-neutral-subtle);
  }

  .ride-list-header--variant_boldSolid {
    font-weight: var(--ride-font-weight-bold);
    color: var(--ride-color-fg-neutral);
  }
}
