@layer ride-components {
  .seed-list-item__root {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    isolation: isolate;
    width: 100%;
    padding-left: var(--ride-dimension-spacing-x-global-gutter);
    padding-right: var(--ride-dimension-spacing-x-global-gutter);
    padding-top: var(--ride-dimension-x3);
    padding-bottom: var(--ride-dimension-x3);
    --ride-box-align-items: center;
    align-items: var(--ride-box-align-items);
    border: none;
    font-family: inherit;
    display: flex;
    position: relative;
  }

  .seed-list-item__prefix {
    --ride-box-padding-right: var(--ride-dimension-x3);
    padding-right: var(--ride-box-padding-right);
    --ride-focus-ring: none;
    --ride-icon-size: 22px;
    --ride-icon-color: var(--ride-color-fg-neutral);
    flex-shrink: 0;
    align-items: center;
    display: inline-flex;
  }

  .seed-list-item__prefix:is(:disabled, [disabled], [data-disabled]) {
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-list-item__suffix {
    --ride-box-position: initial;
    position: var(--ride-box-position);
    --ride-box-gap: var(--ride-dimension-x1);
    align-items: center;
    gap: var(--ride-box-gap);
    --ride-focus-ring: none;
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-neutral-subtle);
    --ride-icon-size: 18px;
    --ride-icon-color: var(--ride-color-fg-neutral-subtle);
    flex-shrink: 0;
    display: inline-flex;
  }

  .seed-list-item__suffix:is(:disabled, [disabled], [data-disabled]) {
    --ride-icon-color: var(--ride-color-fg-disabled);
  }

  .seed-list-item__content {
    box-sizing: border-box;
    text-align: start;
    --ride-box-gap: var(--ride-dimension-x0_5);
    align-items: flex-start;
    gap: var(--ride-box-gap);
    --ride-box-padding-right: var(--ride-dimension-x2_5);
    padding: 0 var(--ride-box-padding-right) 0 0;
    background-color: #0000;
    border: none;
    flex-direction: column;
    flex-grow: 1;
    font-family: inherit;
    text-decoration: none;
    display: inline-flex;
  }

  .seed-list-item__content:after {
    content: "";
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    position: absolute;
    inset: 0;
  }

  .seed-list-item__content:is(:focus, [data-focus]) {
    outline: none;
  }

  .seed-list-item__content:is(:focus-visible, [data-focus-visible]):after {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
  }

  .seed-list-item__content:before {
    content: "";
    z-index: -1;
    transition-property: background-color, left, right, border-radius;
    transition-duration: var(--ride-duration-color-transition);
    transition-timing-function: var(--ride-timing-function-easing);
    position: absolute;
    inset: 0;
  }

  @media (hover: hover) {
    .seed-list-item__content:is(button, a):not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]):before {
      background-color: var(--ride-color-bg-transparent-pressed);
      left: var(--ride-dimension-x1_5);
      right: var(--ride-dimension-x1_5);
      border-radius: var(--list-item-border-radius, var(--ride-dimension-x2_5));
    }
  }

  @media (hover: none) {
    .seed-list-item__content:is(button, a):not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]):before {
      background-color: var(--ride-color-bg-transparent-pressed);
      left: var(--ride-dimension-x1_5);
      right: var(--ride-dimension-x1_5);
      border-radius: var(--list-item-border-radius, var(--ride-dimension-x2_5));
    }
  }

  @media (hover: hover) {
    .seed-list-item__content:not(:is(:disabled, [disabled], [data-disabled]))[data-hover]:before {
      background-color: var(--ride-color-bg-transparent-pressed);
      left: var(--ride-dimension-x1_5);
      right: var(--ride-dimension-x1_5);
      border-radius: var(--list-item-border-radius, var(--ride-dimension-x2_5));
    }
  }

  @media (hover: none) {
    .seed-list-item__content:not(:is(:disabled, [disabled], [data-disabled]))[data-active]:before {
      background-color: var(--ride-color-bg-transparent-pressed);
      left: var(--ride-dimension-x1_5);
      right: var(--ride-dimension-x1_5);
      border-radius: var(--list-item-border-radius, var(--ride-dimension-x2_5));
    }
  }

  .seed-list-item__title {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-neutral);
    flex-shrink: 0;
  }

  .seed-list-item__title:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
  }

  .seed-list-item__detail {
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    font-weight: var(--ride-font-weight-regular);
    color: var(--ride-color-fg-neutral-subtle);
  }

  .seed-list-item__detail:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
  }

  .seed-list-item__content--highlighted_true:before {
    background-color: var(--ride-color-bg-brand-weak);
  }

  @media (hover: hover) {
    .seed-list-item__content--highlighted_true:is(button, a):not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]):before {
      background-color: var(--ride-color-bg-brand-weak-pressed);
    }
  }

  @media (hover: none) {
    .seed-list-item__content--highlighted_true:is(button, a):not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]):before {
      background-color: var(--ride-color-bg-brand-weak-pressed);
    }
  }

  @media (hover: hover) {
    .seed-list-item__content--highlighted_true:not(:is(:disabled, [disabled], [data-disabled]))[data-hover]:before {
      background-color: var(--ride-color-bg-brand-weak-pressed);
    }
  }

  @media (hover: none) {
    .seed-list-item__content--highlighted_true:not(:is(:disabled, [disabled], [data-disabled]))[data-active]:before {
      background-color: var(--ride-color-bg-brand-weak-pressed);
    }
  }
}
