@layer ride-components {
  .ride-manner-temp {
    justify-content: flex-start;
    align-items: center;
    gap: var(--ride-dimension-x1);
    box-sizing: border-box;
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-bold);
    --ride-suffix-icon-size: var(--ride-dimension-x8);
    --ride-suffix-icon-margin-left: calc(var(--ride-dimension-x1) * -1);
    --ride-suffix-icon-margin-right: calc(var(--ride-dimension-x1) * -1);
    --ride-suffix-icon-margin-top: calc(var(--ride-dimension-x1) * -1);
    --ride-suffix-icon-margin-bottom: calc(var(--ride-dimension-x1) * -1);
    display: inline-flex;
  }

  .ride-manner-temp--level_l1 {
    color: var(--ride-color-manner-temp-l1-text);
  }

  .ride-manner-temp--level_l2 {
    color: var(--ride-color-manner-temp-l2-text);
  }

  .ride-manner-temp--level_l3 {
    color: var(--ride-color-manner-temp-l3-text);
  }

  .ride-manner-temp--level_l4 {
    color: var(--ride-color-manner-temp-l4-text);
  }

  .ride-manner-temp--level_l5 {
    color: var(--ride-color-manner-temp-l5-text);
  }

  .ride-manner-temp--level_l6 {
    color: var(--ride-color-manner-temp-l6-text);
  }

  .ride-manner-temp--level_l7 {
    color: var(--ride-color-manner-temp-l7-text);
  }

  .ride-manner-temp--level_l8 {
    color: var(--ride-color-manner-temp-l8-text);
  }

  .ride-manner-temp--level_l9 {
    color: var(--ride-color-manner-temp-l9-text);
  }

  .ride-manner-temp--level_l10 {
    color: var(--ride-color-manner-temp-l10-text);
  }
}
