@layer ride-components {
  .seed-menu-sheet-item__root {
    background-color: var(--ride-color-bg-neutral-weak);
    min-height: 52px;
    padding-left: var(--ride-dimension-x4);
    padding-right: var(--ride-dimension-x4);
    padding-top: var(--ride-dimension-x3_5);
    padding-bottom: var(--ride-dimension-x3_5);
    align-items: center;
    gap: var(--ride-dimension-x3_5);
    box-shadow: inset 0 calc(-1 * 1px) 0 var(--ride-color-stroke-neutral-muted);
    border: none;
    margin: 0;
    font-family: inherit;
    display: flex;
  }

  @media (hover: hover) {
    .seed-menu-sheet-item__root:is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-neutral-weak-pressed);
    }
  }

  @media (hover: none) {
    .seed-menu-sheet-item__root:is(:active, [data-active]) {
      background-color: var(--ride-color-bg-neutral-weak-pressed);
    }
  }

  .seed-menu-sheet-item__root:first-child {
    border-top-left-radius: var(--ride-radius-r4);
    border-top-right-radius: var(--ride-radius-r4);
  }

  .seed-menu-sheet-item__root:last-child {
    border-bottom-left-radius: var(--ride-radius-r4);
    border-bottom-right-radius: var(--ride-radius-r4);
    box-shadow: none;
  }

  .seed-menu-sheet-item__root {
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
  }

  .seed-menu-sheet-item__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
  }

  .seed-menu-sheet-item__root {
    --ride-prefix-icon-size: 22px;
  }

  .seed-menu-sheet-item__content {
    gap: var(--ride-dimension-x0_5);
    flex-direction: column;
    display: flex;
  }

  .seed-menu-sheet-item__label {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-regular);
  }

  .seed-menu-sheet-item__description {
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    font-weight: var(--ride-font-weight-medium);
    color: var(--ride-color-fg-neutral-subtle);
  }

  .seed-menu-sheet-item__root--tone_neutral {
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
  }

  .seed-menu-sheet-item__label--tone_neutral {
    color: var(--ride-color-fg-neutral);
  }

  .seed-menu-sheet-item__root--tone_critical {
    --ride-prefix-icon-color: var(--ride-color-fg-critical);
  }

  .seed-menu-sheet-item__label--tone_critical {
    color: var(--ride-color-fg-critical);
  }

  .seed-menu-sheet-item__content--labelAlign_left {
    text-align: start;
  }

  .seed-menu-sheet-item__root--labelAlign_center {
    justify-content: center;
  }

  .seed-menu-sheet-item__content--labelAlign_center {
    align-items: center;
  }
}
