@layer seed-components {
  .seed-next-app-screen__root {
    --app-bar-offset: calc(var(--app-bar-height) + var(--seed-safe-area-top));
    --z-index-dim: calc(var(--z-index-base) + 0);
    --z-index-layer: calc(var(--z-index-base) + 1);
    --z-index-edge: calc(var(--z-index-base) + 2);
    width: 100%;
    height: 100%;
    position: absolute;
    inset-inline: 0;
    overflow: hidden;
  }

  .seed-next-app-screen__dim {
    z-index: var(--z-index-dim);
    top: 0;
    width: 100%;
    position: absolute;
    inset-inline: 0;
  }

  .seed-next-app-screen__layer {
    z-index: var(--z-index-layer);
    box-sizing: border-box;
    background-color: var(--seed-color-bg-layer-default);
    width: 100%;
    height: 100%;
    position: absolute;
    inset-inline: 0;
  }

  .seed-next-app-screen__layer:focus {
    outline: none;
  }

  [data-screen-state]:not([data-screen-state="idle"]):not([data-screen-state="idle-behind"]) > .seed-next-app-screen__layer, [data-swipe-back-state] > .seed-next-app-screen__layer {
    border-radius: var(--seed-next-app-screen-clip-radius, 0px);
    overflow: clip;
  }

  .seed-next-app-screen__content {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    inset: 0;
    overflow-y: scroll;
  }

  .seed-next-app-screen__content::-webkit-scrollbar {
    display: none;
  }

  .seed-next-app-screen__edge {
    z-index: var(--z-index-edge);
    width: 20px;
    height: 100%;
    position: absolute;
    inset-inline: 0;
  }

  .seed-next-app-screen__root--theme_cupertino {
    --app-bar-height: 44px;
  }

  .seed-next-app-screen__root--theme_android {
    --app-bar-height: 56px;
  }

  .seed-next-app-screen__dim--transitionStyle_horizontalSlide {
    background: var(--seed-color-bg-overlay);
    height: 100%;
  }

  [data-screen-state="push"] > .seed-next-app-screen__dim--transitionStyle_horizontalSlide {
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) seed-enter;
  }

  [data-screen-state="pop"] > .seed-next-app-screen__dim--transitionStyle_horizontalSlide {
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards seed-exit;
  }

  [data-swipe-back-state="swiping"]:not([data-screen-state$="-behind"]):not(#\#) > .seed-next-app-screen__dim--transitionStyle_horizontalSlide {
    opacity: calc(1 - var(--seed-swipe-back-displacement-ratio, 0));
    transition: none;
    animation: none;
  }

  [data-swipe-back-state="canceling"]:not([data-screen-state$="-behind"]):not(#\#) > .seed-next-app-screen__dim--transitionStyle_horizontalSlide {
    opacity: 1;
    transition: opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none;
  }

  [data-swipe-back-state="completing"]:not([data-screen-state$="-behind"]):not(#\#) > .seed-next-app-screen__dim--transitionStyle_horizontalSlide {
    opacity: 0;
    transition: opacity .35s cubic-bezier(.2, .1, .21, .99);
    animation: none;
  }

  [data-screen-state="push"] > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    --seed-enter-translate-x: 100%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) seed-enter;
  }

  [data-screen-state="pop"] > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    --seed-exit-translate-x: 100%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards seed-exit;
  }

  [data-screen-state="push-behind"] > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    --seed-exit-translate-x: -30%;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 1;
    --seed-exit-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) forwards seed-exit;
  }

  [data-screen-state="pop-behind"] > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    --seed-enter-translate-x: -30%;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 1;
    --seed-enter-scale: 1;
    animation: .35s cubic-bezier(.2, .1, .21, .99) seed-enter;
  }

  [data-screen-state="idle-behind"] > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transform: translate3d(-30%, 0, 0);
  }

  [data-swipe-back-state="swiping"]:not([data-screen-state$="-behind"]):not(#\#) > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transform: translate3d(var(--seed-swipe-back-displacement, 0px), 0, 0);
    transition: none;
    animation: none;
  }

  [data-swipe-back-state="swiping"][data-screen-state$="-behind"]:not(#\#) > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transform: translate3d(calc(-30% + var(--seed-swipe-back-displacement-ratio, 0) * 30%), 0, 0);
    transition: none;
    animation: none;
  }

  [data-swipe-back-state="canceling"]:not([data-screen-state$="-behind"]):not(#\#) > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transition: transform .35s cubic-bezier(.2, .1, .21, .99);
    animation: none;
    transform: translate3d(0, 0, 0);
  }

  [data-swipe-back-state="canceling"][data-screen-state$="-behind"]:not(#\#) > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transition: transform .35s cubic-bezier(.2, .1, .21, .99);
    animation: none;
    transform: translate3d(-30%, 0, 0);
  }

  [data-swipe-back-state="completing"]:not([data-screen-state$="-behind"]):not(#\#) > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transition: transform .35s cubic-bezier(.2, .1, .21, .99);
    animation: none;
    transform: translate3d(100%, 0, 0);
  }

  [data-swipe-back-state="completing"][data-screen-state$="-behind"]:not(#\#) > .seed-next-app-screen__layer--transitionStyle_horizontalSlide {
    transition: transform .35s cubic-bezier(.2, .1, .21, .99);
    animation: none;
    transform: translate3d(0, 0, 0);
  }

  .seed-next-app-screen__dim--transitionStyle_verticalSlide {
    background: linear-gradient(var(--seed-color-bg-overlay), #0000);
    height: 160px;
  }

  [data-screen-state="push"] > .seed-next-app-screen__dim--transitionStyle_verticalSlide {
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: -8vh;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    animation: .3s cubic-bezier(.23, .1, .32, 1) seed-enter;
  }

  [data-screen-state="pop"] > .seed-next-app-screen__dim--transitionStyle_verticalSlide {
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: -8vh;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .15s linear forwards seed-exit;
  }

  [data-screen-state="push"] > .seed-next-app-screen__layer--transitionStyle_verticalSlide {
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 8vh;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    animation: .3s cubic-bezier(.23, .1, .32, 1) seed-enter;
  }

  [data-screen-state="pop"] > .seed-next-app-screen__layer--transitionStyle_verticalSlide {
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 8vh;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .15s linear forwards seed-exit;
  }

  .seed-next-app-screen__edge--transitionStyle_verticalSlide, .seed-next-app-screen__dim--transitionStyle_fadeIn {
    display: none;
  }

  [data-screen-state="push"] > .seed-next-app-screen__layer--transitionStyle_fadeIn {
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: 1;
    animation: .3s ease-out seed-enter;
  }

  [data-screen-state="pop"] > .seed-next-app-screen__layer--transitionStyle_fadeIn {
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
    animation: .15s ease-in forwards seed-exit;
  }

  .seed-next-app-screen__edge--transitionStyle_fadeIn {
    display: none;
  }

  .seed-next-app-screen__content--contentOffsetTop_safeArea {
    padding-top: var(--seed-safe-area-top);
  }

  .seed-next-app-screen__content--contentOffsetTop_appBar {
    padding-top: var(--app-bar-offset);
  }

  .seed-next-app-screen__content--contentOffsetBottom_safeArea {
    padding-bottom: var(--seed-safe-area-bottom);
  }
}
