.seed-radio__root {
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    background-color: var(--seed-color-bg-layer-default);
    border-width: 1px;
    border-color: var(--seed-color-stroke-control);
    border-radius: var(--seed-radius-full);
}
.seed-radio__root:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-layer-default-pressed);
}
.seed-radio__root:is(:checked, [data-checked]) {
    background-color: var(--seed-color-bg-brand-solid);
    border-width: 0px;
}
.seed-radio__root:is(:active, [data-active]):is(:checked, [data-checked]) {
    background-color: var(--seed-color-bg-brand-solid-pressed);
}
.seed-radio__root:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-palette-gray-300);
}
.seed-radio__root:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    background-color: none;
    border-color: var(--seed-color-palette-gray-300);
}
.seed-radio__icon {
    display: none;
    border-radius: var(--seed-radius-full);
}
.seed-radio__icon:is(:checked, [data-checked]) {
    display: block;
    background-color: var(--seed-color-palette-static-white);
}
.seed-radio__icon:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    background-color: var(--seed-color-palette-gray-300);
}
.seed-radio__root--size_large {
    width: var(--seed-dimension-x6);
    height: var(--seed-dimension-x6);
}
.seed-radio__icon--size_large {
    width: var(--seed-dimension-x2_5);
    height: var(--seed-dimension-x2_5);
}
.seed-radio__icon--size_large:is(:disabled, [disabled], [data-disabled]) {
    width: var(--seed-dimension-x3);
    height: var(--seed-dimension-x3);
}
.seed-radio__root--size_medium {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-radio__icon--size_medium {
    width: var(--seed-dimension-x2);
    height: var(--seed-dimension-x2);
}
.seed-radio__icon--size_medium:is(:disabled, [disabled], [data-disabled]) {
    width: var(--seed-dimension-x2_5);
    height: var(--seed-dimension-x2_5);
}