@layer ride-components {
  .seed-reaction-button {
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
    border: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    text-decoration: none;
    display: inline-flex;
    position: relative;
  }

  .seed-reaction-button:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .seed-reaction-button {
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), box-shadow var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    background: var(--ride-color-bg-transparent);
    font-weight: var(--ride-font-weight-medium);
    color: var(--ride-color-fg-neutral);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    --track-color: var(--ride-color-palette-gray-500);
    --range-color: var(--ride-color-fg-neutral);
    --ride-count-font-weight: var(--ride-font-weight-bold);
    --ride-count-color: var(--ride-color-fg-neutral);
  }

  @media (hover: hover) {
    .seed-reaction-button:is(:hover, [data-hover]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .seed-reaction-button:is(:active, [data-active]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  .seed-reaction-button:is([aria-pressed="true"], [data-pressed]) {
    background: var(--ride-color-bg-transparent);
    color: var(--ride-color-fg-brand);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-brand-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-brand);
    --ride-count-color: var(--ride-color-fg-brand);
  }

  @media (hover: hover) {
    .seed-reaction-button:is([aria-pressed="true"], [data-pressed]):is(:hover, [data-hover]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .seed-reaction-button:is([aria-pressed="true"], [data-pressed]):is(:active, [data-active]) {
      background: var(--ride-color-bg-transparent-pressed);
    }
  }

  .seed-reaction-button:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    background: var(--ride-color-bg-disabled);
    color: var(--ride-color-fg-disabled);
    box-shadow: inset 0 0 0 0px var(--ride-color-stroke-brand-weak);
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
    --ride-count-color: var(--ride-color-fg-disabled);
  }

  .seed-reaction-button[data-loading] {
    background: var(--ride-color-bg-neutral-weak-pressed);
  }

  .seed-reaction-button:is([aria-pressed="true"], [data-pressed])[data-loading] {
    background: var(--ride-color-bg-transparent-pressed);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-brand-weak);
    --track-color: var(--ride-color-palette-carrot-200);
    --range-color: var(--ride-color-fg-brand);
  }

  .seed-reaction-button--size_xsmall {
    height: var(--ride-dimension-x8);
    padding-left: var(--ride-dimension-x3);
    padding-right: var(--ride-dimension-x3);
    padding-top: var(--ride-dimension-x1_5);
    padding-bottom: var(--ride-dimension-x1_5);
    gap: var(--ride-dimension-x1);
    border-radius: var(--ride-radius-full);
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    --size: 14px;
    --thickness: 2px;
    --ride-count-font-size: var(--ride-font-size-t3);
    --ride-count-line-height: var(--ride-line-height-t3);
    --ride-prefix-icon-size: 18px;
  }

  .seed-reaction-button--size_small {
    height: var(--ride-dimension-x9);
    padding-left: var(--ride-dimension-x3_5);
    padding-right: var(--ride-dimension-x3_5);
    padding-top: var(--ride-dimension-x2);
    padding-bottom: var(--ride-dimension-x2);
    gap: var(--ride-dimension-x1);
    border-radius: var(--ride-radius-full);
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    --size: 14px;
    --thickness: 2px;
    --ride-count-font-size: var(--ride-font-size-t3);
    --ride-count-line-height: var(--ride-line-height-t3);
    --ride-prefix-icon-size: 18px;
  }
}
