.ride-segmented-control__root {
    display: grid;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    padding: var(--ride-dimension-x1);
    border-radius: var(--ride-radius-full);
    background-color: var(--ride-color-bg-neutral-weak-alpha);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    isolation: isolate;
}
.ride-segmented-control__indicator {
    position: absolute;
    z-index: -1;
    will-change: transform;
    transform: translateX(calc(var(--segment-index) * 100%));
    top: var(--ride-dimension-x1);
    bottom: var(--ride-dimension-x1);
    left: var(--ride-dimension-x1);
    width: calc((100% - var(--ride-dimension-x1) * 2) / var(--segment-count));
    border-radius: var(--ride-radius-full);
    background-color: var(--ride-color-palette-gray-00);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    transition: transform var(--ride-duration-d4) var(--ride-timing-function-easing);
}
.ride-segmented-control__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    overflow-wrap: break-word;
    min-width: 86px;
    min-height: 34px;
    gap: var(--ride-dimension-x1_5);
    height: 100%;
    padding-left: var(--ride-dimension-x6);
    padding-right: var(--ride-dimension-x6);
    padding-top: var(--ride-dimension-x1_5);
    padding-bottom: var(--ride-dimension-x1_5);
    border-radius: var(--ride-radius-full);
    font-weight: var(--ride-font-weight-bold);
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    color: var(--ride-color-fg-neutral-subtle);
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), color var(--ride-duration-color-transition) var(--ride-timing-function-easing), box-shadow var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
}
.ride-segmented-control__item:is(:checked, [data-checked]) {
    color: var(--ride-color-fg-neutral);
}
.ride-segmented-control__item {
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-segmented-control__item:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
}
.ride-segmented-control__item:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    color: var(--ride-color-fg-disabled);
}
.ride-segmented-control__item:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    background-color: var(--ride-color-bg-disabled);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
}
@media (hover: hover) {
    .ride-segmented-control__item:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, [data-checked]):is(:hover, [data-hover]) {
        background-color: var(--ride-color-palette-gray-100);
        box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    }
}
@media (hover: none) {
    .ride-segmented-control__item:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, [data-checked]):is(:active, [data-active]) {
        background-color: var(--ride-color-palette-gray-100);
        box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    }
}
@media (hover: hover) {
    .ride-segmented-control__item:not(:is(:disabled, [disabled], [data-disabled])):not(:is(:checked, [data-checked])):is(:hover, [data-hover]) {
        background-color: var(--ride-color-bg-neutral-weak-pressed);
        box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    }
}
@media (hover: none) {
    .ride-segmented-control__item:not(:is(:disabled, [disabled], [data-disabled])):not(:is(:checked, [data-checked])):is(:active, [data-active]) {
        background-color: var(--ride-color-bg-neutral-weak-pressed);
        box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    }
}