.seed-select-box__root {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    padding-top: var(--seed-dimension-x5);
    padding-bottom: var(--seed-dimension-x5);
    border-radius: var(--seed-radius-r3);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-muted);
    background-color: var(--seed-color-bg-transparent);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing);
}
.seed-select-box__root:is(:active, [data-active]) {
    background-color: var(--seed-color-bg-transparent-pressed);
}
.seed-select-box__root:is(:checked, [data-checked]) {
    background-color: var(--seed-color-bg-neutral-weak);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-weak);
}
.seed-select-box__root:is(:checked, [data-checked]):is(:active, [data-active]) {
    background-color: var(--seed-color-bg-neutral-weak-pressed);
}
.seed-select-box__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--seed-dimension-x0_5);
}
.seed-select-box__label {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-bold);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-select-box__description {
    color: var(--seed-color-fg-neutral-muted);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}