@layer seed-components {
  .seed-select__root {
    box-sizing: border-box;
    isolation: isolate;
    cursor: pointer;
    background-color: var(--seed-color-bg-transparent);
    width: 100%;
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-weak);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing), outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
    border: none;
    align-items: center;
    margin: 0;
    font-family: inherit;
    display: flex;
    position: relative;
  }

  .seed-select__root:after {
    content: "";
    border-radius: inherit;
    transition: border-color .1s var(--seed-timing-function-easing);
    pointer-events: none;
    border: 2px solid #0000;
    position: absolute;
    inset: 0;
  }

  .seed-select__root[data-disabled] {
    cursor: not-allowed;
    background-color: var(--seed-color-bg-disabled);
  }

  @media (hover: hover) and (pointer: fine) {
    .seed-select__root:not([data-disabled]):not([data-readonly]):is(:hover, [data-hover]) {
      background-color: var(--seed-color-bg-transparent-pressed);
    }
  }

  @media not all and (hover: hover) and (pointer: fine) {
    .seed-select__root:not([data-disabled]):not([data-readonly]):is(:active, [data-active]) {
      background-color: var(--seed-color-bg-transparent-pressed);
    }
  }

  .seed-select__root[data-readonly]:not([data-disabled]) {
    cursor: default;
    background-color: var(--seed-color-bg-disabled);
  }

  .seed-select__root {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: var(--seed-dimension-x0_5);
  }

  .seed-select__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: var(--seed-dimension-x0_5);
  }

  .seed-select__root:is(:invalid, [data-invalid]):after {
    border-width: 2px;
    border-color: var(--seed-color-stroke-critical-solid);
  }

  .seed-select__value {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
    pointer-events: none;
    flex-grow: 1;
    overflow: hidden;
  }

  .seed-select__value[data-disabled] {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select__value[data-readonly]:not([data-disabled]) {
    color: var(--seed-color-fg-neutral);
  }

  .seed-select__placeholder {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-placeholder);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
    pointer-events: none;
    flex-grow: 1;
    overflow: hidden;
  }

  .seed-select__placeholder[data-disabled] {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select__placeholder[data-readonly]:not([data-disabled]) {
    color: var(--seed-color-fg-placeholder);
  }

  .seed-select__prefixIcon {
    color: var(--seed-color-fg-neutral-muted);
    pointer-events: none;
    flex-shrink: 0;
  }

  .seed-select__prefixIcon[data-disabled] {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select__suffixIcon {
    color: var(--seed-color-fg-neutral-muted);
    pointer-events: none;
    transition: transform var(--seed-duration-d6) var(--seed-timing-function-easing);
    flex-shrink: 0;
    transform: rotate(0);
  }

  .seed-select__suffixIcon:is([data-state="open"], [data-open]) {
    transform: rotate(180deg);
  }

  .seed-select__suffixIcon[data-disabled] {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select__positioner {
    --select-z-index: 99999;
    z-index: calc(var(--select-z-index) + var(--z-index-offset, 0));
    outline: none;
  }

  .seed-select__content {
    border-radius: var(--seed-radius-r5);
    background: var(--seed-color-bg-layer-floating);
    box-shadow: var(--seed-shadow-s3);
    transform-origin: var(--seed-select-transform-origin);
    overflow: hidden;
  }

  .seed-select__content:is([data-state="open"], [data-open]) {
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d3);
    --seed-enter-translate-x: 0;
    --seed-enter-translate-y: 0;
    --seed-enter-opacity: 0;
    --seed-enter-scale: .95;
  }

  .seed-select__content:not(:is([data-state="open"], [data-open])) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-exit);
    animation-duration: var(--seed-duration-d2);
    --seed-exit-translate-x: 0;
    --seed-exit-translate-y: 0;
    --seed-exit-opacity: 0;
    --seed-exit-scale: .95;
    animation-fill-mode: forwards;
  }

  .seed-select__content[data-instant] {
    animation-duration: 0s;
  }

  .seed-select__content:is([hidden], [data-hidden]) {
    display: none !important;
  }

  .seed-select__content:is(:focus, [data-focus]) {
    outline: none;
  }

  .seed-select__scrollArea {
    max-height: min(480px, var(--seed-select-available-height, 480px));
    box-sizing: border-box;
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2);
    gap: var(--seed-dimension-x2);
    flex-direction: column;
    display: flex;
    overflow-y: auto;
  }

  .seed-select__group {
    flex-direction: column;
    display: flex;
  }

  .seed-select__group + .seed-select__group:before {
    content: "";
    margin-left: var(--seed-dimension-x4);
    margin-right: var(--seed-dimension-x4);
    margin-bottom: var(--seed-dimension-x2);
    background-color: var(--seed-color-stroke-neutral-muted);
    flex-shrink: 0;
    height: 1px;
    display: block;
  }

  .seed-select__groupLabel {
    color: var(--seed-color-fg-neutral-subtle);
  }

  .seed-select__item {
    scroll-margin-top: var(--seed-dimension-x2);
    scroll-margin-bottom: var(--seed-dimension-x2);
    cursor: default;
    user-select: none;
    color: inherit;
    text-align: start;
    isolation: isolate;
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    --seed-suffix-icon-color: var(--seed-color-fg-neutral);
    background: none;
    border: none;
    outline: none;
    align-items: center;
    margin: 0;
    font-family: inherit;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  .seed-select__item:before {
    content: "";
    z-index: -1;
    transition-property: background-color, left, right, border-radius;
    transition-duration: var(--seed-duration-color-transition);
    transition-timing-function: var(--seed-timing-function-easing);
    position: absolute;
    inset: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    .seed-select__item:not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]):before {
      background-color: var(--seed-color-bg-transparent-pressed);
      left: var(--seed-dimension-x2);
      right: var(--seed-dimension-x2);
      border-radius: var(--seed-radius-r3);
    }
  }

  @media not all and (hover: hover) and (pointer: fine) {
    .seed-select__item:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]):before {
      background-color: var(--seed-color-bg-transparent-pressed);
      left: var(--seed-dimension-x2);
      right: var(--seed-dimension-x2);
      border-radius: var(--seed-radius-r3);
    }
  }

  .seed-select__item:not(:is(:disabled, [disabled], [data-disabled]))[data-highlighted]:before {
    background-color: var(--seed-color-bg-transparent-pressed);
    left: var(--seed-dimension-x2);
    right: var(--seed-dimension-x2);
    border-radius: var(--seed-radius-r3);
  }

  .seed-select__item:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
    --seed-suffix-icon-color: var(--seed-color-fg-disabled);
  }

  .seed-select__itemBody {
    gap: var(--seed-dimension-x0_5);
    flex-direction: column;
    flex-grow: 1;
    display: flex;
  }

  .seed-select__itemLabel {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral);
  }

  .seed-select__itemLabel:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select__itemDescription {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
  }

  .seed-select__itemDescription:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select__itemIndicator {
    --seed-icon-color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
  }

  .seed-select__itemIndicator:is(:disabled, [disabled], [data-disabled]) {
    --seed-icon-color: var(--seed-color-fg-disabled);
  }

  .seed-select__root--size_large {
    height: var(--seed-dimension-x13);
    gap: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    border-radius: var(--seed-radius-r3);
  }

  .seed-select__value--size_large, .seed-select__placeholder--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  .seed-select__prefixIcon--size_large, .seed-select__suffixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
  }

  .seed-select__content--size_large {
    width: var(--seed-select-reference-width, 240px);
  }

  .seed-select__groupLabel--size_large {
    padding-top: var(--seed-dimension-x2_5);
    padding-bottom: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-medium);
  }

  .seed-select__item--size_large {
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x3);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    gap: var(--seed-dimension-x3);
    --seed-prefix-icon-size: 22px;
    --seed-suffix-icon-size: 18px;
  }

  .seed-select__itemLabel--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  .seed-select__itemDescription--size_large {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
  }

  .seed-select__itemIndicator--size_large {
    --seed-icon-size: 18px;
  }

  .seed-select__root--size_medium {
    height: var(--seed-dimension-x10);
    gap: var(--seed-dimension-x2);
    padding-left: var(--seed-dimension-x3_5);
    padding-right: var(--seed-dimension-x3_5);
    border-radius: var(--seed-radius-r2);
  }

  .seed-select__value--size_medium, .seed-select__placeholder--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
  }

  .seed-select__prefixIcon--size_medium, .seed-select__suffixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
  }

  .seed-select__content--size_medium {
    width: var(--seed-select-reference-width, 200px);
  }

  .seed-select__groupLabel--size_medium {
    padding-top: var(--seed-dimension-x2);
    padding-bottom: var(--seed-dimension-x2);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
    font-weight: var(--seed-font-weight-regular);
  }

  .seed-select__item--size_medium {
    padding-top: var(--seed-dimension-x2_5);
    padding-bottom: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    gap: var(--seed-dimension-x2);
    --seed-prefix-icon-size: 18px;
    --seed-suffix-icon-size: 16px;
  }

  .seed-select__itemLabel--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
  }

  .seed-select__itemDescription--size_medium {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
  }

  .seed-select__itemIndicator--size_medium {
    --seed-icon-size: 16px;
  }

  .seed-select__root--size_responsive {
    height: var(--seed-dimension-x13);
    gap: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    border-radius: var(--seed-radius-r3);
  }

  @media (width >= 1280px) {
    .seed-select__root--size_responsive {
      height: var(--seed-dimension-x10);
      gap: var(--seed-dimension-x2);
      padding-left: var(--seed-dimension-x3_5);
      padding-right: var(--seed-dimension-x3_5);
      border-radius: var(--seed-radius-r2);
    }
  }

  .seed-select__value--size_responsive {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  @media (width >= 1280px) {
    .seed-select__value--size_responsive {
      font-size: var(--seed-font-size-t4);
      line-height: var(--seed-line-height-t4);
    }
  }

  .seed-select__placeholder--size_responsive {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  @media (width >= 1280px) {
    .seed-select__placeholder--size_responsive {
      font-size: var(--seed-font-size-t4);
      line-height: var(--seed-line-height-t4);
    }
  }

  .seed-select__prefixIcon--size_responsive {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
  }

  @media (width >= 1280px) {
    .seed-select__prefixIcon--size_responsive {
      width: var(--seed-dimension-x4);
      height: var(--seed-dimension-x4);
    }
  }

  .seed-select__suffixIcon--size_responsive {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
  }

  @media (width >= 1280px) {
    .seed-select__suffixIcon--size_responsive {
      width: var(--seed-dimension-x4);
      height: var(--seed-dimension-x4);
    }
  }

  .seed-select__content--size_responsive {
    width: var(--seed-select-reference-width, 240px);
  }

  @media (width >= 1280px) {
    .seed-select__content--size_responsive {
      width: var(--seed-select-reference-width, 200px);
    }
  }

  .seed-select__groupLabel--size_responsive {
    padding-top: var(--seed-dimension-x2_5);
    padding-bottom: var(--seed-dimension-x2_5);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-medium);
  }

  @media (width >= 1280px) {
    .seed-select__groupLabel--size_responsive {
      padding-top: var(--seed-dimension-x2);
      padding-bottom: var(--seed-dimension-x2);
      padding-left: var(--seed-dimension-x4);
      padding-right: var(--seed-dimension-x4);
      font-size: var(--seed-font-size-t3);
      line-height: var(--seed-line-height-t3);
      font-weight: var(--seed-font-weight-regular);
    }
  }

  .seed-select__item--size_responsive {
    padding-top: var(--seed-dimension-x3);
    padding-bottom: var(--seed-dimension-x3);
    padding-left: var(--seed-dimension-x4);
    padding-right: var(--seed-dimension-x4);
    gap: var(--seed-dimension-x3);
    --seed-prefix-icon-size: 22px;
    --seed-suffix-icon-size: 18px;
  }

  @media (width >= 1280px) {
    .seed-select__item--size_responsive {
      padding-top: var(--seed-dimension-x2_5);
      padding-bottom: var(--seed-dimension-x2_5);
      padding-left: var(--seed-dimension-x4);
      padding-right: var(--seed-dimension-x4);
      gap: var(--seed-dimension-x2);
      --seed-prefix-icon-size: 18px;
      --seed-suffix-icon-size: 16px;
    }
  }

  .seed-select__itemLabel--size_responsive {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  @media (width >= 1280px) {
    .seed-select__itemLabel--size_responsive {
      font-size: var(--seed-font-size-t4);
      line-height: var(--seed-line-height-t4);
    }
  }

  .seed-select__itemDescription--size_responsive {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
  }

  @media (width >= 1280px) {
    .seed-select__itemDescription--size_responsive {
      font-size: var(--seed-font-size-t2);
      line-height: var(--seed-line-height-t2);
    }
  }

  .seed-select__itemIndicator--size_responsive {
    --seed-icon-size: 18px;
  }

  @media (width >= 1280px) {
    .seed-select__itemIndicator--size_responsive {
      --seed-icon-size: 16px;
    }
  }
}
