@layer ride-components {
  .ride-select-box-group {
    grid-template-columns: repeat(var(--ride-select-box-group--columns, 1), minmax(0, 1fr));
    row-gap: var(--ride-dimension-spacing-y-component-default);
    column-gap: var(--ride-dimension-x3);
    width: 100%;
    display: grid;
  }

  .ride-select-box-group:not([data-columns="1"]) {
    grid-auto-rows: 1fr;
  }
}
