@layer seed-components {
  .seed-select-item__root {
    scroll-margin-block: var(--seed-dimension-x2);
    padding-inline: var(--seed-dimension-x4);
    cursor: default;
    user-select: none;
    color: inherit;
    text-align: start;
    isolation: isolate;
    --seed-prefix-icon-color: var(--seed-color-fg-neutral);
    background: none;
    border: none;
    outline: none;
    align-items: center;
    margin: 0;
    font-family: inherit;
    text-decoration: none;
    display: flex;
    position: relative;
  }

  .seed-select-item__root:before {
    content: "";
    z-index: -1;
    border-radius: var(--seed-radius-r3);
    transition: background-color var(--seed-duration-color-transition) var(--seed-timing-function-easing), inset-inline var(--seed-duration-d3) var(--seed-timing-function-easing);
    position: absolute;
    inset: 0;
  }

  .seed-select-item__root:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]):before, .seed-select-item__root:not(:is(:disabled, [disabled], [data-disabled]))[data-highlighted]:before {
    background-color: var(--seed-color-bg-transparent-pressed);
    inset-inline: var(--seed-dimension-x2);
  }

  .seed-select-item__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    --seed-prefix-icon-color: var(--seed-color-fg-disabled);
  }

  .seed-select-item__body {
    gap: var(--seed-dimension-x0_5);
    flex-direction: column;
    flex-grow: 1;
    display: flex;
  }

  .seed-select-item__label {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral);
  }

  .seed-select-item__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select-item__description {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
  }

  .seed-select-item__description:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select-item__indicator {
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
  }

  .seed-select-item__indicator:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
  }

  .seed-select-item__root--size_large {
    padding-block: var(--seed-dimension-x3);
    gap: var(--seed-dimension-x3);
    --seed-prefix-icon-size: 22px;
  }

  .seed-select-item__label--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  .seed-select-item__description--size_large {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
  }

  .seed-select-item__indicator--size_large {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
  }

  .seed-select-item__root--size_medium {
    padding-block: var(--seed-dimension-x2_5);
    gap: var(--seed-dimension-x2);
    --seed-prefix-icon-size: var(--seed-dimension-x4_5);
  }

  .seed-select-item__label--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
  }

  .seed-select-item__description--size_medium {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
  }

  .seed-select-item__indicator--size_medium {
    width: var(--seed-dimension-x3);
    height: var(--seed-dimension-x3);
  }

  .seed-select-item__root--size_responsive {
    padding-block: var(--seed-dimension-x3);
    gap: var(--seed-dimension-x3);
    --seed-prefix-icon-size: 22px;
  }

  @media (width >= 1280px) {
    .seed-select-item__root--size_responsive {
      padding-block: var(--seed-dimension-x2_5);
      gap: var(--seed-dimension-x2);
      --seed-prefix-icon-size: var(--seed-dimension-x4_5);
    }
  }

  .seed-select-item__label--size_responsive {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
  }

  @media (width >= 1280px) {
    .seed-select-item__label--size_responsive {
      font-size: var(--seed-font-size-t4);
      line-height: var(--seed-line-height-t4);
    }
  }

  .seed-select-item__description--size_responsive {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
  }

  @media (width >= 1280px) {
    .seed-select-item__description--size_responsive {
      font-size: var(--seed-font-size-t2);
      line-height: var(--seed-line-height-t2);
    }
  }

  .seed-select-item__indicator--size_responsive {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
  }

  @media (width >= 1280px) {
    .seed-select-item__indicator--size_responsive {
      width: var(--seed-dimension-x3);
      height: var(--seed-dimension-x3);
    }
  }
}
