.ride-selectBoxCheckmark__root {
    position: relative;
    box-sizing: border-box;
    flex: none;
    width: var(--ride-dimension-x5);
    height: var(--ride-dimension-x5);
}
.ride-selectBoxCheckmark__icon {
    display: block;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: initial;
    width: 15px;
    height: 15px;
    color: var(--ride-color-fg-placeholder);
    transition: color var(--ride-duration-color-transition) var(--ride-timing-function-easing);
}
@media (hover: hover) {
    .ride-selectBoxCheckmark__icon:not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]) {
        color: var(--ride-color-fg-neutral-subtle);
    }
}
@media (hover: none) {
    .ride-selectBoxCheckmark__icon:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]) {
        color: var(--ride-color-fg-neutral-subtle);
    }
}
.ride-selectBoxCheckmark__icon:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, [data-checked]) {
    color: var(--ride-color-fg-neutral);
}
.ride-selectBoxCheckmark__icon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
}