@layer ride-components {
  .ride-select-box__root {
    cursor: pointer;
    border-radius: var(--ride-radius-r3);
    background-color: var(--ride-color-bg-transparent);
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
    transition: background-color var(--ride-duration-color-transition) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    flex-direction: column;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .ride-select-box__root:after {
    content: "";
    border-radius: inherit;
    transition: border-color .1s var(--ride-timing-function-easing);
    pointer-events: none;
    border: 2px solid #0000;
    position: absolute;
    inset: 0;
  }

  @media (hover: hover) {
    .ride-select-box__root:not(:is(:disabled, [disabled], [data-disabled])):is(:hover, [data-hover]) {
      background-color: var(--ride-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .ride-select-box__root:not(:is(:disabled, [disabled], [data-disabled])):is(:active, [data-active]) {
      background-color: var(--ride-color-bg-transparent-pressed);
    }
  }

  .ride-select-box__root:not(:is(:disabled, [disabled], [data-disabled])):is(:checked, [data-checked]):after {
    border-width: 2px;
    border-color: var(--ride-color-stroke-neutral-contrast);
  }

  .ride-select-box__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
    box-shadow: inset 0 0 0 1px var(--ride-color-stroke-neutral-muted);
  }

  .ride-select-box__root:is(:disabled, [disabled], [data-disabled]):is(:checked, [data-checked]) {
    box-shadow: inset 0 0 0 2px var(--ride-color-stroke-neutral-muted);
  }

  .ride-select-box__root {
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
  }

  .ride-select-box__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .ride-select-box__trigger {
    justify-content: space-between;
    gap: var(--ride-dimension-x1_5);
    --ride-focus-ring: none;
    flex-grow: 1;
    display: flex;
  }

  .ride-select-box__content {
    --ride-prefix-icon-size: 22px;
    --ride-prefix-icon-color: var(--ride-color-fg-neutral);
    display: flex;
  }

  .ride-select-box__content:is(:disabled, [disabled], [data-disabled]) {
    --ride-prefix-icon-color: var(--ride-color-fg-disabled);
  }

  .ride-select-box__body {
    gap: var(--ride-dimension-x0_5);
    flex-direction: column;
    margin-right: auto;
    display: flex;
  }

  .ride-select-box__label {
    align-items: center;
    gap: var(--ride-dimension-x1);
    color: var(--ride-color-fg-neutral);
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    font-weight: var(--ride-font-weight-medium);
    justify-content: flex-start;
    display: flex;
  }

  .ride-select-box__label:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
  }

  .ride-select-box__description {
    color: var(--ride-color-fg-neutral-muted);
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    font-weight: var(--ride-font-weight-regular);
  }

  .ride-select-box__description:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
  }

  .ride-select-box__footer[data-collapsible] {
    opacity: 0;
    height: 0;
    transition: height var(--ride-duration-d6) var(--ride-timing-function-easing), opacity .4s var(--ride-timing-function-easing);
    overflow: hidden;
  }

  .ride-select-box__footer[data-collapsible]:is([data-state="open"], [data-open]) {
    height: var(--collapsible-content-height);
    opacity: 1;
    transition: height .4s var(--ride-timing-function-easing), opacity var(--ride-duration-d6) var(--ride-timing-function-easing);
  }

  .ride-select-box__trigger--layout_horizontal {
    padding-left: var(--ride-dimension-x5);
    padding-right: var(--ride-dimension-x4);
    padding-top: var(--ride-dimension-x4);
    padding-bottom: var(--ride-dimension-x4);
    align-items: center;
  }

  .ride-select-box__content--layout_horizontal {
    align-items: center;
    gap: var(--ride-dimension-x3);
  }

  .ride-select-box__trigger--layout_vertical {
    padding-left: var(--ride-dimension-x4);
    padding-right: var(--ride-dimension-x4);
    padding-top: var(--ride-dimension-x5);
    padding-bottom: var(--ride-dimension-x5);
  }

  .ride-select-box__content--layout_vertical {
    gap: var(--ride-dimension-x2_5);
    flex-direction: column;
  }
}
