@layer seed-components {
  .seed-side-navigation__root {
    flex-direction: column;
    width: 240px;
    height: 100%;
    transition: width .2s;
    display: flex;
    position: relative;
    overflow-x: hidden;
  }

  .seed-side-navigation__root[data-side-navigation-state="collapsed"] {
    width: 56px;
  }

  .seed-side-navigation__header {
    box-sizing: border-box;
    flex-shrink: 0;
    min-height: 64px;
    padding: 8px;
  }

  .seed-side-navigation__content {
    background: linear-gradient(var(--side-navigation-bg, transparent), var(--side-navigation-bg, transparent)) center top / 100% 1px no-repeat local, linear-gradient(var(--side-navigation-bg, transparent), var(--side-navigation-bg, transparent)) center bottom / 100% 1px no-repeat local, linear-gradient(var(--seed-color-stroke-neutral-muted), var(--seed-color-stroke-neutral-muted)) center top / 100% 1px no-repeat scroll, linear-gradient(var(--seed-color-stroke-neutral-muted), var(--seed-color-stroke-neutral-muted)) center bottom / 100% 1px no-repeat scroll;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    padding: 8px;
    transition: gap .2s;
    display: flex;
    overflow-y: auto;
  }

  .seed-side-navigation__content[data-side-navigation-state="collapsed"] {
    scrollbar-width: none;
    gap: 0;
  }

  .seed-side-navigation__footer {
    flex-shrink: 0;
    padding: 8px;
  }

  .seed-side-navigation__footer:empty {
    display: none;
  }

  .seed-side-navigation__group {
    flex-direction: column;
    display: flex;
  }

  .seed-side-navigation__groupLabel {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
    font-weight: var(--seed-font-weight-bold);
    color: var(--seed-color-fg-neutral-muted);
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 1;
    pointer-events: none;
    align-items: center;
    padding: 6px;
    transition: margin .2s, opacity .2s;
    display: flex;
    overflow: hidden;
  }

  .seed-side-navigation__groupLabel[data-side-navigation-state="collapsed"] {
    opacity: 0;
    margin-top: calc(-1lh - 12px);
  }

  .seed-side-navigation__trigger {
    cursor: pointer;
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: var(--seed-dimension-x0_5);
    min-width: 40px;
    min-height: 40px;
    transition: right .2s, background-color .2s, outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
    background: none;
    border: none;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    display: inline-flex;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .seed-side-navigation__trigger:is(:focus-visible, [data-focus-visible]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: var(--seed-dimension-x0_5);
  }

  .seed-side-navigation__trigger {
    --seed-icon-size: 18px;
    --seed-icon-color: var(--seed-color-fg-neutral-subtle);
  }

  @media (hover: hover) {
    .seed-side-navigation__trigger:is(:hover, [data-hover]) {
      background: var(--seed-color-bg-transparent-pressed);
    }
  }

  @media (hover: none) {
    .seed-side-navigation__trigger:is(:active, [data-active]) {
      background: var(--seed-color-bg-transparent-pressed);
    }
  }

  .seed-side-navigation__trigger[data-side-navigation-state="collapsed"] {
    right: 8px;
  }

  .seed-side-navigation__root--variant_neutral {
    --side-navigation-bg: var(--seed-color-palette-gray-100);
    background-color: var(--seed-color-palette-gray-100);
    box-shadow: inset -1px 0 0 0 var(--seed-color-stroke-neutral-muted);
  }
}
