@layer seed-components {
  .seed-side-navigation-menu-item__item {
    cursor: pointer;
    text-align: left;
    background: none;
    border: none;
    align-items: center;
    width: 100%;
    display: flex;
  }

  .seed-side-navigation-menu-item__collapsibleContent[data-collapsible] {
    opacity: 0;
    height: 0;
    transition: height .2s ease-out, opacity .2s ease-out;
    overflow: hidden;
  }

  .seed-side-navigation-menu-item__collapsibleContent[data-collapsible]:is([data-state="open"], [data-open]) {
    height: var(--collapsible-content-height);
    opacity: 1;
    transition: height .25s ease-out, opacity .25s ease-out;
  }

  .seed-side-navigation-menu-item__chevron {
    flex-shrink: 0;
    transition: transform .2s ease-out;
  }

  .seed-side-navigation-menu-item__chevron:is([data-state="open"], [data-open]) {
    transform: rotate(180deg);
  }
}
