.seed-side-navigation__root {
    display: flex;
    flex-direction: column;
    height: 100%
}
.seed-side-navigation__header {
    flex-shrink: 0
}
.seed-side-navigation__content {
    flex: 1;
    overflow-y: auto
}
.seed-side-navigation__footer {
    flex-shrink: 0
}
.seed-side-navigation__group {
    display: flex;
    flex-direction: column
}
.seed-side-navigation__groupLabel {}
.seed-side-navigation__trigger {}