.seed-slider__root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: var(--seed-dimension-x0_5);
    user-select: none;
    touch-action: none;
}
.seed-slider__control {
    position: relative;
    height: 26px;
    display: flex;
    align-items: center;
}
.seed-slider__track {
    position: relative;
    flex-grow: 1;
    background-color: var(--seed-color-palette-gray-400);
    height: var(--seed-dimension-x1);
    border-radius: var(--seed-radius-full);
    overflow: hidden;
}
.seed-slider__range {
    position: absolute;
    height: 100%;
    background-color: var(--seed-color-fg-neutral);
    left: var(--range-left);
    right: var(--range-right);
    transition: left var(--seed-duration-d3) var(--seed-timing-function-easing), right var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-slider__range:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-fg-disabled);
}
.seed-slider__range[data-dragging] {
    transition: none;
}
.seed-slider__thumb {
    position: absolute;
    top: 50%;
    left: var(--thumb-left);
    right: var(--thumb-right);
    transform: translate(-50%, -50%);
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    background-color: var(--seed-color-bg-neutral-inverted);
    border-radius: var(--seed-radius-full);
    transition: transform var(--seed-duration-d3) var(--seed-timing-function-easing), left var(--seed-duration-d3) var(--seed-timing-function-easing), right var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-slider__thumb[data-dragging] {
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-slider__thumb:is(:focus, [data-focus]) {
    outline: none;
}
.seed-slider__thumb:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-fg-disabled);
}
.seed-slider__thumb[data-ssr] {
    display: none;
}
.seed-slider__markers {
    position: relative;
    height: var(--seed-line-height-t3);
}
.seed-slider__marker {
    position: absolute;
    top: 0;
    bottom: 0;
    width: max-content;
    left: var(--marker-left);
    right: var(--marker-right);
    transform: var(--marker-transform);
    text-align: var(--marker-text-align);
    color: var(--seed-color-fg-neutral-muted);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.seed-slider__marker:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-slider__tooltipRoot {
    display: flex;
    flex-direction: column;
    background: var(--seed-color-bg-neutral-inverted);
    padding-inline: var(--seed-dimension-x1_5);
    padding-block: var(--seed-dimension-x0_5);
    border-radius: var(--seed-radius-r1);
    color: var(--seed-color-fg-neutral-inverted);
    font-size: var(--seed-font-size-t1);
    line-height: var(--seed-line-height-t1);
    font-weight: var(--seed-font-weight-medium);
    white-space: pre-wrap;
    text-align: center;
    width: max-content;
    position: absolute;
    left: var(--tooltip-left);
    right: var(--tooltip-right);
    bottom: 100%;
    transform: translate(var(--tooltip-translateX), calc(var(--seed-dimension-x3) * -1));
    opacity: 0;
}
.seed-slider__tooltipRoot[data-dragging] {
    opacity: 1;
    animation: seed-enter;
    animation-timing-function: var(--seed-timing-function-enter);
    animation-duration: var(--seed-duration-d4);
    --seed-enter-translate-x: var(--tooltip-translateX);
    --seed-enter-translate-y: calc((1.2 - 1) * var(--seed-dimension-x5) / -2);
    --seed-enter-opacity: 0;
    --seed-enter-scale: 0.9;
}
.seed-slider__tooltipRoot:not([data-dragging]) {
    animation: seed-exit;
    animation-timing-function: var(--seed-timing-function-easing);
    animation-duration: var(--seed-duration-d4);
    animation-fill-mode: forwards;
    --seed-exit-translate-x: var(--tooltip-translateX);
    --seed-exit-translate-y: calc((1.2 - 1) * var(--seed-dimension-x5) / -2);
    --seed-exit-opacity: 0;
    --seed-exit-scale: 1;
}
.seed-slider__tooltipRoot:is(:hidden, [hidden], [data-hidden]) {
    display: none !important;
}
.seed-slider__tooltipArrow {
    width: var(--seed-dimension-x2_5);
    height: var(--seed-dimension-x2_5);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.seed-slider__tooltipArrowTip {
    display: block;
    fill: var(--seed-color-bg-neutral-inverted);
    width: var(--seed-dimension-x2_5);
    height: 7px;
}