.seed-slider__root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: var(--seed-dimension-x0_5);
}
.seed-slider__control {
    position: relative;
    height: 26px;
    display: flex;
    align-items: center;
}
.seed-slider__track {
    position: relative;
    flex-grow: 1;
    background-color: var(--seed-color-palette-gray-400);
    height: var(--seed-dimension-x1);
    border-radius: var(--seed-radius-full);
    overflow: hidden;
}
.seed-slider__range {
    position: absolute;
    height: 100%;
    background-color: var(--seed-color-fg-neutral);
    left: var(--range-left);
    right: var(--range-right);
    transition: left var(--seed-duration-d3) var(--seed-timing-function-easing), right var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-slider__range:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-fg-disabled);
}
.seed-slider__range[data-dragging] {
    transition: none;
}
.seed-slider__thumb {
    position: absolute;
    top: 50%;
    left: var(--thumb-left);
    right: var(--thumb-right);
    transform: translate(-50%, -50%);
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
    background-color: var(--seed-color-bg-neutral-inverted);
    border-radius: var(--seed-radius-full);
    transition: transform var(--seed-duration-d3) var(--seed-timing-function-easing), left var(--seed-duration-d3) var(--seed-timing-function-easing), right var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-slider__thumb[data-dragging] {
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-slider__thumb:is(:focus, [data-focus]) {
    outline: none;
}
.seed-slider__thumb:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-fg-disabled);
}
.seed-slider__thumb[data-ssr] {
    display: none;
}
.seed-slider__markers {
    position: relative;
    height: var(--seed-line-height-t3);
}
.seed-slider__marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--marker-left);
    right: var(--marker-right);
    transform: var(--marker-transform);
    text-align: var(--marker-text-align);
    color: var(--seed-color-fg-neutral-muted);
    font-weight: var(--seed-font-weight-regular);
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3);
}
.seed-slider__marker:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}