@layer ride-components {
  .ride-slider-marker {
    width: max-content;
    color: var(--ride-color-fg-neutral-muted);
    font-weight: var(--ride-font-weight-regular);
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .ride-slider-marker[data-dir="ltr"] {
    left: calc(var(--marker-position) * 1% + var(--marker-offset));
  }

  .ride-slider-marker[data-dir="rtl"] {
    right: calc(var(--marker-position) * 1% + var(--marker-offset));
  }

  .ride-slider-marker:is(:disabled, [disabled], [data-disabled]) {
    color: var(--ride-color-fg-disabled);
  }

  .ride-slider-marker--align_start[data-dir="ltr"] {
    text-align: left;
  }

  .ride-slider-marker--align_start[data-dir="rtl"] {
    text-align: right;
  }

  .ride-slider-marker--align_center {
    text-align: center;
  }

  .ride-slider-marker--align_center[data-dir="ltr"] {
    transform: translateX(-50%);
  }

  .ride-slider-marker--align_center[data-dir="rtl"] {
    transform: translateX(50%);
  }

  .ride-slider-marker--align_end[data-dir="ltr"] {
    text-align: right;
    transform: translateX(-100%);
  }

  .ride-slider-marker--align_end[data-dir="rtl"] {
    text-align: left;
    transform: translateX(100%);
  }
}
