@layer ride-components {
  .ride-slider__root {
    align-items: stretch;
    gap: var(--ride-dimension-x0_5);
    user-select: none;
    touch-action: none;
    flex-direction: column;
    width: 100%;
    display: flex;
  }

  .ride-slider__root[data-dragging] {
    cursor: grabbing;
  }

  .ride-slider__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
  }

  .ride-slider__control {
    align-items: center;
    height: 26px;
    display: flex;
    position: relative;
  }

  .ride-slider__track {
    background-color: var(--ride-color-palette-gray-400);
    height: var(--ride-dimension-x1);
    border-radius: var(--ride-radius-full);
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }

  .ride-slider__range {
    background-color: var(--ride-color-fg-neutral);
    height: 100%;
    transition: left var(--ride-duration-d3) var(--ride-timing-function-easing), right var(--ride-duration-d3) var(--ride-timing-function-easing);
    will-change: left, right;
    position: absolute;
  }

  .ride-slider__range[data-dir="ltr"] {
    left: var(--range-start);
    right: var(--range-end);
  }

  .ride-slider__range[data-dir="rtl"] {
    right: var(--range-start);
    left: var(--range-end);
  }

  .ride-slider__range:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--ride-color-fg-disabled);
  }

  .ride-slider__range[data-dragging] {
    transition: none;
  }

  .ride-slider__thumb {
    width: var(--ride-dimension-x5);
    height: var(--ride-dimension-x5);
    transition: left var(--ride-duration-d3) var(--ride-timing-function-easing), right var(--ride-duration-d3) var(--ride-timing-function-easing), opacity var(--ride-duration-d2) var(--ride-timing-function-easing);
    will-change: left, right, opacity;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .ride-slider__thumb[data-ssr] {
    opacity: 0;
  }

  .ride-slider__thumb[data-dir="ltr"] {
    left: calc(var(--thumb-position) * 1% + var(--thumb-offset));
  }

  .ride-slider__thumb[data-dir="rtl"] {
    right: calc(var(--thumb-position) * 1% + var(--thumb-offset));
  }

  .ride-slider__thumb:after {
    content: "";
    background-color: var(--ride-color-bg-neutral-inverted);
    border-radius: var(--ride-radius-full);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
    transition: transform var(--ride-duration-d3) var(--ride-timing-function-easing), outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    will-change: transform;
    cursor: grab;
    position: absolute;
    inset: 0;
  }

  .ride-slider__thumb:is(:disabled, [disabled], [data-disabled]):after {
    background-color: var(--ride-color-fg-disabled);
    cursor: not-allowed;
  }

  .ride-slider__thumb[data-dragging] {
    transition: none;
  }

  .ride-slider__thumb[data-thumb-dragging]:after {
    transform: scale(1.2);
  }

  .ride-slider__thumb:is(:focus, [data-focus]) {
    outline: none;
  }

  .ride-slider__thumb:is(:focus-visible, [data-focus-visible]):after {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .ride-slider__markers {
    height: var(--ride-line-height-t3);
    position: relative;
  }

  .ride-slider__valueIndicatorRoot {
    box-sizing: border-box;
    transition: left var(--ride-duration-d3) var(--ride-timing-function-easing), right var(--ride-duration-d3) var(--ride-timing-function-easing);
    will-change: left, right;
    background: var(--ride-color-bg-neutral-inverted);
    padding-left: var(--ride-dimension-x2);
    padding-right: var(--ride-dimension-x2);
    padding-top: var(--ride-dimension-x1);
    padding-bottom: var(--ride-dimension-x1);
    border-radius: var(--ride-radius-r1_5);
    color: var(--ride-color-fg-neutral-inverted);
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    font-weight: var(--ride-font-weight-medium);
    white-space: pre-wrap;
    text-align: center;
    width: max-content;
    min-width: calc(var(--ride-dimension-x2) * 2 + var(--ride-dimension-x2));
    flex-direction: column;
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
  }

  .ride-slider__valueIndicatorRoot[data-dir="ltr"] {
    left: calc(var(--indicator-label-position) * 1% + var(--indicator-label-offset));
    transform: translate(-50%, calc(-100% - var(--ride-dimension-x5) / 2 - var(--ride-dimension-x3)));
  }

  .ride-slider__valueIndicatorRoot[data-dir="rtl"] {
    right: calc(var(--indicator-label-position) * 1% + var(--indicator-label-offset));
    transform: translate(50%, calc(-100% - var(--ride-dimension-x5) / 2 - var(--ride-dimension-x3)));
  }

  .ride-slider__valueIndicatorRoot[data-value-indicator-shown][data-dir="ltr"] {
    animation: ride-enter;
    animation-timing-function: var(--ride-timing-function-enter);
    animation-duration: var(--ride-duration-d4);
    --ride-enter-translate-x: -50%;
    --ride-enter-translate-y: calc(-100% - var(--ride-dimension-x5) / 2 - .3125rem);
    --ride-enter-opacity: 0;
    --ride-enter-scale: .9;
  }

  .ride-slider__valueIndicatorRoot[data-value-indicator-shown][data-dir="rtl"] {
    animation: ride-enter;
    animation-timing-function: var(--ride-timing-function-enter);
    animation-duration: var(--ride-duration-d4);
    --ride-enter-translate-x: 50%;
    --ride-enter-translate-y: calc(-100% - var(--ride-dimension-x5) / 2 - .3125rem);
    --ride-enter-opacity: 0;
    --ride-enter-scale: .9;
  }

  .ride-slider__valueIndicatorRoot:not([data-value-indicator-shown])[data-dir="ltr"] {
    animation: ride-exit;
    animation-timing-function: var(--ride-timing-function-easing);
    animation-duration: var(--ride-duration-d4);
    --ride-exit-translate-x: -50%;
    --ride-exit-translate-y: calc(-100% - var(--ride-dimension-x5) / 2 - .3125rem);
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation-fill-mode: forwards;
  }

  .ride-slider__valueIndicatorRoot:not([data-value-indicator-shown])[data-dir="rtl"] {
    animation: ride-exit;
    animation-timing-function: var(--ride-timing-function-easing);
    animation-duration: var(--ride-duration-d4);
    --ride-exit-translate-x: 50%;
    --ride-exit-translate-y: calc(-100% - var(--ride-dimension-x5) / 2 - .3125rem);
    --ride-exit-opacity: 0;
    --ride-exit-scale: 1;
    animation-fill-mode: forwards;
  }

  .ride-slider__valueIndicatorRoot[data-dragging] {
    transition: none;
  }

  .ride-slider__valueIndicatorRoot:not([data-value-indicator-shown]):not([data-indicator-ever-shown]) {
    animation-duration: 0s;
  }

  .ride-slider__valueIndicatorArrow {
    width: var(--ride-dimension-x2);
    height: var(--ride-dimension-x2);
    transition: left var(--ride-duration-d3) var(--ride-timing-function-easing), right var(--ride-duration-d3) var(--ride-timing-function-easing);
    will-change: left, right;
    position: absolute;
    top: 100%;
  }

  .ride-slider__valueIndicatorArrow[data-dir="ltr"] {
    left: calc(50% + (var(--thumb-offset) - var(--indicator-label-offset)));
    transform: translateX(-50%);
  }

  .ride-slider__valueIndicatorArrow[data-dir="rtl"] {
    right: calc(50% + (var(--thumb-offset) - var(--indicator-label-offset)));
    transform: translateX(50%);
  }

  .ride-slider__valueIndicatorArrow[data-dragging] {
    transition: none;
  }

  .ride-slider__valueIndicatorArrowTip {
    fill: var(--ride-color-bg-neutral-inverted);
    width: var(--ride-dimension-x2);
    height: var(--ride-dimension-x1_5);
    display: block;
  }
}
