@layer ride-components {
  .seed-snackbar__root {
    box-sizing: border-box;
    background: var(--ride-color-bg-neutral-inverted);
    border-radius: var(--ride-radius-r2);
    width: 100%;
    max-width: 560px;
    padding-left: var(--ride-dimension-x2_5);
    padding-right: var(--ride-dimension-x2_5);
    padding-top: var(--ride-dimension-x2_5);
    padding-bottom: var(--ride-dimension-x2_5);
    min-height: 44px;
    animation: ride-enter;
    animation-timing-function: var(--ride-timing-function-enter);
    animation-duration: var(--ride-duration-d3);
    --ride-enter-translate-x: 0;
    --ride-enter-translate-y: 0;
    --ride-enter-opacity: 0;
    --ride-enter-scale: .8;
    align-items: center;
    display: flex;
  }

  .seed-snackbar__root:not([data-open]) {
    animation: ride-exit;
    animation-timing-function: var(--ride-timing-function-exit);
    animation-duration: var(--ride-duration-d2);
    --ride-exit-translate-x: 0;
    --ride-exit-translate-y: 0;
    --ride-exit-opacity: 0;
    --ride-exit-scale: .8;
    animation-fill-mode: forwards;
  }

  .seed-snackbar__root {
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: var(--ride-dimension-x0_5);
  }

  .seed-snackbar__root:is(:focus-visible, [data-focus-visible]) {
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: var(--ride-dimension-x0_5);
  }

  .seed-snackbar__content {
    padding-left: var(--ride-dimension-x1_5);
    padding-right: var(--ride-dimension-x1_5);
    justify-content: space-between;
    align-items: center;
    gap: var(--ride-dimension-x2_5);
    flex-grow: 1;
    display: flex;
  }

  .seed-snackbar__message {
    color: var(--ride-color-fg-neutral-inverted);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    font-weight: var(--ride-font-weight-regular);
    margin: 0;
  }

  .seed-snackbar__prefixIcon {
    width: 24px;
    height: 24px;
    padding-right: var(--ride-dimension-x0_5);
    flex-shrink: 0;
  }

  .seed-snackbar__actionButton {
    box-sizing: border-box;
    cursor: pointer;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: unset;
    color: var(--ride-color-fg-brand);
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    font-weight: var(--ride-font-weight-bold);
    border: none;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
    position: relative;
  }

  .seed-snackbar__actionButton:after {
    content: "";
    top: 50%;
    left: calc(-1 * var(--ride-dimension-x2));
    right: calc(-1 * var(--ride-dimension-x2));
    outline: var(--ride-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
    min-height: 44px;
    transition: outline-color var(--ride-duration-d3) var(--ride-timing-function-easing);
    background: none;
    position: absolute;
    transform: translateY(-50%);
  }

  .seed-snackbar__actionButton:is(:focus, [data-focus]) {
    outline: none;
  }

  .seed-snackbar__actionButton:is(:focus-visible, [data-focus-visible]):after {
    border-radius: var(--ride-radius-r1);
    outline: var(--ride-dimension-x0_5) solid var(--ride-color-stroke-focus-ring);
    outline-offset: calc(var(--ride-dimension-x0_5) * -1);
  }

  .seed-snackbar__prefixIcon--variant_default {
    display: none;
  }

  .seed-snackbar__prefixIcon--variant_positive {
    color: var(--ride-color-fg-positive);
  }

  .seed-snackbar__prefixIcon--variant_critical {
    color: var(--ride-color-fg-critical);
  }
}
