@layer ride-components {
  .seed-switch__root {
    box-sizing: border-box;
    vertical-align: top;
    isolation: isolate;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
    position: relative;
  }

  .seed-switch__root:is(:disabled, [disabled], [data-disabled]) {
    cursor: not-allowed;
  }

  .seed-switch__label {
    font-weight: var(--ride-font-weight-medium);
    color: var(--ride-color-fg-neutral);
    transition: opacity var(--ride-duration-d1) var(--ride-timing-function-easing);
  }

  .seed-switch__label:is(:disabled, [disabled], [data-disabled]) {
    opacity: .58;
  }

  .seed-switch__root--size_16 {
    min-height: var(--ride-dimension-x6);
    gap: var(--ride-dimension-x1_5);
    --switchmark-margin-top: calc((var(--ride-dimension-x6) - 16px) / 2);
  }

  .seed-switch__label--size_16 {
    font-size: var(--ride-font-size-t3);
    line-height: var(--ride-line-height-t3);
    margin-top: calc(var(--ride-dimension-x6) / 2 - var(--ride-line-height-t3) / 2);
  }

  .seed-switch__root--size_24 {
    min-height: var(--ride-dimension-x6);
    gap: var(--ride-dimension-x2);
    --switchmark-margin-top: calc((var(--ride-dimension-x6) - 24px) / 2);
  }

  .seed-switch__label--size_24 {
    font-size: var(--ride-font-size-t4);
    line-height: var(--ride-line-height-t4);
    margin-top: calc(var(--ride-dimension-x6) / 2 - var(--ride-line-height-t4) / 2);
  }

  .seed-switch__root--size_32 {
    min-height: var(--ride-dimension-x8);
    gap: var(--ride-dimension-x2_5);
    --switchmark-margin-top: calc((var(--ride-dimension-x8) - 32px) / 2);
  }

  .seed-switch__label--size_32 {
    font-size: var(--ride-font-size-t5);
    line-height: var(--ride-line-height-t5);
    margin-top: calc(var(--ride-dimension-x8) / 2 - var(--ride-line-height-t5) / 2);
  }
}
