.seed-tag-group__root {
    display: inline-flex;
    align-items: center
}
.seed-tag-group__delimiter {
    color: var(--seed-color-palette-gray-600);
    font-weight: var(--seed-font-weight-regular);
    white-space: pre;
    user-select: none
}
.seed-tag-group__delimiter--size_t2 {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2)
}
.seed-tag-group__delimiter--size_t3 {
    font-size: var(--seed-font-size-t3);
    line-height: var(--seed-line-height-t3)
}
.seed-tag-group__delimiter--size_t4 {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4)
}