.seed-text-field__root {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 52px;
    border-radius: var(--seed-radius-r3);
    gap: var(--seed-dimension-x2_5);
    background-color: var(--seed-color-bg-layer-fill);
    box-shadow: inset 0 0 0 1px var(--seed-color-stroke-neutral-muted);
    overflow: hidden;
}
.seed-text-field__root:not(:is([data-readonly])):is(:focus, [data-focus]) {
    background-color: var(--seed-color-bg-layer-default);
    box-shadow: inset 0 0 0 2px var(--seed-color-stroke-neutral-solid);
}
.seed-text-field__root:is(:invalid, [data-invalid]) {
    box-shadow: inset 0 0 0 2px var(--seed-color-stroke-critical-solid);
}
.seed-text-field__root:is(:invalid, [data-invalid]):is(:focus, [data-focus]) {
    box-shadow: inset 0 0 0 2px var(--seed-color-stroke-critical-solid);
}
.seed-text-field__root:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-bg-disabled);
}
.seed-text-field__value {
    box-sizing: border-box;
    font: inherit;
    padding-block: var(--seed-dimension-x2_5);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
    background: none;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
    height: 100%;
    color: var(--seed-color-fg-neutral);
}
.seed-text-field__value:first-child {
    padding-inline-start: var(--seed-dimension-x4);
}
.seed-text-field__value:last-child {
    padding-inline-end: var(--seed-dimension-x4);
}
.seed-text-field__value:is(input) {
    width: 0;
    padding-inline: 0;
}
.seed-text-field__value:is(textarea) {
    padding-inline: 0;
    min-height: 90px;
}
.seed-text-field__value::placeholder {
    color: var(--seed-color-fg-placeholder);
}
.seed-text-field__value:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__value:is(:disabled, [disabled], [data-disabled])::placeholder {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__prefixText {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__prefixText:first-child {
    margin-inline-start: var(--seed-dimension-x4);
}
.seed-text-field__prefixIcon {
    color: var(--seed-color-fg-neutral-muted);
    flex-shrink: 0;
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-text-field__prefixIcon:first-child {
    margin-inline-start: var(--seed-dimension-x4);
}
.seed-text-field__suffixText {
    color: var(--seed-color-fg-neutral-muted);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__suffixText:last-child {
    margin-inline-end: var(--seed-dimension-x4);
}
.seed-text-field__suffixIcon {
    color: var(--seed-color-fg-neutral-muted);
    flex-shrink: 0;
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-text-field__suffixIcon:last-child {
    margin-inline-end: var(--seed-dimension-x4);
}