.seed-text-field__root {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.seed-text-field__header {}
.seed-text-field__label {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-bold);
}
.seed-text-field__indicator {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-regular);
}
.seed-text-field__field {
    display: flex;
    align-items: center;
    background-color: var(--seed-color-bg-layer-default);
    border-style: solid;
    border-width: 1px;
    border-color: var(--seed-color-stroke-field);
}
.seed-text-field__field:not(:is([data-readonly])):is(:focus, [data-focus]) {
    border-color: var(--seed-color-stroke-field-focused);
}
.seed-text-field__field:is(:invalid, [data-invalid]) {
    background-color: var(--seed-color-bg-critical-weak);
    border-color: var(--seed-color-stroke-critical);
}
.seed-text-field__field:is(:invalid, [data-invalid]):is(:focus, [data-focus]) {
    background-color: var(--seed-color-bg-layer-default);
}
.seed-text-field__field:is(:disabled, [disabled], [data-disabled]) {
    background-color: var(--seed-color-bg-disabled);
}
.seed-text-field__field:is([data-readonly]) {
    background-color: var(--seed-color-bg-disabled);
}
.seed-text-field__prefixText {
    color: var(--seed-color-fg-neutral);
}
.seed-text-field__prefixText:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__prefixIcon {
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
}
.seed-text-field__prefixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__suffixText {
    color: var(--seed-color-fg-neutral);
}
.seed-text-field__suffixText:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__suffixIcon {
    color: var(--seed-color-fg-neutral);
    flex-shrink: 0;
}
.seed-text-field__suffixIcon:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__value {
    box-sizing: border-box;
    font: inherit;
}
.seed-text-field__value:is(input) {
    padding-inline: 0;
}
.seed-text-field__value:is(textarea) {
    padding-inline: 0;
    min-height: 90px;
    width: 100%;
}
.seed-text-field__value {
    background: none;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
    height: 100%;
    color: var(--seed-color-fg-neutral);
}
.seed-text-field__value::placeholder {
    color: var(--seed-color-fg-placeholder);
}
.seed-text-field__value:is(:disabled, [disabled], [data-disabled]) {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__value:is(:disabled, [disabled], [data-disabled])::placeholder {
    color: var(--seed-color-fg-disabled);
}
.seed-text-field__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.seed-text-field__description {
    font-weight: var(--seed-font-weight-regular);
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-text-field__errorMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--seed-color-fg-critical);
}
.seed-text-field__errorIcon {
    flex: none;
    flex-shrink: 0;
}
.seed-text-field__characterCountArea {
    display: flex;
    flex: none;
    margin-inline-start: auto;
}
.seed-text-field__characterCount {
    color: var(--seed-color-fg-neutral);
    font-weight: var(--seed-font-weight-regular);
}
.seed-text-field__characterCount[data-empty] {
    color: var(--seed-color-fg-neutral-subtle);
}
.seed-text-field__maxCharacterCount {
    color: var(--seed-color-fg-neutral-subtle);
    font-weight: var(--seed-font-weight-regular);
}
.seed-text-field__header--size_xlarge {
    padding-bottom: var(--seed-dimension-x3);
    gap: var(--seed-dimension-x1_5);
}
.seed-text-field__label--size_xlarge {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__indicator--size_xlarge {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__field--size_xlarge {
    min-height: 56px;
    border-radius: var(--seed-radius-r2_5);
    gap: var(--seed-dimension-x2);
    padding-inline: var(--seed-dimension-x4);
}
.seed-text-field__value--size_xlarge {
    padding-block: var(--seed-dimension-x3);
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-text-field__prefixText--size_xlarge {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-text-field__prefixIcon--size_xlarge {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-text-field__suffixText--size_xlarge {
    font-size: var(--seed-font-size-t6);
    line-height: var(--seed-line-height-t6);
}
.seed-text-field__suffixIcon--size_xlarge {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-text-field__footer--size_xlarge {
    gap: var(--seed-dimension-x3_5);
    padding-top: var(--seed-dimension-x2);
    min-height: 20px;
}
.seed-text-field__description--size_xlarge {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__errorMessage--size_xlarge {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__errorIcon--size_xlarge {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
    margin-right: var(--seed-dimension-x1);
}
.seed-text-field__characterCount--size_xlarge {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__maxCharacterCount--size_xlarge {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__header--size_large {
    padding-bottom: var(--seed-dimension-x3);
    gap: var(--seed-dimension-x1_5);
}
.seed-text-field__label--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__indicator--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__field--size_large {
    min-height: 52px;
    border-radius: var(--seed-radius-r2_5);
    gap: var(--seed-dimension-x2);
    padding-inline: var(--seed-dimension-x4);
}
.seed-text-field__value--size_large {
    padding-block: var(--seed-dimension-x3);
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__prefixText--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__prefixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-text-field__suffixText--size_large {
    font-size: var(--seed-font-size-t5);
    line-height: var(--seed-line-height-t5);
}
.seed-text-field__suffixIcon--size_large {
    width: var(--seed-dimension-x5);
    height: var(--seed-dimension-x5);
}
.seed-text-field__footer--size_large {
    gap: var(--seed-dimension-x3_5);
    padding-top: var(--seed-dimension-x2);
    min-height: 20px;
}
.seed-text-field__description--size_large {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__errorMessage--size_large {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__errorIcon--size_large {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
    margin-right: var(--seed-dimension-x1);
}
.seed-text-field__characterCount--size_large {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__maxCharacterCount--size_large {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__header--size_medium {
    padding-bottom: var(--seed-dimension-x3);
}
.seed-text-field__label--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__indicator--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__field--size_medium {
    min-height: 40px;
    border-radius: var(--seed-radius-r2);
    gap: var(--seed-dimension-x1_5);
    padding-inline: var(--seed-dimension-x3_5);
}
.seed-text-field__value--size_medium {
    padding-block: var(--seed-dimension-x2_5);
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__prefixText--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__prefixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-text-field__suffixText--size_medium {
    font-size: var(--seed-font-size-t4);
    line-height: var(--seed-line-height-t4);
}
.seed-text-field__suffixIcon--size_medium {
    width: var(--seed-dimension-x4);
    height: var(--seed-dimension-x4);
}
.seed-text-field__footer--size_medium {
    gap: var(--seed-dimension-x3_5);
    padding-top: var(--seed-dimension-x2);
    min-height: var(--seed-dimension-x4);
}
.seed-text-field__description--size_medium {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__errorMessage--size_medium {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__errorIcon--size_medium {
    width: var(--seed-dimension-x3_5);
    height: var(--seed-dimension-x3_5);
    margin-right: var(--seed-dimension-x1);
}
.seed-text-field__characterCount--size_medium {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}
.seed-text-field__maxCharacterCount--size_medium {
    font-size: var(--seed-font-size-t2);
    line-height: var(--seed-line-height-t2);
}