.seed-time-picker__root {
    width: 100%;
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-neutral);
}
.seed-time-picker__scrollFog {}
.seed-time-picker__columns {}
.seed-time-picker__selectionIndicator {
    border-radius: var(--seed-radius-r2);
    background-color: var(--seed-color-bg-neutral-weak);
}
.seed-time-picker__periodColumn {
    flex: 0 0 auto;
    outline: none;
}
.seed-time-picker__periodColumn[data-disabled] {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-disabled);
}
.seed-time-picker__periodColumn :is([aria-selected=true], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    border-radius: var(--seed-radius-r2);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-time-picker__periodColumn.seed-time-picker__periodColumn:is(:focus-visible, [data-focus-visible]):not([data-wheel-picker-pointer-focus]) :is([aria-selected=true], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
}
.seed-time-picker__hourColumn {
    flex: 0 0 auto;
    outline: none;
}
.seed-time-picker__hourColumn[data-disabled] {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-disabled);
}
.seed-time-picker__hourColumn :is([aria-selected=true], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    border-radius: var(--seed-radius-r2);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-time-picker__hourColumn.seed-time-picker__hourColumn:is(:focus-visible, [data-focus-visible]):not([data-wheel-picker-pointer-focus]) :is([aria-selected=true], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
}
.seed-time-picker__hourColumn {
    --seed-wheel-picker-item-justify-content: flex-end;
}
.seed-time-picker__minuteColumn {
    flex: 0 0 auto;
    outline: none;
}
.seed-time-picker__minuteColumn[data-disabled] {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-disabled);
}
.seed-time-picker__minuteColumn :is([aria-selected=true], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    border-radius: var(--seed-radius-r2);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
}
.seed-time-picker__minuteColumn.seed-time-picker__minuteColumn:is(:focus-visible, [data-focus-visible]):not([data-wheel-picker-pointer-focus]) :is([aria-selected=true], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
}
.seed-time-picker__item {
    --seed-wheel-picker-item-color: var(--seed-color-fg-disabled);
    padding-inline: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t10-static);
    line-height: var(--seed-line-height-t10-static);
    font-weight: var(--seed-font-weight-medium);
    font-variant-numeric: tabular-nums;
}