@layer seed-components {
  .seed-time-picker__root {
    --seed-time-picker-selected-item-color: var(--seed-color-fg-neutral);
    width: 100%;
    height: 220px;
  }

  .seed-time-picker__columns {
    justify-content: center;
  }

  .seed-time-picker__selectionIndicator {
    border-radius: var(--seed-radius-r2);
    background-color: var(--seed-color-bg-neutral-weak);
    height: 44px;
  }

  .seed-time-picker__periodColumn {
    outline: none;
    flex: none;
  }

  .seed-time-picker__periodColumn[data-disabled] {
    --seed-time-picker-selected-item-color: var(--seed-color-fg-disabled);
  }

  .seed-time-picker__periodColumn :is([aria-selected="true"], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    border-radius: var(--seed-radius-r2);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
  }

  .seed-time-picker__periodColumn.seed-time-picker__periodColumn:is(:focus-visible, [data-focus-visible]) :is([aria-selected="true"], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
  }

  .seed-time-picker__hourColumn {
    outline: none;
    flex: none;
  }

  .seed-time-picker__hourColumn[data-disabled] {
    --seed-time-picker-selected-item-color: var(--seed-color-fg-disabled);
  }

  .seed-time-picker__hourColumn :is([aria-selected="true"], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    border-radius: var(--seed-radius-r2);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
  }

  .seed-time-picker__hourColumn.seed-time-picker__hourColumn:is(:focus-visible, [data-focus-visible]) :is([aria-selected="true"], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
  }

  .seed-time-picker__hourColumn {
    --seed-time-picker-item-justify-content: flex-end;
  }

  .seed-time-picker__minuteColumn {
    outline: none;
    flex: none;
  }

  .seed-time-picker__minuteColumn[data-disabled] {
    --seed-time-picker-selected-item-color: var(--seed-color-fg-disabled);
  }

  .seed-time-picker__minuteColumn :is([aria-selected="true"], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid transparent;
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
    border-radius: var(--seed-radius-r2);
    transition: outline-color var(--seed-duration-d3) var(--seed-timing-function-easing);
  }

  .seed-time-picker__minuteColumn.seed-time-picker__minuteColumn:is(:focus-visible, [data-focus-visible]) :is([aria-selected="true"], [data-selected]) {
    outline: var(--seed-dimension-x0_5) solid var(--seed-color-stroke-focus-ring);
    outline-offset: calc(var(--seed-dimension-x0_5) * -1);
  }

  .seed-time-picker__item {
    align-items: center;
    justify-content: var(--seed-time-picker-item-justify-content, center);
    height: 44px;
    padding-inline: var(--seed-dimension-x4);
    color: var(--seed-color-fg-disabled);
    font-size: var(--seed-font-size-t10-static);
    line-height: var(--seed-line-height-t10-static);
    font-weight: var(--seed-font-weight-medium);
    font-variant-numeric: tabular-nums;
    user-select: none;
    display: flex;
  }

  .seed-time-picker__item[data-wheel-picker-indicator-overlap] {
    color: #0000;
    background-image: linear-gradient(to bottom, var(--seed-color-fg-disabled) 0%, var(--seed-color-fg-disabled) var(--seed-wheel-picker-indicator-overlap-start), var(--seed-time-picker-selected-item-color) var(--seed-wheel-picker-indicator-overlap-start), var(--seed-time-picker-selected-item-color) var(--seed-wheel-picker-indicator-overlap-end), var(--seed-color-fg-disabled) var(--seed-wheel-picker-indicator-overlap-end), var(--seed-color-fg-disabled) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
