@layer seed-components {
  .seed-time-picker__root {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-neutral);
    --seed-wheel-picker-selection-indicator-corner-radius: var(--seed-radius-r2);
    width: 100%;
    height: 220px;
  }

  .seed-time-picker__selectionIndicator {
    border-radius: var(--seed-radius-r2);
    background-color: var(--seed-color-bg-neutral-weak);
  }

  .seed-time-picker__periodColumn {
    outline: none;
    flex: none;
  }

  .seed-time-picker__periodColumn[data-disabled] {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-disabled);
  }

  .seed-time-picker__hourColumn {
    outline: none;
    flex: none;
  }

  .seed-time-picker__hourColumn[data-disabled] {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-disabled);
  }

  .seed-time-picker__hourColumn {
    --seed-wheel-picker-item-justify-content: flex-end;
  }

  .seed-time-picker__minuteColumn {
    outline: none;
    flex: none;
  }

  .seed-time-picker__minuteColumn[data-disabled] {
    --seed-wheel-picker-selected-item-color: var(--seed-color-fg-disabled);
  }

  .seed-time-picker__item {
    --seed-wheel-picker-item-color: var(--seed-color-fg-disabled);
    padding-inline: var(--seed-dimension-x4);
    font-size: var(--seed-font-size-t10-static);
    line-height: var(--seed-line-height-t10-static);
    font-weight: var(--seed-font-weight-medium);
    font-variant-numeric: tabular-nums;
  }
}
