@layer seed-components {
  .seed-wheel-picker__root {
    height: var(--seed-wheel-picker-viewport-size);
    position: relative;
    overflow: hidden;
  }

  .seed-wheel-picker__scrollFog {
    z-index: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .seed-wheel-picker__columns {
    justify-content: center;
    height: 100%;
    display: flex;
  }

  .seed-wheel-picker__column {
    box-sizing: border-box;
    overscroll-behavior-x: none;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    touch-action: pan-y;
    cursor: grab;
    width: max-content;
    height: 100%;
    padding-block: var(--seed-wheel-picker-center-offset);
    outline: none;
    overflow: hidden auto;
  }

  .seed-wheel-picker__column[data-disabled] {
    cursor: default;
    overflow-y: hidden;
  }

  .seed-wheel-picker__column[data-readonly] {
    cursor: default;
  }

  .seed-wheel-picker__column[data-wheel-picker-dragging] {
    cursor: grabbing;
    scroll-snap-type: none;
  }

  .seed-wheel-picker__column[data-wheel-picker-scrolling] {
    scroll-snap-type: none;
  }

  .seed-wheel-picker__column::-webkit-scrollbar {
    display: none;
  }

  .seed-wheel-picker__item {
    height: var(--seed-wheel-picker-item-size);
    min-height: var(--seed-wheel-picker-item-size);
    align-items: center;
    justify-content: var(--seed-wheel-picker-item-justify-content, center);
    color: var(--seed-wheel-picker-item-color);
    scroll-snap-align: center;
    user-select: none;
    display: flex;
  }

  .seed-wheel-picker__item[data-wheel-picker-indicator-overlap] {
    color: #0000;
    background-image: linear-gradient(to bottom, var(--seed-wheel-picker-item-color) 0%, var(--seed-wheel-picker-item-color) var(--seed-wheel-picker-indicator-overlap-start), var(--seed-wheel-picker-selected-item-color) var(--seed-wheel-picker-indicator-overlap-start), var(--seed-wheel-picker-selected-item-color) var(--seed-wheel-picker-indicator-overlap-end), var(--seed-wheel-picker-item-color) var(--seed-wheel-picker-indicator-overlap-end), var(--seed-wheel-picker-item-color) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .seed-wheel-picker__selectionIndicator {
    z-index: 0;
    inset-inline: 0;
    height: var(--seed-wheel-picker-item-size);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
